@font-face { font-family:'PlatformWebFontHead';font-weight:700;src:url(fonts/arquitectablack-webfont-1ad9dd0b5050ac99b440db0c7d09dc160bd640de21c02d8fb39fdc04e795df96.woff) }
@font-face { font-family:'PlatformWebFontHead';font-weight:600;src:url(fonts/arquitectaheavy-webfont-d8374e79726d95bad5ba79ae0c2b697ef9d81dbd8626da9ced9986d04417e907.woff) }
@font-face { font-family:'PlatformWebFontHead';font-weight:500;src:url(fonts/arquitectabold-webfont-d7245b8c764bcc149acb872ab57a0ebc703250cf632542984f72ad118701f0d1.woff) }
@font-face { font-family:'PlatformWebFontHead';font-weight:400;src:url(fonts/arquitectamedium-webfont-0066420ce1d4e170f8df677bba8576af31bada170c2a701cb0a113846ef9eea6.woff) }
@font-face { font-family:'PlatformWebFontHead';font-weight:300;src:url(fonts/arquitecta-webfont-79c40a5bf14cf20e587c9ea265633e0d8eeef73d8da4eee9a0d3658e66a01194.woff) }
@font-face { font-family:'PlatformWebFontHead';font-weight:200;src:url(fonts/arquitectabook-webfont-f3de5f072b00d262bcaaa4286e95c910d4db30c0f3bfcf0c818c6d583e18c134.woff) }
@font-face { font-family:'PlatformWebFontHead';font-weight:100;src:url(fonts/arquitectathin-webfont-aaa0f9197c62ceb49fbf4c44f1aaddf62758d7677125a4c2bd64587b6b63a034.woff) }
@font-face { font-family:'ProximaNova'; font-weight: 300; src: url( fonts/proximanova-regular.otf ) }
@font-face { font-family:'Futura'; font-weight: 300; src: url( fonts/futura-media.otf ) }
