a { text-decoration: none; cursor: pointer; }
.principal {
	width: 1320px;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 10px;
	box-sizing: border-box;
}
.boton {
	font-size: 20px;
	transition: all 0.4s;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px 30px;
    display: block;
    border-radius: 4px;
    min-width: 0;
    border: 1px solid var( --blanco );
    background-color: var( --negro );
    color: var( --blanco );
}
.boton:hover { background-color: var( --blanco ); color: var( --negro ); border: 1px solid var( --negro ); }
.boton.claro { background-color: var( --blanco ); color: var( --negro ); border: 1px solid var( --negro ); }
.boton.claro:hover { background-color: var( --negro ); color: var( --blanco ); }
.boton.inline { display: inline-block; }
.vacio { background: #FFE9EA !important; border: 1px solid #ff0000 !important; }
.hide { display: none; }
.fila {
	zoom: 1;
	width: 100%;
	box-sizing: border-box;
}
.fila:before, .fila:after {
	content: '';
	display: table;
}
.fila:after {
	clear: both;
}
.cinco { width: 5%; float: left; box-sizing: border-box; }
.diez { width: 10%; float: left; box-sizing: border-box; }
.diezSeisSesentaSeis { width: 16.66%; float: left; box-sizing: border-box; }
.diezOcho { width: 18%; float: left; box-sizing: border-box; }
.diezSeis { width: 16.6%; float: left; box-sizing: border-box; }
.quince { width: 15%; float: left; box-sizing: border-box; }
.veinte { width: 20%; float: left; box-sizing: border-box; }
.veinteTres { width: 23.3%; float: left; box-sizing: border-box; }
.veinteCinco { width: 25%; float: left; box-sizing: border-box; }
.treinta { width: 30%; float: left; box-sizing: border-box; }
.treintaTres { width: 33.3%; float: left; box-sizing: border-box; }
.treintaCinco { width: 35%; float: left; box-sizing: border-box; }
.cuarenta { width: 40%; float: left; box-sizing: border-box; }
.cuarentaCinco { width: 45%; float: left; box-sizing: border-box; }
.cincuenta { width: 50%; float: left; box-sizing: border-box; }
.cincuentaCinco { width: 55%; float: left; box-sizing: border-box; }
.sesenta { width: 60%; float: left; box-sizing: border-box; }
.sesentaCuatro { width: 64%; float: left; box-sizing: border-box; }
.sesentaSeis { width: 66.6%; float: left; box-sizing: border-box; }
.setenta { width: 70%; float: left; box-sizing: border-box; }
.setentaCinco { width: 75%; float: left; box-sizing: border-box; }
.ochenta { width: 80%; float: left; box-sizing: border-box; }
.noventa { width: 90%; float: left; box-sizing: border-box; }
.cPad { padding: 8px; }
.cPadBig { padding: 15px; }
.full { width: 100%; box-sizing: border-box; }
.tCenter { text-align: center; }
.tRight { text-align: right; }
.tLeft { text-align: left; }
.tJustify { text-align: justify; }
.fullImg { width: 100%; height: auto; }
.cPointer { cursor: pointer; }
.centraVertical { display: table; }
.centraVertical .centrado { display: table-cell; vertical-align: middle; width: 100%; }
input, textarea, select {
	padding: 11px;
	font-size: 16px;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid var( --grisLetras );
}
textarea { min-height: 100px; }
::-webkit-input-placeholder {
	color: var( --grisLetras );
}
input[type="checkbox"] {
	width: 30px;
	padding: 0;
}
.mTop { margin-top: 50px; }
.sociales a {
	text-align: center;
	display: inline-block;
	border-radius: 100%;
	position: relative;
	width: 35px;
	height: 35px;
	background-color: var( --negro );
	border: 1px solid var( --negro );
}
.sociales a i {
	color: var( --blanco );
	font-size: 20px;
	margin: 7px 3px;
	position: relative;
	z-index: 1;
}
.sociales a span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	width: 0;
	background-color: var( --blanco );
}
.sociales a:hover span {
	width: 100%;
	height: 100%;
	border-radius: 100%;
	top: 0;
	left: 0;
}
.sociales a:hover i {
	color: var( --negro );
}
img { max-width: 100%; }
.cargando {
	z-index: 9999999;
	position: fixed;
	width: 100%;
	text-align: center;
	top: 40%;
	left: 0;
	display: none;
	text-align: center;
	color: var( --blanco );
	background: rgba( 0, 0, 0, 0.7 );
	padding: 20px;
	box-sizing: border-box;
}
.cargando i { font-size: 65px; }
.cargando h3 { color: var( --blanco ); }
.capaNegra {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10001;
	background-color: var( --negro );
	opacity: 0.7;
	display: none;
}
.vuelveTop {
	position: fixed;
	right: 20px;
	bottom: 50px;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	text-align: center;
	background-color: var( --cafe );
	color: var( --blanco );
	border: 1px solid var( --blanco );
	box-sizing: border-box;
	padding: 10px;
	font-size: 20px;
	display: none;
	z-index: 99999;
}
.popup {
	position: fixed;
	width: 500px;
	max-width: 90%;
	z-index: 10002;
	padding: 20px;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -2000px;
	transition: all 0.5s;
	box-sizing: border-box;
	background-color: var( --blanco );
}
.popup .cierra {
	z-index: 1;
	cursor: pointer;
	color: var( --negro );
	font-size: 20px;
	position: absolute;
	right: 20px;
}
.popup.popupActivo {
	top: 50%;
	transform: translateY(-55%);
}
.popup#instagramPopup {
	width: 800px;
	padding: 0;
}
.popup#instagramPopup #principal {
	position: relative;
	text-align: center;
}
.popup#instagramPopup #principal iframe {
	width: 100%;
	height: 500px;
	border: none;
	margin-bottom: -10px;
}
.popup#instagramPopup .headInstagram {
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
.popup#instagramPopup .headInstagram .capaPerfil {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	float: left;
	margin-right: 10px;
	border: 2px solid var( --azul );
}
.popup#instagramPopup .headInstagram .capaPerfil img {
	width: 100%;
	height: auto;
}
.popup#instagramPopup .headInstagram .userData {
	box-sizing: border-box;
	padding: 3px 0;
}
.popup#instagramPopup .commentsInstagram {
	padding: 0 15px;
	box-sizing: border-box;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	display: none;
}
.popup#instagramPopup .commentsInstagram .comentario {
	box-sizing: border-box;
	width: 100%;
	margin: 20px 0;
}
.popup#instagramPopup .commentsInstagram .comentario span {
	display: block;
	width: 100%;
	color: #ccc;
}
.popup#instagramPopup .cierra {
	right: -20px;
	top: -20px;
	color: var( --blanco );
	position: absolute;
}