@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url( 'colores.css?v=3' );
@import url( 'general.css?v=4' );
body {
	margin: 0;
	font-family: 'PlatformWebFont';
	font-size: 16px;
}
header {
	width: 100%;
	position: fixed;
	box-sizing: border-box;
	padding: 10px 50px;
	top: 0;
	z-index: 1000;
	background-color: var( --blanco );
}
.logoImg { height: auto; width: 220px; }
.bMobile { display: none; }
.cierraMobile { display: none; }
.dMenu {
	width: 500px;
	float: right;
}
.menu {
	padding-left: 0;
	display: flex;
	list-style: none;
	float: right;
	margin: 0;
}
.menu li { margin-right: 32px; text-align: right; }
.menu li a {
	text-transform: uppercase;
	letter-spacing: 0.08em;
	font-size: 16px;
	color: var( --negro );
	text-decoration: none;
	white-space: nowrap;
}
.menu li a span {
	display: block;
	width: 0;
	border-bottom: 1px solid var( --negro );
	transition: all 0.5s;
}
.menu li a:hover > span { width: 100%; }
.lenguaje {
	width: 186px;
	height: 0;
	padding: 0 30px;
	display: block;
	list-style: none;
	position: absolute;
	background-color: var( --blanco );
	z-index: 1;
	box-shadow: rgba( 0, 0, 0, 0.24 ) 0 2px 2px;
	box-sizing: border-box;
	overflow: hidden;
	transition: all 0.5s;
	right: 50px;
}
.menu li:hover > .lenguaje { height: 156px; padding: 20px 30px; }
.linea { width: 100%; height: 1px; background-color: var( --grisLinea ); }
.lenguaje li { margin-right: 0; }
.lenguaje li a {
	text-align: left;
	font-size: 18px;
	display: block;
	padding: 8px;
	box-sizing: border-box;
	text-transform: capitalize;
	font-family:'PlatformWebFont';
}
main { padding-top: 72px; box-sizing: border-box; padding-bottom: 30px; }
.videoHead {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	background-color: var( --blanco );
}
.videoHead video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}
.videoHead .mensaje {
	top: 0;
	position: absolute;
	margin: 0 auto;
	padding: 0 50px;
	-webkit-box-pack: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	display: flex;
	box-sizing: border-box;
}
.videoHead .mensaje .textos {
	text-align: center;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	width: 100%;
	max-width: 1320px;
	display: flex;
	box-sizing: border-box;
	color: var( --blanco );
	font-family: 'Montserrat', sans-serif;
}
.centraDiv { margin: 0 auto; right: 0; left: 0; }
.videoHead .mensaje .textos h1 { font-size: 48px; font-weight: 700; margin-bottom: 15px; text-transform: uppercase; font-family: PlatformWebFontHead; }
.videoHead .mensaje .textos h3 { font-size: 23px; font-weight: 300; margin-bottom: 40px; font-family: PlatformWebFont; }
.videoHead .mensaje .textos .boton { margin: 0 auto; }
h1.titulo {
	font-size: 48px;
	font-weight: 700;
	letter-spacing: 0.08em;
	line-height: 105%;
	width: 900px;
	max-width: 100%;
}
h3.subtitulo {
	font-size: 23px;
	font-weight: 300;
	color: var( --grisOscuro );
	width: 900px;
	max-width: 100%;
	padding-top: 15px;
	font-family: PlatformWebFont;
}
.seccion {
	box-sizing: border-box;
	padding: 50px;
	position: relative;
}
.seccion.margen { padding: 0 50px; margin: 50px 0; }
.categoriaHome { cursor: pointer; }
.categoriaHome.meetings { cursor: initial; }
.categoriaHome h4 {
	margin-top: 16px;
	font-size: 20px;
	text-transform: uppercase;
	color: var( --grisOscuro );
	letter-spacing: 0.08em;
	line-height: 105%;
	font-weight: 600;
	margin-bottom: 0;
}
.categoriaHome h4:after, .categoriaHome.meetings .link:after {
	font-family: "Font Awesome 5 Free";
	content: "\f054";
	font-size: 16px;
	margin-left: 16px;
}
.categoriaHome.meetings h4:after, .categoriaHome.videoCoach h4:after { content: ""; }
.categoriaHome p {
	font-family: PlatformWebFont;
	margin-top: 3px;
	font-size: 18px;
}
.videoFramePost {
    object-fit: cover;
    width: 100%;
    vertical-align: middle;
    height: 550px;
}
.contentImage {
	position: absolute;
	top: 0;
}
.contentImage.left { left: 0; }
.contentImage.right { right: 0; }
.contentImage img {
	max-width: 100%;
    object-fit: cover;
    width: 55vw;
    vertical-align: middle;
}
.contentImage .videoFrameHome {
	max-width: 100%;
    object-fit: cover;
    width: 55vw;
    vertical-align: middle;
    height: 35vw;
}
.contentText {
	margin: 0 auto;
	-webkit-box-pack: center;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
}
.contentText .principal {
	flex-direction: column;
	display: flex;
	-webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
}
.contentText .texto.left { align-self: start; }
.contentText .texto.right { align-self: flex-end; }
.contentText .texto {
	max-width: 480px;
    -webkit-box-align: start;
    align-items: start;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
	margin-top: 0px;
	display: flex;
	text-align: left;
}
.contentText .texto h1 { margin: 0; }
.contentText .texto h3 {
	padding-top: 15px;
	padding-bottom: 37px;
	font-size: 23px;
	font-family: PlatformWebFont;
	letter-spacing: normal;
	line-height: 170%;
	font-weight: 300;
	color: var( --grisOscuro );
	margin: 0;
}
.swiper-slide h4 {
	font-size: 16px;
	letter-spacing: 0.08em;
	line-height: 105%;
	text-transform: uppercase;
	font-weight: 600;
	margin: 0;
	margin-top: 16px;
}
.swiper-slide p {
	margin-top: 9px;
	font-size: 18px;
	font-family: PlatformWebFont;
	letter-spacing: normal;
	line-height: 170%;
	font-weight: 300;
}
.boton.home { margin: 0 auto; margin-bottom: 50px; }
.boton.home.mTop { margin-top: 50px; }
.swiper-container { padding-top: 50px; }
.botonesSwipe {
	position: absolute;
	top: 25px;
	width: 44px;
    height: 44px;
    border-radius: 50%;
    font-size: 23px;
    color: var( --grisOscuro );
    text-align: center;
    box-sizing: border-box;
}
.botonesSwipe:hover { border: 1px solid var( --grisOscuro ); }
.swiper-button-next:after, .swiper-button-prev:after { content: ''; }
.swiper-button-prev { right: 60px; left: initial; }
.newsletter {
	-webkit-box-pack: center;
	justify-content: center;
	width: 100%;
	display: flex;
	background-color: var( --negro );
	color: var( --blanco );
	min-height: 212px;
	margin-top: 100px;
	box-sizing: border-box;
}
.newsletter .principal { flex-direction: row; margin-top: auto; margin-bottom: auto; display: flex; }
.newsletter .texto { max-width: 58%; }
.newsletter .texto h1 { margin: 0; font-size: 36px; }
.newsletter .texto h3 { color: var( --blanco ); margin: 0; }
.newsletter .campo {
	width: 500px;
	flex-direction: row;
	-webkit-box-align: stretch;
    align-items: stretch;
    padding-left: 16px;
	-webkit-box-pack: end;
    justify-content: flex-end;
	flex: 1 1 0%;
	display: flex;
	margin-top: auto;
	margin-bottom: auto;
}
.pageHead {
	background-color: var( --grisClaro );
	text-align: center;
	padding: 30px 0;
	background-position: top center;
	background-size: cover;
}
.pageHead h1 {
	margin: 0;
	font-size: 60px;
    letter-spacing: 7px;
    line-height: 60px;
    text-transform: uppercase;
}
.pageHead h2 {
	font-size: 25px;
    font-weight: 500;
	letter-spacing: 3px;
    line-height: 37px;
    margin-bottom: 0;
}
.couchList {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
}
.couch {
	width: 16.666666667%;
	margin: 15px 0;
	padding: 0 15px;
	box-sizing: border-box;
	font-size: 16px;
	height: auto;
}
.couch .img {
	margin: 0 auto;
	margin-bottom: 15px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
}
.couch h4 {
	font-size: 18px;
	line-height: 24px;
	font-family: PlatformWebFont;
	text-align: center;
	text-transform: uppercase;
}
.menuCategoria { text-align: center; display: flex; -webkit-box-pack: center; justify-content: center; }
.menuCategoria a {
	text-transform: uppercase;
	letter-spacing: 0.08em;
	font-size: 20px;
	color: var( --negro );
	text-decoration: none;
	margin-right: 15px;
    padding-bottom: 10px;
    font-weight: 300;
}
.menuCategoria a span {
	display: block;
	width: 0;
	border-bottom: 1px solid var( --negro );
	transition: all 0.5s;
}
.menuCategoria a:hover > span { width: 100%; }
.productoLista { display: flex; }
.productoLista .filtros {
	flex-shrink: 0;
    padding: 0 30px 0 0;
    width: 227px;
    position: relative;
    z-index: 1000;
}
.filtro input {
	margin: 4px 0 0;
	position: absolute;
}
.filtro {
    line-height: 1.1;
    font-size: 20px;
    font-weight: 200;
}
.productoLista .listado {
	position: relative;
    flex: 1 1;
    display: flex;
}
.productoLista .fila .video, .productoLista .filaFlex .video, .productoSerie .filaFlex .video {
	width: 33.3%;
	box-sizing: border-box;
	padding: 15px;
	text-align: center;
	position: relative;
}

.videoCoach span, .productoLista .fila .video span, .productoLista .filaFlex .video span, .productoSerie .filaFlex .video span {
	position: absolute;
	background-color: var( --blanco );
	padding: 10px;
	text-transform: uppercase;
	margin-top: 1px;
    margin-left: 1px;
}
.productoLista .fila .video h4, .productoLista .filaFlex .video h4, .productoSerie .filaFlex .video h4 {
	margin-top: 15px;
    margin-bottom: 14px;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2.5px;
    line-height: 28px;
}
.productoLista .fila .video a, .productoLista .filaFlex .video a, .productoSerie .filaFlex .video a {
	line-height: 22px;
    font-size: 16px;
    font-family: PlatformWebFont;
    color: var( --negro );
}
.productoLista .fila .video p, .productoLista .filaFlex .video p, .productoSerie .filaFlex .video p {
	margin: 0 0 10px;
	font-weight: 200;
    font-size: 14px;
    font-family: PlatformWebFont;
    text-align: justify;
    padding: 10px 0;
    border: 1px solid var( --grisClaro );
}
label { margin-top: 15px; display: block; }
.formHide {
	display: none;
	border: 1px solid var( --negro );
	box-sizing: border-box;
	padding: 10px;
}
.formShow {
	border: 1px solid var( --negro );
	box-sizing: border-box;
	padding: 10px;
}
.abreForm {
	background-color: var( --grisClaro );
	padding: 30px;
	box-sizing: border-box;
	cursor: pointer;
	margin: 0;
}
.abreForm i { float: right; }
.pregunta { border-bottom: 1px solid var( --negro ); margin-bottom: 10px; padding-bottom: 10px; }
.pregunta label { font-size: 23px; }
.coachData, .studentData { display: none; }
.cuentaCentrada {
	float: none;
	margin: 0 auto;
	width: 870px;
	max-width: 100%;
}
.tabs {
	width: 100%;
	display: flex;
}
.tabs div {
	width: 50%;
	border: 1px solid var( --negro );
	box-sizing: border-box;
	padding: 10px;
	font-size: 18px;
	text-align: center;
	transition: all 0.5s;
	cursor: pointer;
}
div.tabContent, form.tabContent { display: none; }
.tabContent { position: relative; }
.tabs div:hover, .tabs div.selected { background-color: var( --negro ); color: var( --blanco ); }
.serieAdd { display: flex; width: 100%; }
.serieAdd select { width: 90%; }
#videoTable, #requestTable { display: none; }
.select2-container { z-index: 9999999999999; max-width: 100%; }
#divUserCall { width: 100%; }
#callTable, #callsTable, #userCall { width: 100%; }
#callTable, #callsTable { text-align: center; }
#coachCall, #studentCall { width: 880px; max-width: 90%; }
#videoPopup {
	background-color: transparent;
	border: none;
	padding: 0;
	width: 800px;
	max-width: 90%;
	height: auto;
	z-index: 11111111;
}
#videoPopup iframe { width: 100%; height: 500px; }
#videoPopup .cierra { color: var( --blanco ); z-index: 9999; }
#cierraLink { display: none; }
.select2-container--default .select2-selection--single {
	padding: 5px;
	box-sizing: border-box;
	border-radius: 0 !important;
	border: 1px solid var( --grisLetras ) !important;
	height: 42px !important;
}
table { width: 100%; }
.infoCoach { display: flex; }
.infoCoach .imagenProfile { width: 450px; box-sizing: border-box; padding: 0 15px; }
.infoCoach .imagenProfile .imgCentro {
	margin: 0 auto;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	overflow: hidden;
	text-align: center;
	margin-top: -100px;
	border: 1px solid var( --grisLetras );
}
.infoCoach .textoCoach { box-sizing: border-box; padding: 0 15px; }
.cPointer { cursor: pointer; }
.thumbCoach { height: 48px; width: auto; margin: 0 auto; }
.centroContent { width: 100%; max-width: 800px; margin: 0 auto; }
.sesionData, .privateSesion { display: none; }
.currentVideo { position: absolute; right: 10px; font-size: 14px; display: none; margin-top: -20px; }
#coachForm .currentVideo { position: relative; right: initial; margin-top: 17px; float: left; }
#coachForm label { margin-bottom: 10px; min-height: 20px; }
#coachForm .label label { float: left; margin-right: 5px; }
.divBotones { display: flex; }
.divBotones .boton { min-width: 0; }
.stopUpload { display: block; text-align: center; color: #f30; text-transform: uppercase; margin-top: 20px; }
.stopUpload i { font-size: 16px; }
.containerFrame {
	background-color: var( --negro );
	width: 100%;
	padding-top: 56.25%;
	position: relative;
}
.frameSerie {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.resaltaLink:hover {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}
.pendientes, .rechazo, .pendienteStatus { display: none; }
.coachHead {
	position: relative;
	background-color: var( --grisClaro );
	text-align: center;
	background-size: cover;
	background-repeat: none;
	background-position: center center;
}
.coachHead .contenidoHead {
	width: 100%;
	height: 100%;
	padding: 200px 0;
	background-color: rgba( 0, 0, 0, 0.5 );
}
.coachHead .contenidoHead h1 {
	margin: 0;
	font-size: 60px;
    letter-spacing: 7px;
    line-height: 60px;
    text-transform: uppercase;
    color: var( --blanco );
}
.coachHead .contenidoHead .socialNetwork { width: 100%; text-align: center; padding: 20px 0; }
.coachHead .contenidoHead .socialNetwork a {
	color: var( --blanco );
	margin: 0 10px;
	font-size: 25px;
	transition: all 0.5s;
}
.coachHead .contenidoHead .socialNetwork a:hover { color: var( --negro ); }
.serieTitulo { text-transform: uppercase; text-align: center; }
.tituloSerie { text-transform: uppercase; margin-bottom: 0 !important; }
.tituloSerie a { color: var( --negro ); font-size: 22px !important; }
.introLink { margin: 0; display: block; }
.videoCoach .introLink { margin: 20px 0; }
.videoCoach { position: relative; }
.cuantos {
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: #fff;
	border-radius: 50%;
	margin-top: -50px;
	font-size: 12px;
	z-index: 1;
	right: 20px;
	text-align: center;
	box-sizing: border-box;
	padding-top: 8px;
}
.fotoMeet { border-radius: 10px; }
.tiempoMeet, .timeZoneMeet {
	font-family: 'PlatformWebFont';
	text-transform: uppercase;
	font-size: 12px !important;
	position: absolute;
	background-color: #fff;
	padding: 8px;
	border-radius: 10px;
	margin-top: -90px !important;
	margin-left: 10px !important;
}
.timeZoneMeet {
	margin-top: -50px !important;
	background-color: #000 !important;
	color: #fff !important;
	margin-left: 0 !important;
}
.coachLink { text-transform: uppercase; padding: 5px 2px; border-bottom: 1px solid #000; margin-right: 10px; }
.circuloLink {
	text-transform: uppercase;
	padding: 5px 2px;
	border-bottom: 1px solid #000;
	margin-right: 10px;
}
.padShort { padding-bottom: 20px!important; margin-bottom: 0 !important }
.categoriaHome.meetings .link { font-size: 14px !important; }
.categoriaHome.meetings span { font-size: 18px !important; color: #000; display: block; margin: 0; margin-top: 5px; }
.categoriaHome.meetings h4 { margin-top: 5px !important; cursor: pointer; }
.categoriaHome.meetings img { cursor: pointer; }
.tituloCoachSeria { line-height: 22px !important; font-size: 16px !important; font-weight: normal !important; margin-top: 0 !important; }
span.rechazo { color: #f00; }
.borderBottom { border-bottom: 1px solid #ccc; }
footer { height: 130px; text-align: center; }
footer .menu { float: none; text-align: center; margin: 0 auto; width: 400px; }
.copyRight { margin-top: 40px; font-size: 14px; font-family: PlatformWebFont; }
.filaFlex { display: flex; flex-wrap: wrap; }
.triple { flex-grow: 1; width: 33%; box-sizing: border-box; padding: 15px; max-width: 33%; }
.doble { flex-grow: 1; width: 50%; box-sizing: border-box; padding: 15px; max-width: 50%; }
footer a { color: var( --negro ); }
footer .menu li, footer .menu li a { color: var( --negro ); text-align: center; }
.datosSerie h1 { margin-bottom: 3px; }
.datosSerie h4 { color: #999; margin-top: 0; }
.lineaGris { width: 100%; height: 1px; border-bottom: 1px solid #ccc; margin: 5px 0; }
.rechazoFila { margin-bottom: 20px; padding-bottom: 20px; }
.rechazoFila .boton { max-width: 100%; }
.mce-menu, .tox-tinymce-aux { z-index: 65537 !important; }
.llamadaPop {
	width: 90%;
	height: 90%;
	padding: 0;
	max-width: 98%;
	background-color: #000;
	border-radius: 15px;
	overflow: hidden;
}
.llamadaPop .fondo {
	background-position: center center;
	background-size: cover;
	inset: -100px;
	position: absolute;
	width: 120%;
	height: 120%;
}
.llamadaPop .detalleCall {
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 20px;
}
.llamadaPop .infoCall {
	position: absolute;
	bottom: 20px;
	color: #fff;
	width: 35%;
	box-sizing: border-box;
	padding: 10px;
	z-index: 1;
	width: 23%;
}
.llamadaPop .infoCall .tiempoMeet { color: #000; margin-left: 0 !important; }
.llamadaPop .infoCall h1 { text-transform: uppercase; font-size: 25px; margin: 10px 0; }
.llamadaPop .infoCall h2 { text-transform: uppercase; font-size: 18px; margin: 0; }
.llamadaPop .infoCall .boton { background-color: #fff; color: #000; }
.llamadaPop .infoCall .boton.deshabilitado { background-color: #ccc; color: #888; }
.llamadaPop .imagenCall {
	position: absolute;
	right: 20px;
	bottom: 20px;
	padding: 20px;
	width: 75%;
	height: 100%;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 15px;
	top: 0;
}
.llamadaPop .imagenCall span {
	position: absolute;
	text-shadow: rgb(0 0 0 / 80%) 2px 2px 15px;
	z-index: 1;
	color: #fff;
	font-size: 20px;
	padding: 10px;
}
.llamadaPop .imagenCall img { height: 100%; width: auto; max-width: initial; border-radius: 15px; }
div.filtro { margin: 9px; }
input[type="radio"] {
	border: 2px solid #bfbfbf;
    border-radius: 50%;
    display: inline-block;
    height: 15px;
    position: relative;
    vertical-align: top;
    width: 15px;
    margin-right: 5px;
}
.horaElige {
	font-size: 13px;
	letter-spacing: 1.22px;
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 5px 0;
	transition: all 0.5s;
	cursor: pointer;
}
.fraseText { color: #fff; font-size: 18px; }
/*.fraseText:before {
	font-family: "Font Awesome 5 Free";
	content: "\f10d";
	font-weight: 900;
	margin-right: 5px;
	font-size: 12px;
}*/
#cuadroSesion { display: none; }
.fraseText:after {
	font-family: "Font Awesome 5 Free";
	content: "\f10e";
	font-weight: 900;
	margin-left: 5px;
	font-size: 12px;
}
.loginSite {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 1001;
	padding: 50px;
	padding-top: 200px;
	box-sizing: border-box;
}
.circles img { border-radius: 50%; cursor: pointer; }
.circles h4 { cursor: pointer; }
.swal-overlay { z-index: 110000; }
.playVideo { cursor: pointer; }
.playVideo:before {
	position: absolute;
	font-family: "Font Awesome 5 Free";
	content: "\f144";
	font-weight: 900;
	color: #fff;
	z-index: 1;
	font-size: 40px;
	left: 48%;
    top: 40%;
}
.sinMargen { margin: 0 !important; }
.playVideo.blogPost:before { top: 25%; left: 42%; }
.smallP { font-size: 16px !important; }
.mBottom { margin-bottom: 50px; }
.bx-wrapper .bx-controls-direction a { font-size: 40px; color: #fff; }
.horaElige:hover, .horaElige.marcada { background-color: #ccc; }
.horarioScroll { height: 420px; margin: 0; overflow-y: auto; }
label[for="horarioScroll"] { margin-top: 7px; }
#studentCall .horarioScroll { height: 250px; }
.ui-datepicker, #datepicker { width: 100% !important; }
.cierra.back { color: #fff; top: 20px; left: 20px; right: initial; }
.videoFrame { width: 100%; height: 350px; }
.blue.boton { display: block; margin: 20px auto; background-color: #0080ff; width: 220px; font-size: 12px; }
.zoomLogout { display: none; }
.invitaGente { margin: 20px 0; }
.checkTodos { margin-top: -10px; }
.invitaGente input, .checkTodos input { display: inline-block; float: left; width: 20px; }
@media screen and ( max-width: 1250px ) { .videoFrame { height: 300px; } }
@media screen and ( max-width: 1100px ) { .videoFrame { height: 250px; } }
@media screen and ( max-width: 900px ) { .videoFrame { height: 200px; } }
@media screen and ( max-width: 780px ) { .videoFrame { height: 350px; } }
@media screen and ( max-width: 700px ) { .videoFrame { height: 300px; } }
@media screen and ( max-width: 640px ) { .videoFrame { height: 260px; } }
@media screen and ( max-width: 580px ) { .videoFrame { height: 280px; } }
@media screen and ( max-width: 500px ) { .videoFrame { height: 230px; } }
@media screen and ( max-width: 420px ) { .videoFrame { height: 185px; } }
@media screen and ( max-width: 1230px ) {
	.contentImage { position: relative; }
	.contentImage.right { right: initial; }
	.contentImage img { width: 100%; }
	.contentImage .videoFrameHome { width: 100%; height: 55vw; }
	.contentText { height: auto; display: block; }
	.contentText .texto { width: 100%; text-align: center; max-width: initial; }
	.contentText .texto h1.titulo { width: 100%; text-align: center; margin-top: 50px; }
	.contentText .texto .boton { margin: 0 auto; }
}
@media screen and ( max-width: 1090px ) {
	.newsletter { padding: 50px 20px; }
	.newsletter, .newsletter .principal { display: block; text-align: center; }
	.newsletter .texto { width: 100%; max-width: initial; }
	.newsletter .campo { margin: 0 auto; width: 440px; margin-top: 20px; }
	.couch { width: 25%; }
	.sessionList .veinteCinco { width: 50% }
}
@media screen and ( max-width: 1023px ) {
	.listaFiltrados .veinte, .listaFiltrados .ochenta { width: 100%; float: none; }
	.listaFiltrados .veinte .lf { display: flex; }
}
@media screen and ( max-width: 950px ) {
	.videoFramePost { height: 50vw; }
	.productoSerie .filaFlex .video, .filaFlex .videoCoach { width: 50%; max-width: 50%; }
	.categoriasCuadros .veinteCinco { width: 50%; }
	.sesionData .veinteCinco, .productoLista .fila .video, .productoLista .filaFlex .video { width: 50%; }
	.rechazoFila .sesenta, .rechazoFila .cuarenta { width: 100%; float: none; }
	.rechazoFila { border-bottom: 1px solid #ccc; text-align: center; }
	.llamadaPop .infoCall { width: 45%; left: 0; padding: 20px; background: linear-gradient(to right, rgba(255,255,255,0.7), transparent );}
	.llamadaPop .infoCall .tiempoMeet { margin-top: -90px !important; }
}
@media screen and ( max-width: 833px ) {
	.dMenu {
		display: none;
		position: fixed;
		top: 0;
		width: 100%;
		float: none;
		background-color: var( --negro );
		padding: 20px;
		margin-left: -50px;
		height: 100%;
		box-sizing: border-box;
	}
	.menu {
		display: block;
		width: 100%;
		float: none;
		margin: 0;
	}
	.menu li { width: 100%; text-align: left; margin-right: 0; padding: 8px 0; }
	.menu li a { color: var( --blanco ); font-size: 18px; }
	.menu li.iniciaLink, .menu li.cuentaLink { border-top: 1px solid var( --blanco ); margin-top: 5px; }
	.cierraMobile { display: block; text-align: right; color: var( --blanco ); font-size: 20px; }
	.bMobile { display: block; position: absolute; right: 30px; top: 15px; font-size: 40px; color: var( --negro ); }
	.couch { width: 33.3%; }
	.listaFiltrados .veinte .lf .filtro { font-size: 16px; }
}
@media screen and ( max-width: 780px ) {
	.llamadaPop .detalleCall { width: 100%; }
	.productoSerie .filaFlex .video, .filaFlex .videoCoach { width: 100%; max-width: 100%; }
	h1.titulo{font-size:32px;}
	.signUp .cincuenta { width: 100%; float: none; }
	.coachHead .contenidoHead { padding: 100px 0; }
	.coachHead .contenidoHead h1 { font-size: 40px; }
	.infoCoach { display: block; }
	.infoCoach .imagenProfile, .infoCoach .textoCoach { width: 100%; }
	.infoCoach .imagenProfile { margin-bottom: 20px; }
	.videoCoach { width: 100%; float: none; }
	.doble { width: 100%; max-width: 100%; }
	.listaFiltrados .veinte .lf .filtro { font-size: 14px; }
	#coachCall .treintaTres, #studentCall .treintaTres { width: 100%; float: none; }
	#coachCall, #studentCall { max-height: 90%; overflow-y: auto; }
	.horarioScroll { height: 250px; }
}
@media screen and ( max-width: 680px ) {
	.videoHead { min-height: 400px; }
	.videoHead.sinVideo { min-height: initial; }
	.videoHead.sinVideo .mensaje .textos h1 { font-size: 35px; margin-bottom: 10px; }
	.videoHead.sinVideo .mensaje .textos h3 { font-size: 18px; margin: 10px; }
	.videoHead.sinVideo .mensaje .textos .boton { font-size: 15px; padding: 10px 15px; width: auto; min-height: initial; }
	.sesionData .veinteCinco, .productoLista .fila .video, .productoLista .filaFlex .video { width: 100%; float: none; }
	.listaFiltrados .veinte .lf .filtro { font-size: 18px; }
	.listaFiltrados .veinte .lf { display: block; }
	.listaFiltrados .veinte { text-align: center; }
	.llamadaPop .infoCall { width: 100%; }
	.llamadaPop .imagenCall { width: 100%; right: initial; bottom: initial; left: 0; padding: 0; }
	.llamadaPop .imagenCall span { top: 70px; text-align: center; width: 100%; }
}
@media screen and ( max-width: 580px ) {
	.videoFramePost { height: 55vw; }
	.sessionList .veinteCinco { width: 100%; float: none; }
	.principal { padding: 0; }
	.categoriasCuadros .veinteCinco { width: 100%; float: none; }
	.seccion { padding: 20px; }
	.seccion.margen { padding: 0 20px; }
	.pageHead h1 { font-size: 40px; }
	.pageHead h2 { font-size: 20px; }
	.couch { width: 50%; }
	.pregunta .setenta, .pregunta .treinta { width: 100%; float: none; }
}
@media screen and ( max-width: 520px ) {
	.newsletter .campo { width: 90%; display: block; box-sizing: border-box; padding: 0; }
	.videoHead .mensaje .textos h1 { font-size: 30px; margin-bottom: 0; }
	.videoHead .mensaje .textos h3 { font-size: 18px; margin: 20px 0; }
	.videoHead.sinVideo .mensaje .textos h1 { font-size: 20px; }
	.videoHead.sinVideo .mensaje .textos h3 { font-size: 15px; }
	.videoHead.sinVideo .mensaje .textos .boton { font-size: 12px; padding: 10px; }
}
@media screen and ( max-width: 400px ) {
	.playVideo:before { left: 45%; }
	.videoHead.sinVideo .mensaje .textos .boton { display: none; }
	.productoLista .fila .video span, .productoLista .filaFlex .video span, .videoCoach span { display: none; }
	.couch { width: 100%; }
	.videoHead .mensaje .textos .boton { display: none; }
	.coachHead .contenidoHead h1 { font-size: 30px; }
}