extends  _skeleton

block body
  body.form-inputs-page
    // Start: Theme Preview Pane
    #skin-toolbox
      .panel
        .panel-heading
          span.panel-icon
            i.fa.fa-gear.text-primary
          span.panel-title  Theme Options
        .panel-body.pn
          ul.nav.nav-list.nav-list-sm.pl15.pt10(role='tablist')

            li.active
              a(href='#toolbox-sidebar', role='tab', data-toggle='tab') Sidebar
            li
              a(href='#toolbox-settings', role='tab', data-toggle='tab') Misc
          .tab-content.p20.ptn.pb15

            #toolbox-sidebar.tab-pane.active(role='tabpanel')
              form#toolbox-sidebar-skin
                h4.mv20 Sidebar Skins
                .skin-toolbox-swatches
                  .checkbox-custom.fill.mb5
                    input#sidebarSkin3(type='radio', name='sidebarSkin', checked='', value='')
                    label(for='sidebarSkin3') Dark
                  .checkbox-custom.fill.checkbox-disabled.mb5
                    input#sidebarSkin1(type='radio', name='sidebarSkin', value='sidebar-light')
                    label(for='sidebarSkin1') Light
                  .checkbox-custom.fill.checkbox-light.mb5
                    input#sidebarSkin2(type='radio', name='sidebarSkin', value='sidebar-light light')
                    label(for='sidebarSkin2') Lighter
            #toolbox-settings.tab-pane(role='tabpanel')
              form#toolbox-settings-misc
                h4.mv20.mtn Layout Options

                .form-group
                  .checkbox-custom.fill.mb5
                    input#sidebar-option(type='checkbox', checked='')
                    label(for='sidebar-option') Fixed Sidebar

                h4.mv20 Layout Options
                .form-group
                  .radio-custom.mb5
                    input#fullwidth-option(type='radio', checked='', name='layout-option')
                    label(for='fullwidth-option') Fullwidth Layout
                .form-group.mb20.pointer-events-none
                  .radio-custom.radio-disabled.mb5
                    input#boxed-option(type='radio', name='layout-option', disabled='')
                    label(for='boxed-option')
                      | Boxed Layout
                      b.text-muted (Coming Soon)
          .form-group.mn.br-t.p10
            a#clearLocalStorage.btn.btn-primary.btn-block.pb10.pt10(href='#') Clear LocalStorage
    // Start: Main
    #main
      // Start: Sidebar
      aside#sidebar_left.nano.nano-light.affix
        // Navbar Branding
        .navbar-branding
          a.navbar-brand(href='dashboard.html')
            span.text-white Ruby
            = ' '
            | Admin
          span#toggle_sidemenu_l.ad.ad-lines
        // Start: Sidebar Left Content
        .sidebar-left-content.nano-content
          // Start: Sidebar Header
          header.sidebar-header
            // Sidebar Widget - Author
            .sidebar-widget.author-widget
              .media
                a.media-left(href='#')
                  img.img-responsive(src='assets/img/avatars/3.jpg')
                .media-body
                  .media-links
                  .media-author Ryan Harrison
                  a.sidebar-menu-toggle(href='#') User Menu
                  a(href='pages_login(alt).html') Logout
            // Sidebar Widget - Menu (slidedown)
            .sidebar-widget.menu-widget
              .row.text-center.mbn
                .col-xs-4
                  a.text-primary(href='dashboard.html', data-toggle='tooltip', data-placement='top', title='Dashboard')
                    span.glyphicon.glyphicon-home
                .col-xs-4
                  a.text-info(href='pages_messages.html', data-toggle='tooltip', data-placement='top', title='Messages')
                    span.glyphicon.glyphicon-inbox
                .col-xs-4
                  a.text-alert(href='pages_profile.html', data-toggle='tooltip', data-placement='top', title='Tasks')
                    span.fa.fa-asterisk
              .row.text-center.mbn
                .col-xs-4
                  a.text-system(href='pages_timeline.html', data-toggle='tooltip', data-placement='top', title='Activity')
                    span.fa.fa-desktop
                .col-xs-4
                  a.text-danger(href='pages_profile.html', data-toggle='tooltip', data-placement='top', title='Settings')
                    span.fa.fa-gears
                .col-xs-4
                  a.text-warning(href='pages_gallery.html', data-toggle='tooltip', data-placement='top', title='Cron Jobs')
                    span.fa.fa-flask
            // Sidebar Widget - Search (hidden)
            .sidebar-widget.search-widget.hidden
              .input-group
                span.input-group-addon
                  i.fa.fa-search
                input#sidebar-search.form-control(type='text', placeholder='Search...')
          // Start: Sidebar Menu
          ul.nav.sidebar-menu
            li.sidebar-label.pt30 Menu
            li
              a(href='pages_calendar.html')
                span.fa.fa-calendar
                span.sidebar-title Calendar
                span.sidebar-title-tray
                  span.label.label-xs.bg-primary New
            li
              a(href='documentation/')
                span.glyphicon.glyphicon-book
                span.sidebar-title Documentation
            li.active
              a(href='dashboard.html')
                span.glyphicon.glyphicon-home
                span.sidebar-title Dashboard
            li.sidebar-label.pt15 Exclusive Tools
            li
              a.accordion-toggle(href='#')
                span.fa.fa-columns
                span.sidebar-title Admin Layouts
                span.caret
              ul.nav.sub-nav
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa.fa-arrows-h
                    |                   Sidebars
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_sidebar-left-static.html')
                        | Left Static
                    li
                      a(href='layout_sidebar-left-fixed.html')
                        | Left Fixed
                    li
                      a(href='layout_sidebar-left-widgets.html')
                        | Left Widgets
                    li
                      a(href='layout_sidebar-left-minified.html')
                        | Left Minified
                    li
                      a(href='layout_sidebar-left-light.html')
                        | Left White
                    li
                      a(href='layout_sidebar-right-static.html')
                        | Right Static
                    li
                      a(href='layout_sidebar-right-fixed.html')
                        | Right Fixed
                    li
                      a(href='layout_sidebar-right-menu.html')
                        | Right w/Menu

                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-hand-o-up
                    |                   Topbar
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_topbar.html')
                        | Default Style
                    li
                      a(href='layout_topbar-menu.html')
                        | Default w/Menu
                    li
                      a(href='layout_topbar-alt.html')
                        | Alternate Style
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-arrows-v
                    |                   Content Body
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_content-blank.html')
                        | Blank Starter
                    li
                      a(href='layout_content-fixed.html')
                        | Fixed Window
                    li
                      a(href='layout_content-heading.html')
                        | Content Heading
                    li
                      a(href='layout_content-tabs.html')
                        | Content Tabs
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-pause
                    |                   Content Trays
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_tray-left.html')
                        | Tray Left Static
                    li
                      a(href='layout_tray-left-fixed.html')
                        | Tray Left Fixed
                    li
                      a(href='layout_tray-right.html')
                        | Tray Right Static
                    li
                      a(href='layout_tray-right-fixed.html')
                        | Tray Right Fixed
                    li
                      a(href='layout_tray-both.html')
                        | Left + Right Static
                    li
                      a(href='layout_tray-both-fixed.html')
                        | Left + Right Fixed
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-plus-square-o
                    |                   Boxed Layout
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_boxed.html')
                        | Default
                    li
                      a(href='layout_boxed-horizontal.html')
                        | Horizontal Menu
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-arrow-circle-o-up
                    |                   Horizontal Menu
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_horizontal-sm.html')
                        | Small Size
                    li
                      a(href='layout_horizontal-md.html')
                        | Medium Size
                    li
                      a(href='layout_horizontal-lg.html')
                        | Large Size
                    li
                      a(href='layout_horizontal-light.html')
                        | Light Skin
                    li
                      a(href='layout_horizontal-topbar.html')
                        | With Topbar
                    li
                      a(href='layout_horizontal-topbar-alt.html')
                        | With Alt Topbar
                    li
                      a(href='layout_horizontal-collapsed.html')
                        | Collapsed onLoad
                    li
                      a(href='layout_horizontal-boxed.html')
                        | In Boxed Layout
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-fire
                span.sidebar-title Admin Plugins
                span.caret
              ul.nav.sub-nav
                li
                  a(href='admin_plugins-panels.html')
                    span.glyphicon.glyphicon-book
                    |  Admin Panels
                li
                  a(href='admin_plugins-modals.html')
                    span.glyphicon.glyphicon-modal-window
                    |  Admin Modals
                li
                  a(href='admin_plugins-dock.html')
                    span.glyphicon.glyphicon-equalizer
                    |  Admin Dock
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-check
                span.sidebar-title Admin Forms
                span.caret
              ul.nav.sub-nav
                li
                  a(href='admin_forms-elements.html')
                    span.glyphicon.glyphicon-edit
                    |  Admin Elements
                li
                  a(href='admin_forms-widgets.html')
                    span.glyphicon.glyphicon-calendar
                    |  Admin Widgets
                li
                  a(href='admin_forms-validation.html')
                    span.glyphicon.glyphicon-check
                    |  Admin Validation
                li
                  a(href='admin_forms-layouts.html')
                    span.fa.fa-desktop
                    |  Admin Layouts
                li
                  a(href='admin_forms-wizard.html')
                    span.fa.fa-clipboard
                    |  Admin Wizard
            li.sidebar-label.pt20 Systems
            li
              a.accordion-toggle(href='#')
                span.fa.fa-diamond
                span.sidebar-title Widget Packages
                span.caret
              ul.nav.sub-nav
                li
                  a(href='widgets_tile.html')
                    span.fa.fa-cube
                    |  Tile Widgets
                li
                  a(href='widgets_panel.html')
                    span.fa.fa-desktop
                    |  Panel Widgets
                li
                  a(href='widgets_scroller.html')
                    span.fa.fa-columns
                    |  Scroller Widgets
                li
                  a(href='widgets_data.html')
                    span.fa.fa-dot-circle-o
                    |  Admin Widgets
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-shopping-cart
                span.sidebar-title Ecommerce
                span.caret
              ul.nav.sub-nav
                li
                  a(href='ecommerce_dashboard.html')
                    span.glyphicon.glyphicon-shopping-cart
                    |  Dashboard
                    span.label.label-xs.bg-primary New
                li
                  a(href='ecommerce_products.html')
                    span.glyphicon.glyphicon-tags
                    |  Products
                li
                  a(href='ecommerce_orders.html')
                    span.fa.fa-money
                    |  Orders
                li
                  a(href='ecommerce_customers.html')
                    span.fa.fa-users
                    |  Customers
                li
                  a(href='ecommerce_settings.html')
                    span.fa.fa-gears
                    |  Store Settings

            // sidebar resources
            li.sidebar-label.pt20 Elements
            li
              a.accordion-toggle(href='#')
                span.fa.fa-asterisk
                span.sidebar-title UI Elements
                span.caret
              ul.nav.sub-nav
                li
                  a(href='ui_alerts.html')
                    span.fa.fa-warning
                    |  Alerts
                li
                  a(href='ui_animations.html')
                    span.fa.fa-spinner
                    |  Animations
                li
                  a(href='ui_buttons.html')
                    span.fa.fa-plus-square-o
                    |  Buttons
                li
                  a(href='ui_typography.html')
                    span.fa.fa-text-width
                    |  Typography
                li
                  a(href='ui_portlets.html')
                    span.fa.fa-archive
                    |  Portlets
                li
                  a(href='ui_progress-bars.html')
                    span.fa.fa-bars
                    |  Progress Bars
                li
                  a(href='ui_tabs.html')
                    span.fa.fa-toggle-off
                    |  Tabs
                li
                  a(href='ui_icons.html')
                    span.fa.fa-hand-o-right
                    |  Icons
                li
                  a(href='ui_grid.html')
                    span.fa.fa-th-large
                    |  Grid
            li
              a.accordion-toggle.menu-open(href='#')
                span.fa.fa-align-justify
                span.sidebar-title Form Elements
                span.caret
              ul.nav.sub-nav
                li.active
                  a(href='form_inputs.html')
                    span.fa.fa-magic
                    |  Basic Inputs
                li
                  a(href='form_plugins.html')
                    span.fa.fa-bell-o
                    |  Plugin Inputs
                    span.label.label-xs.bg-primary New
                li
                  a(href='form_editors.html')
                    span.fa.fa-clipboard
                    |  Editors
                li
                  a(href='form_treeview.html')
                    span.fa.fa-tree
                    |  Treeview
                li
                  a(href='form_nestable.html')
                    span.fa.fa-tasks
                    |  Nestable
                li
                  a(href='form_image-tools.html')
                    span.fa.fa-cloud-upload
                    |  Image Tools
                    span.label.label-xs.bg-primary New
                li
                  a(href='form_uploaders.html')
                    span.fa.fa-cloud-upload
                    |  Uploaders
                li
                  a(href='form_notifications.html')
                    span.fa.fa-bell-o
                    |  Notifications
                li
                  a(href='form_content-sliders.html')
                    span.fa.fa-exchange
                    |  Content Sliders
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-tower
                span.sidebar-title Plugins
                span.caret
              ul.nav.sub-nav
                li
                  a.accordion-toggle(href='#')
                    span.glyphicon.glyphicon-globe
                    |  Maps
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='maps_basic.html') Basic Maps
                    li
                      a(href='maps_vector.html') Vector Maps
                    li
                      a(href='maps_full.html') Full Map
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-area-chart
                    |  Charts
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='charts_highcharts.html') Highcharts
                    li
                      a(href='charts_d3.html') D3 Charts
                    li
                      a(href='charts_flot.html') Flot Charts
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-table
                    |  Tables
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='tables_basic.html')  Basic Tables


                    li
                      a(href='tables_footable.html')  FooTables
                    li
                      a(href='tables_pricing.html')  Pricing Tables
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-flask
                    |  Misc
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='misc_tour.html')  Site Tour
                    li
                      a(href='misc_timeout.html')  Session Timeout
                    li
                      a(href='misc_nprogress.html')  Page Progress Loader
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-duplicate
                span.sidebar-title Pages
                span.caret
              ul.nav.sub-nav
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-gears
                    |  Utility
                    span.caret
                  ul.nav.sub-nav

                    li
                      a(href='pages_confirmation.html', target='_blank')
                        | Confirmation
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_login.html', target='_blank')  Login
                    li
                      a(href='pages_login(alt).html', target='_blank')
                        | Login Alt
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_register.html', target='_blank')  Register
                    li
                      a(href='pages_register(alt).html', target='_blank')
                        | Register Alt
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_screenlock.html', target='_blank')  Screenlock
                    li
                      a(href='pages_screenlock(alt).html', target='_blank')
                        | Screenlock Alt
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_forgotpw.html', target='_blank')  Forgot Password
                    li
                      a(href='pages_forgotpw(alt).html', target='_blank')
                        | Forgot Password Alt
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_coming-soon.html', target='_blank')
                        | Coming Soon
                    li
                      a(href='pages_404.html')  404 Error
                    li
                      a(href='pages_500.html')  500 Error
                    li
                      a(href='pages_404(alt).html')  404 Error Alt
                    li
                      a(href='pages_500(alt).html')  500 Error Alt
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-desktop
                    |  Basic
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='pages_search-results.html')
                        | Search Results
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_profile.html')  Profile
                    li
                      a(href='pages_timeline.html')  Timeline Split
                    li
                      a(href='pages_timeline-single.html')  Timeline Single
                    li
                      a(href='pages_faq.html')  FAQ Page
                    li
                      a(href='pages_calendar.html')  Calendar
                    li
                      a(href='pages_messages.html')  Messages
                    li
                      a(href='pages_messages(alt).html')  Messages Alt
                    li
                      a(href='pages_gallery.html')  Gallery
                    li
                      a(href='pages_invoice.html')  Printable Invoice
            // sidebar bullets
            li.sidebar-label.pt20 Projects
            li.sidebar-proj
              a(href='#projectOne')
                span.fa.fa-bookmark.text-primary
                span.sidebar-title Executive Meeting
            li.sidebar-proj
              a(href='#projectTwo')
                span.fa.fa-bookmark.text-info
                span.sidebar-title HelpDesk Redesign
            li.sidebar-proj
              a(href='#projectTwo')
                span.fa.fa-bookmark.text-danger
                span.sidebar-title Sony Board Meeting
            li.sidebar-proj
              a(href='#projectThree')
                span.fa.fa-bookmark.text-warning
                span.sidebar-title Apple Tech Conference
      // Start: Content-Wrapper
      section#content_wrapper
        // Start: Topbar
        header#topbar.badges-mod.alt
          .topbar-left
            ol.breadcrumb
              li
                a(href="dashboard.php") Dashboard
              li
                a(href="admin_forms-elements.php") Form Elements
              li
                a(href="maps_basic.php") Plugins Pages
              li
                a(href="ui_alerts.php") UI Elements
              li
                a(href="documentation/") Documentation
          .topbar-right
            a.topbar-icon(href='#')
              span.fa.fa-search
            a.topbar-icon.topbar-menu-toggle.ml40(href='#', data-toggle='button')
              span.badge.badge-strikemaster.offset-badge 6
              span.fa.fa-magic
            .topbar-icon-wrap.ml40
              button.topbar-icon.dropdown-toggle(data-toggle='dropdown')
                span.badge.badge-primary 5
                span.fa.fa-bell.va-m
              .dropdown-menu.dropdown-persist.w350.animated.animated-shorter.fadeIn(role='menu')
                .panel.mbn
                  .panel-menu
                    span.panel-icon
                      i.fa.fa-clock-o
                    span.panel-title.fw600  Recent Activity
                    button.btn.btn-xs.pull-right(type='button')
                      i.fa.fa-refresh
                  .panel-body.panel-scroller.scroller-navbar.scroller-overlay.scroller-pn.pn
                    ol.timeline-list
                      li.timeline-item
                        .timeline-icon.bg-alert
                          span.fa.fa-tags
                        .timeline-desc
                          b Michael
                          |  Added to his store:
                          a(href='#') Ipod
                        .timeline-date 1:25am
                      li.timeline-item
                        .timeline-icon.bg-alert
                          span.fa.fa-tags
                        .timeline-desc
                          b Sara
                          |  Added his store:
                          a(href='#') Notebook
                        .timeline-date 3:05am
                      li.timeline-item
                        .timeline-icon.bg-success
                          span.fa.fa-usd
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Software
                        .timeline-date 4:15am
                      li.timeline-item
                        .timeline-icon.bg-success
                          span.fa.fa-usd
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Apple
                        .timeline-date 7:45am
                      li.timeline-item
                        .timeline-icon.bg-success
                          span.fa.fa-usd
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Software
                        .timeline-date 4:15am
                      li.timeline-item
                        .timeline-icon.bg-success
                          span.fa.fa-usd
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Apple
                        .timeline-date 7:45am
                      li.timeline-item
                        .timeline-icon.bg-alert
                          span.fa.fa-tags
                        .timeline-desc
                          b Michael
                          |  Added his store:
                          a(href='#') Ipod
                        .timeline-date 8:25am
                      li.timeline-item
                        .timeline-icon.bg-system
                          span.fa.fa-fire
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Software
                        .timeline-date 4:15am
                      li.timeline-item
                        .timeline-icon.bg-alert
                          span.fa.fa-tags
                        .timeline-desc
                          b Sara
                          |  Added to his store:
                          a(href='#') Notebook
                        .timeline-date 3:05am
                  .panel-footer.text-center.p7
                    a.link-unstyled(href='#')  View All
            .topbar-icon-wrap.ml35
              button.topbar-icon.dropdown-toggle(data-toggle='dropdown')
                span.badge.badge-mandy 5
                span.fa.fa-comments.va-m
              .dropdown-menu.dropdown-menu-offset.dropdown-persist.w350.animated.animated-shorter.fadeIn(role='menu')
                .panel.mbn
                  .panel-menu
                    span.panel-title.fw600 Messages
                  .panel-body.panel-scroller.scroller-navbar.scroller-overlay.scroller-pn.pn
                    .br-n.p10
                      .chat-widget
                        .media
                          .media-left
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/3.jpg')
                          .media-body
                            span.media-status.online
                            h5.media-heading
                              | Courtney Faught
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                        .media
                          .media-body
                            span.media-status.offline
                            h5.media-heading
                              | Joe Gibbons
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque.
                          .media-right
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/1.jpg')
                        .media
                          .media-left
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/2.jpg')
                          .media-body
                            span.media-status.online
                            h5.media-heading
                              | Courtney Faught
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metuscommodo.
                        .media
                          .media-body
                            span.media-status.offline
                            h5.media-heading
                              | Joe Gibbons
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in Nulla vel metus scelerisque antecommodo.
                          .media-right
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/1.jpg')
                        .media
                          .media-left
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/2.jpg')
                          .media-body
                            span.media-status.online
                            h5.media-heading
                              | Courtney Faught
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque soltudino.
                        .media
                          .media-body
                            span.media-status.offline
                            h5.media-heading
                              | Joe Gibbons
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
                          .media-right
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/1.jpg')
                  .panel-footer.text-center.p7
                    a.link-unstyled(href='#')  View All
        // Start: Topbar-Dropdown
        #topbar-dropmenu.alt
          .topbar-menu.row
            .col-xs-4.col-sm-2
              a.metro-tile.bg-primary.light(href='#')
                span.glyphicon.glyphicon-inbox.text-white
                span.metro-title Messages
            .col-xs-4.col-sm-2
              a.metro-tile.bg-info.light(href='#')
                span.glyphicon.glyphicon-user.text-white
                span.metro-title Users
            .col-xs-4.col-sm-2
              a.metro-tile.bg-success.light(href='#')
                span.glyphicon.glyphicon-headphones.text-white
                span.metro-title Support
            .col-xs-4.col-sm-2
              a.metro-tile.bg-system.light(href='#')
                span.glyphicon.glyphicon-facetime-video.text-white
                span.metro-title Videos
            .col-xs-4.col-sm-2
              a.metro-tile.bg-warning.light(href='#')
                span.fa.fa-gears.text-white
                span.metro-title Settings
            .col-xs-4.col-sm-2
              a.metro-tile.bg-alert.light(href='#')
                span.glyphicon.glyphicon-picture.text-white
                span.metro-title Pictures
        // Begin: Content
        #content.animated.fadeIn
          .row
            .col-md-6
              // Input Fields
              .panel
                .panel-heading
                  span.panel-title Standard Fields
                .panel-body
                  form.form-horizontal(role='form')
                    .form-group
                      label.col-lg-3.control-label Static Field
                      .col-lg-8
                        .bs-component
                          p.form-control-static.text-muted email@example.com
                    .form-group
                      label.col-lg-3.control-label(for='inputStandard') Standard
                      .col-lg-8
                        .bs-component
                          input#inputStandard.form-control(type='text', placeholder='Type Here...')
                    .form-group
                      label.col-lg-3.control-label(for='inputSelect') Select List
                      .col-lg-8
                        .bs-component
                          select.form-control
                            option Option 1
                            option Option 2
                            option Option 3
                    .form-group
                      label.col-lg-3.control-label(for='disabledInput') Disabled
                      .col-lg-8
                        .bs-component
                          input#disabledInput.form-control(type='text', placeholder='A Disabled Form', disabled='')
                    .form-group
                      label.col-lg-3.control-label(for='textArea1') Text Area Expand
                      .col-lg-8
                        .bs-component
                          textarea#textArea1.form-control.textarea-grow(rows='4')
                    .form-group
                      label.col-lg-3.control-label(for='textArea2') Text Area
                      .col-lg-8
                        .bs-component
                          textarea#textArea2.form-control(rows='3')
                    .form-group
                      label.col-lg-3.control-label(for='textArea3') Disabled Text Area
                      .col-lg-8
                        .bs-component
                          textarea#textArea3.form-control(rows='3', disabled='')
              // Field Validation
              .panel
                .panel-heading
                  span.panel-title Validation States
                .panel-body
                  form.form-horizontal(role='form')
                    .bs-component
                      .form-group.has-strikemaster
                        .col-lg-12
                          label.control-label.text-uppercase.ls60.text-alert-mod(for='inputPrimary') Primary Field
                          span.append-icon.right
                            i.fa.fa-gear
                          input.mt10#inputPrimary.form-control(type='text')
                    .bs-component
                      .form-group.has-jade
                        .col-lg-12
                          label.control-label.text-uppercase.ls60.text-alert-mod(for='inputSuccess') Success Field
                          span.append-icon.right
                            i.fa.fa-check
                          input.mt10#inputSuccess.form-control(type='text')
                    .bs-component
                      .form-group.has-alert
                        .col-lg-12
                          label.control-label.text-uppercase.ls60.text-alert-mod(for='inputInfo') Info Field
                          span.append-icon.right
                            i.fa.fa-exclamation-circle
                          input.mt10#inputInfo.form-control(type='text')
                    .bs-component
                      .form-group.has-primary
                        .col-lg-12
                          label.control-label.text-uppercase.ls60.text-alert-mod(for='inputWarning') Warning Field
                          span.append-icon.right
                            i.fa.fa-exclamation-triangle
                          input.mt10#inputWarning.form-control(type='text')
                    .bs-component
                      .form-group.has-danger
                        .col-lg-12
                          label.control-label.text-uppercase.ls60.text-alert-mod(for='inputError') Error Field
                          span.append-icon.right
                            i.fa.fa-remove
                          input.mt10#inputError.form-control(type='text')
                    .bs-component
                      .form-group.has-outrageous-range
                        .col-lg-12
                          label.control-label.text-uppercase.ls60.text-alert-mod(for='inputAlert') Alert Field
                          span.append-icon.right
                            i.fa.fa-flag
                          input.mt10#inputAlert.form-control(type='text')
                    .bs-component
                      .form-group.has-rockBlue
                        .col-lg-12
                          label.control-label.text-uppercase.ls60.text-alert-mod(for='inputSystem') System Field
                          span.append-icon.right
                            i.fa.fa-bell
                          input.mt10#inputSystem.form-control(type='text')
              // Field Icons
              .panel
                .panel-heading
                  span.panel-title Easy Icons
                .panel-body
                  form.form-horizontal(role='form')
                    label.col-md-2.text-right With Icons
                    .col-md-10.ph30
                      .form-group
                        .bs-component
                          .input-group
                            span.input-group-addon
                              i.fa.fa-envelope-o
                            input.form-control(type='text', placeholder='Email address')
                      .form-group
                        .bs-component
                          .input-group
                            span.input-group-addon
                              i.fa.fa-key
                            input.form-control(type='password', placeholder='Password')
                      .form-group
                        .bs-component
                          .input-group
                            input.form-control(type='text', placeholder='Numbers')
                            span.input-group-addon 00
                      .form-group
                        .bs-component
                          .input-group
                            input.form-control(type='password', placeholder='Money')
                            span.input-group-addon
                              i.fa.fa-usd
              // Field Options
              .panel
                .panel-heading
                  span.panel-title Fields Options
                .panel-body
                  form.form-horizontal(role='form')
                    .form-group
                      label.col-lg-2.control-label(for='inputSmall') Small
                      .col-lg-10
                        .bs-component
                          input#inputSmall.form-control.input-sm.inset-2(type='text', placeholder='.input-sm')
                    .form-group
                      label.col-lg-2.control-label(for='inputDefault') Default
                      .col-lg-10
                        .bs-component
                          input#inputDefault.form-control.inset-2(type='text', placeholder='default style')
                    .form-group
                      label.col-lg-2.control-label(for='inputLarge') Large
                      .col-lg-10
                        .bs-component
                          input#inputLarge.form-control.input-lg.inset-2(type='text', placeholder='.input-lg')
            .col-md-6
              // Checkboxes/Radios
              .panel
                .panel-heading
                  span.panel-title Default Checkboxes/Radios
                .panel-body
                  form.form-horizontal(role='form')
                    .form-group
                      label.col-md-3.control-label Radios
                      .col-md-9
                        .bs-component
                          label.radio-inline.mr10
                            input#inlineRadio1(type='radio', name='inlineRadioOptions', value='option1')
                            | 1
                          label.radio-inline.mr10
                            input#inlineRadio2(type='radio', name='inlineRadioOptions', value='option2')
                            | 2
                          label.radio-inline.mr10
                            input#inlineRadio3(type='radio', name='inlineRadioOptions', value='option3')
                            | 3
                          label.radio-inline.mr10
                            input#inlineRadio4(type='radio', name='inlineRadioOptions', value='option4')
                            | 4
                          label.radio-inline.mr10
                            input#inlineRadio5(type='radio', name='inlineRadioOptions', value='option5')
                            | 5
                    .form-group.mb25
                      label.col-md-3.control-label Checkboxes
                      .col-md-9
                        .bs-component
                          label.checkbox-inline.mr10
                            input#inlineCheckbox1(type='checkbox', value='option1')
                            | 1
                          label.checkbox-inline.mr10
                            input#inlineCheckbox2(type='checkbox', value='option2')
                            | 2
                          label.checkbox-inline.mr10
                            input#inlineCheckbox3(type='checkbox', value='option3')
                            | 3
                          label.checkbox-inline.mr10
                            input#inlineCheckbox4(type='checkbox', value='option4')
                            | 4
                          label.checkbox-inline.mr10
                            input#inlineCheckbox5(type='checkbox', value='option5')
                            | 5
              // Custom Checkboxes
              .panel
                .panel-heading
                  span.panel-title Custom Checkboxes
                .panel-body.bg-light.pt20.pbn.pl30
                  .row
                    .col-sm-6
                      form.form-horizontal(method='get')
                        .form-group
                          .col-sm-12.pl15
                            .bs-component
                              .checkbox-custom.checkbox-disabled.mb10
                                input#checkboxDefault1(type='checkbox', checked='', disabled='')
                                label(for='checkboxDefault1') Checked & Disabled
                            .bs-component
                              .checkbox-custom.checkbox-disabled
                                input#checkboxDefault2(type='checkbox', disabled='')
                                label(for='checkboxExample2') Disabled
                    .col-sm-6
                      form.form-horizontal(method='get')
                        .form-group
                          .col-sm-12.pl15
                            .bs-component
                              .checkbox-custom.fill.checkbox-disabled.mb10
                                input#checkboxDefault11(type='checkbox', checked='', disabled='')
                                label(for='checkboxDefault11') Checked & Disabled
                            .bs-component
                              .checkbox-custom.fill.checkbox-disabled
                                input#checkboxDefault12(type='checkbox', disabled='')
                                label(for='checkboxExample12') Disabled
                .panel-body.pl30.pb5
                  .row
                    .col-sm-6
                      form.form-horizontal(method='get')
                        label.control-label.mb15 Checkboxes
                        .form-group
                          .col-sm-12.pl15
                            .bs-component
                              .checkbox-custom.fill.mb5
                                input#checkboxDefault13(type='checkbox', checked='')
                                label(for='checkboxDefault13') Default
                            .bs-component
                              .checkbox-custom.fill.checkbox-success.mb5
                                input#checkboxExample15(type='checkbox', checked='')
                                label(for='checkboxExample15') Success
                            .bs-component
                              .checkbox-custom.fill.checkbox-alert.mb5
                                input#checkboxExample14(type='checkbox', checked='')
                                label(for='checkboxExample14') Primary
                            .bs-component
                              .checkbox-custom.fill.checkbox-mountbattenPink.mb5
                                input#checkboxExample16(type='checkbox', checked='')
                                label(for='checkboxExample16') Info
                            .bs-component
                              .checkbox-custom.fill.checkbox-outrageous-range.mb5
                                input#checkboxExample18(type='checkbox', checked='')
                                label(for='checkboxExample18') Danger
                            .bs-component
                              .checkbox-custom.fill.checkbox-danger.mb5
                                input#checkboxExample17(type='checkbox', checked='')
                                label(for='checkboxExample17') Warning
                            .bs-component
                              .checkbox-custom.fill.checkbox-carnation.mb5
                                input#checkboxExample19(type='checkbox', checked='')
                                label(for='checkboxExample19') Alert
                            .bs-component
                              .checkbox-custom.fill.checkbox-strikemaster.mb5
                                input#checkboxExample20(type='checkbox', checked='')
                                label(for='checkboxExample20') System
                    .col-sm-6
                      form.form-horizontal(method='get')
                        label.control-label.mb15 Checkboxes
                        .form-group
                          .col-sm-12.pl15
                            .bs-component
                              .checkbox-custom.mb5
                                input#checkboxDefault21(type='checkbox', checked='')
                                label(for='checkboxDefault21') Default
                            .bs-component
                              .checkbox-custom.checkbox-success.mb5
                                input#checkboxExample22(type='checkbox', checked='')
                                label(for='checkboxExample22') Success
                            .bs-component
                              .checkbox-custom.checkbox-alert.mb5
                                input#checkboxExample23(type='checkbox', checked='')
                                label(for='checkboxExample23') Primary
                            .bs-component
                              .checkbox-custom.checkbox-mountbattenPink.mb5
                                input#checkboxExample24(type='checkbox', checked='')
                                label(for='checkboxExample24') Info
                            .bs-component
                              .checkbox-custom.checkbox-outrageous-range.mb5
                                input#checkboxExample25(type='checkbox', checked='')
                                label(for='checkboxExample25') Danger
                            .bs-component
                              .checkbox-custom.checkbox-danger.mb5
                                input#checkboxExample26(type='checkbox', checked='')
                                label(for='checkboxExample26') Warning
                            .bs-component
                              .checkbox-custom.checkbox-carnation.mb5
                                input#checkboxExample27(type='checkbox', checked='')
                                label(for='checkboxExample27') Alert
                            .bs-component
                              .checkbox-custom.checkbox-strikemaster.mb5
                                input#checkboxExample28(type='checkbox', checked='')
                                label(for='checkboxExample28') System
              // Custom Radios
              .panel
                .panel-heading
                  span.panel-title Custom Radios
                .panel-body.bg-light.pt20.pbn.pl30
                  .row
                    .col-sm-6
                      form.form-horizontal(method='get')
                        .form-group
                          .col-sm-12.pl15
                            .bs-component
                              .radio-custom.radio-disabled.mb10
                                input#radioExample1(type='radio', name='radioExample', disabled='', checked='')
                                label(for='radioExample1') Checked & Disabled
                            .bs-component
                              .radio-custom.radio-disabled
                                input#radioExample2(type='radio', name='radioExample', disabled='')
                                label(for='radioExample2') Disabled
                    .col-sm-6
                      form.form-horizontal(method='get')
                        .form-group
                          .col-sm-12.pl15
                            .bs-component
                              .radio-custom.square.radio-disabled.mb10
                                input#radioExample11(type='radio', name='radioExample', disabled='', checked='')
                                label(for='radioExample11') Checked & Disabled
                            .bs-component
                              .radio-custom.square.radio-disabled
                                input#radioExample12(type='radio', name='radioExample', disabled='')
                                label(for='radioExample12') Disabled
                .panel-body.pl30.pb15
                  .row
                    .col-sm-6
                      form.form-horizontal.form-bordered(method='get')
                        label.control-label.mb15 Radios
                        .form-group
                          .col-sm-12.pl15
                            .bs-component
                              .radio-custom.mb5
                                input#radioExample3(type='radio', name='radioExample')
                                label(for='radioExample3') Default
                            .bs-component
                              .radio-custom.radio-success.mb5
                                input#radioExample5(type='radio', name='radioExample')
                                label(for='radioExample5') Success
                            .bs-component
                              .radio-custom.radio-alert.mb5
                                input#radioExample4(type='radio', name='radioExample')
                                label(for='radioExample4') Primary
                            .bs-component
                              .radio-custom.radio-mountbattenPink.mb5
                                input#radioExample6(type='radio', name='radioExample')
                                label(for='radioExample6') Info
                            .bs-component
                              .radio-custom.radio-outrageous-range.mb5
                                input#radioExample8(type='radio', name='radioExample')
                                label(for='radioExample8') Danger
                            .bs-component
                              .radio-custom.radio-danger.mb5
                                input#radioExample7(type='radio', name='radioExample')
                                label(for='radioExample7') Warning
                            .bs-component
                              .radio-custom.radio-carnation.mb5
                                input#radioExample9(type='radio', name='radioExample')
                                label(for='radioExample9') Alert
                            .bs-component
                              .radio-custom.radio-strikemaster.mb5
                                input#radioExample10(type='radio', name='radioExample')
                                label(for='radioExample10') System
                    .col-sm-6
                      form.form-horizontal.form-bordered(method='get')
                        label.control-label.mb15 Alt Radios
                        .form-group
                          .col-sm-12.pl15
                            .bs-component
                              .radio-custom.square.mb5
                                input#radioExample13(type='radio', name='radioExample')
                                label(for='radioExample13') Default
                            .bs-component
                              .radio-custom.square.radio-success.mb5
                                input#radioExample15(type='radio', name='radioExample')
                                label(for='radioExample15') Success
                            .bs-component
                              .radio-custom.square.radio-alert.mb5
                                input#radioExample14(type='radio', name='radioExample')
                                label(for='radioExample14') Primary
                            .bs-component
                              .radio-custom.square.radio-mountbattenPink.mb5
                                input#radioExample16(type='radio', name='radioExample')
                                label(for='radioExample16') Info
                            .bs-component
                              .radio-custom.square.radio-outrageous-range.mb5
                                input#radioExample18(type='radio', name='radioExample')
                                label(for='radioExample18') Danger
                            .bs-component
                              .radio-custom.square.radio-danger.mb5
                                input#radioExample17(type='radio', name='radioExample')
                                label(for='radioExample17') Warning
                            .bs-component
                              .radio-custom.square.radio-carnation.mb5
                                input#radioExample19(type='radio', name='radioExample')
                                label(for='radioExample19') Alert
                            .bs-component
                              .radio-custom.square.radio-strikemaster.mb5
                                input#radioExample20(type='radio', name='radioExample')
                                label(for='radioExample20') System
              // Custom Switches
              .panel
                .panel-heading
                  span.panel-title Custom Switches
                .panel-body
                  form.form-horizontal(role='form')
                    .form-group
                      label.col-md-3.control-label Switches
                      .col-md-9
                        .bs-component
                          .switch.switch-info.switch-inline
                            input#exampleCheckboxSwitch1(type='checkbox', checked='')
                            label(for='exampleCheckboxSwitch1')
                          .switch.switch-primary.switch-inline
                            input#exampleCheckboxSwitch2(type='checkbox', checked='')
                            label(for='exampleCheckboxSwitch2')
                          .switch.switch-warning.switch-inline
                            input#exampleCheckboxSwitch3(type='checkbox', checked='')
                            label(for='exampleCheckboxSwitch3')
                          .switch.switch-alert.switch-inline
                            input#exampleCheckboxSwitch4(type='checkbox', checked='')
                            label(for='exampleCheckboxSwitch4')
                          .switch.switch-success.switch-inline
                            input#exampleCheckboxSwitch5(type='checkbox', checked='')
                            label(for='exampleCheckboxSwitch5')
                    .form-group
                      label.col-md-3.control-label Round Switches
                      .col-md-9
                        .bs-component
                          .switch.switch-info.round.switch-inline
                            input#exampleCheckboxSwitch6(type='checkbox', checked='')
                            label(for='exampleCheckboxSwitch6')
                          .switch.switch-primary.round.switch-inline
                            input#exampleCheckboxSwitch7(type='checkbox', checked='')
                            label(for='exampleCheckboxSwitch7')
                          .switch.switch-warning.round.switch-inline
                            input#exampleCheckboxSwitch8(type='checkbox', checked='')
                            label(for='exampleCheckboxSwitch8')
                          .switch.switch-alert.round.switch-inline
                            input#exampleCheckboxSwitch9(type='checkbox', checked='')
                            label(for='exampleCheckboxSwitch9')
                          .switch.switch-success.round.switch-inline
                            input#exampleCheckboxSwitch10(type='checkbox', checked='')
                            label(for='exampleCheckboxSwitch10')
                    .form-group
                      label.col-md-3.control-label Radio Switches
                      .col-md-9
                        .bs-component
                          .switch.switch-info.switch-inline
                            input#exampleRadioSwitch11(type='radio', name='testGroup', checked='')
                            label(for='exampleRadioSwitch11')
                          .switch.switch-primary.switch-inline
                            input#exampleRadioSwitch12(type='radio', name='testGroup')
                            label(for='exampleRadioSwitch12')
                          .switch.switch-warning.switch-inline
                            input#exampleRadioSwitch13(type='radio', name='testGroup')
                            label(for='exampleRadioSwitch13')
                          .switch.switch-alert.switch-inline
                            input#exampleRadioSwitch14(type='radio', name='testGroup')
                            label(for='exampleRadioSwitch14')
                          .switch.switch-success.switch-inline
                            input#exampleRadioSwitch15(type='radio', name='testGroup')
                            label(for='exampleRadioSwitch15')
                    .form-group.mbn
                      label.col-md-3.control-label Sizes
                      .col-md-9
                        .bs-component
                          // Switch Size - LG
                          .switch.switch-info.switch-lg.switch-inline
                            input#exampleRadioSwitch16(type='radio', name='testGroup2', checked='')
                            label(for='exampleRadioSwitch16')
                          // Switch Size - Default
                          .switch.switch-primary.switch-inline
                            input#exampleRadioSwitch17(type='radio', name='testGroup2')
                            label(for='exampleRadioSwitch17')
                          // Switch Size - SM
                          .switch.switch-warning.switch-sm.switch-inline
                            input#exampleRadioSwitch18(type='radio', name='testGroup2')
                            label(for='exampleRadioSwitch18')
                          // Switch Size - XS
                          .switch.switch-alert.switch-xs.switch-inline
                            input#exampleRadioSwitch19(type='radio', name='testGroup2')
                            label(for='exampleRadioSwitch19')
              // Field Help Text
              .panel
                .panel-heading
                  span.panel-title Fields Options
                .panel-body
                  form.form-horizontal(role='form')
                    .form-group
                      label.col-lg-2.control-label(for='inputInline') Inline Help
                      .bs-component
                        .col-lg-5
                          input#inputInline.form-control(type='text', placeholder='Text Field')
                        .col-lg-5.pl5
                          span.help-block.mt5
                            i.fa.fa-bell
                            |  A block of help text!
                    hr.short.alt
                    .form-group.mbn
                      label.col-lg-2.control-label(for='inputHelp') Block Help
                      .col-lg-10
                        .bs-component
                          input#inputHelp.form-control(type='text', placeholder='Text Field')
                          span.help-block.mt5
                            i.fa.fa-bell
                            |  A block of help text that can help the user
      // Start: Right Sidebar
      aside#sidebar_right.nano.affix
        // Start: Sidebar Right Content
        .sidebar-right-content.nano-content
          .tab-block.sidebar-block.br-n
            ul.nav.nav-tabs.tabs-border.nav-justified.hidden
              li.active
                a(href='#sidebar-right-tab1', data-toggle='tab') Tab 1
              li
                a(href='#sidebar-right-tab2', data-toggle='tab') Tab 2
              li
                a(href='#sidebar-right-tab3', data-toggle='tab') Tab 3
            .tab-content.br-n
              #sidebar-right-tab1.tab-pane.active
                h5.title-divider.text-muted.mb20
                  | Server Statistics
                  span.pull-right
                    | 2013
                    i.fa.fa-caret-down.ml5
                .progress.mh5
                  .progress-bar.progress-bar-primary(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 44%')
                    span.fs11 DB Request
                .progress.mh5
                  .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 84%')
                    span.fs11.text-left Server Load
                .progress.mh5
                  .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 61%')
                    span.fs11.text-left Server Connections
                h5.title-divider.text-muted.mt30.mb10 Traffic Margins
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 132
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  13.2%
                h5.title-divider.text-muted.mt25.mb10 Database Request
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 212
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  25.6%
                h5.title-divider.text-muted.mt25.mb10 Server Response
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 82.5
                  .col-xs-7.text-right
                    h3.text-danger.mn
                      i.fa.fa-caret-down
                      |  17.9%
                h5.title-divider.text-muted.mt40.mb20
                  | Server Statistics
                  span.pull-right.text-primary.fw600 USA
              #sidebar-right-tab2.tab-pane
              #sidebar-right-tab3.tab-pane
    // core scripts
    script(src='plugins/core.min.js')
    // Theme Javascript
    script(src='assets/js/utility/utility.js')
    script(src='assets/js/demo/demo.js')
    script(src='assets/js/main.js')
    script(type='text/javascript').
      jQuery(document).ready(function () {
        "use strict";
        // Init Theme Core
        Core.init();
        // Init Demo JS
        Demo.init();
      });
