extends  _skeleton

block stylesheets
  link(rel='stylesheet', type='text/css', href='assets/admin-tools/admin-forms/css/admin-forms.css')

block body
  body.form-image-tools-page(data-spy='scroll', data-target='#nav-spy', data-offset='400')
    // Start: Theme Preview Pane
    #skin-toolbox
      .panel
        .panel-heading
          span.panel-icon
            i.fa.fa-gear.text-primary
          span.panel-title  Theme Options
        .panel-body.pn
          ul.nav.nav-list.nav-list-sm.pl15.pt10(role='tablist')

            li.active
              a(href='#toolbox-sidebar', role='tab', data-toggle='tab') Sidebar
            li
              a(href='#toolbox-settings', role='tab', data-toggle='tab') Misc
          .tab-content.p20.ptn.pb15

            #toolbox-sidebar.tab-pane.active(role='tabpanel')
              form#toolbox-sidebar-skin
                h4.mv20 Sidebar Skins
                .skin-toolbox-swatches
                  .checkbox-custom.fill.mb5
                    input#sidebarSkin3(type='radio', name='sidebarSkin', checked='', value='')
                    label(for='sidebarSkin3') Dark
                  .checkbox-custom.fill.checkbox-disabled.mb5
                    input#sidebarSkin1(type='radio', name='sidebarSkin', value='sidebar-light')
                    label(for='sidebarSkin1') Light
                  .checkbox-custom.fill.checkbox-light.mb5
                    input#sidebarSkin2(type='radio', name='sidebarSkin', value='sidebar-light light')
                    label(for='sidebarSkin2') Lighter
            #toolbox-settings.tab-pane(role='tabpanel')
              form#toolbox-settings-misc
                h4.mv20.mtn Layout Options

                .form-group
                  .checkbox-custom.fill.mb5
                    input#sidebar-option(type='checkbox', checked='')
                    label(for='sidebar-option') Fixed Sidebar

                h4.mv20 Layout Options
                .form-group
                  .radio-custom.mb5
                    input#fullwidth-option(type='radio', checked='', name='layout-option')
                    label(for='fullwidth-option') Fullwidth Layout
                .form-group.mb20.pointer-events-none
                  .radio-custom.radio-disabled.mb5
                    input#boxed-option(type='radio', name='layout-option', disabled='')
                    label(for='boxed-option')
                      | Boxed Layout
                      b.text-muted (Coming Soon)
          .form-group.mn.br-t.p10
            a#clearLocalStorage.btn.btn-primary.btn-block.pb10.pt10(href='#') Clear LocalStorage
    // Start: Main
    #main
      // Start: Sidebar
      aside#sidebar_left.nano.nano-light.affix
        // Navbar Branding
        .navbar-branding
          a.navbar-brand(href='dashboard.html')
            span.text-white Ruby
            = ' '
            | Admin
          span#toggle_sidemenu_l.ad.ad-lines
        // Start: Sidebar Left Content
        .sidebar-left-content.nano-content
          // Start: Sidebar Header
          header.sidebar-header
            // Sidebar Widget - Author
            .sidebar-widget.author-widget
              .media
                a.media-left(href='#')
                  img.img-responsive(src='assets/img/avatars/3.jpg')
                .media-body
                  .media-links
                  .media-author Ryan Harrison
                  a.sidebar-menu-toggle(href='#') User Menu
                  a(href='pages_login(alt).html') Logout
            // Sidebar Widget - Menu (slidedown)
            .sidebar-widget.menu-widget
              .row.text-center.mbn
                .col-xs-4
                  a.text-primary(href='dashboard.html', data-toggle='tooltip', data-placement='top', title='Dashboard')
                    span.glyphicon.glyphicon-home
                .col-xs-4
                  a.text-info(href='pages_messages.html', data-toggle='tooltip', data-placement='top', title='Messages')
                    span.glyphicon.glyphicon-inbox
                .col-xs-4
                  a.text-alert(href='pages_profile.html', data-toggle='tooltip', data-placement='top', title='Tasks')
                    span.fa.fa-asterisk
              .row.text-center.mbn
                .col-xs-4
                  a.text-system(href='pages_timeline.html', data-toggle='tooltip', data-placement='top', title='Activity')
                    span.fa.fa-desktop
                .col-xs-4
                  a.text-danger(href='pages_profile.html', data-toggle='tooltip', data-placement='top', title='Settings')
                    span.fa.fa-gears
                .col-xs-4
                  a.text-warning(href='pages_gallery.html', data-toggle='tooltip', data-placement='top', title='Cron Jobs')
                    span.fa.fa-flask
            // Sidebar Widget - Search (hidden)
            .sidebar-widget.search-widget.hidden
              .input-group
                span.input-group-addon
                  i.fa.fa-search
                input#sidebar-search.form-control(type='text', placeholder='Search...')
          // Start: Sidebar Menu
          ul.nav.sidebar-menu
            li.sidebar-label.pt30 Menu
            li
              a(href='pages_calendar.html')
                span.fa.fa-calendar
                span.sidebar-title Calendar
                span.sidebar-title-tray
                  span.label.label-xs.bg-primary New
            li
              a(href='documentation/')
                span.glyphicon.glyphicon-book
                span.sidebar-title Documentation
            li.active
              a(href='dashboard.html')
                span.glyphicon.glyphicon-home
                span.sidebar-title Dashboard
            li.sidebar-label.pt15 Theme Tools
            li
              a.accordion-toggle(href='#')
                span.fa.fa-columns
                span.sidebar-title Admin Layouts
                span.caret
              ul.nav.sub-nav
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa.fa-arrows-h
                    |                   Sidebars
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_sidebar-left-static.html')
                        | Left Static
                    li
                      a(href='layout_sidebar-left-fixed.html')
                        | Left Fixed
                    li
                      a(href='layout_sidebar-left-widgets.html')
                        | Left Widgets
                    li
                      a(href='layout_sidebar-left-minified.html')
                        | Left Minified
                    li
                      a(href='layout_sidebar-left-light.html')
                        | Left White
                    li
                      a(href='layout_sidebar-right-static.html')
                        | Right Static
                    li
                      a(href='layout_sidebar-right-fixed.html')
                        | Right Fixed
                    li
                      a(href='layout_sidebar-right-menu.html')
                        | Right w/Menu
                
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-hand-o-up
                    |                   Topbar
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_topbar.html')
                        | Default Style
                    li
                      a(href='layout_topbar-menu.html')
                        | Default w/Menu
                    li
                      a(href='layout_topbar-alt.html')
                        | Alternate Style
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-arrows-v
                    |                   Content Body
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_content-blank.html')
                        | Blank Starter
                    li
                      a(href='layout_content-fixed.html')
                        | Fixed Window
                    li
                      a(href='layout_content-heading.html')
                        | Content Heading
                    li
                      a(href='layout_content-tabs.html')
                        | Content Tabs
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-pause
                    |                   Content Trays
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_tray-left.html')
                        | Tray Left Static
                    li
                      a(href='layout_tray-left-fixed.html')
                        | Tray Left Fixed
                    li
                      a(href='layout_tray-right.html')
                        | Tray Right Static
                    li
                      a(href='layout_tray-right-fixed.html')
                        | Tray Right Fixed
                    li
                      a(href='layout_tray-both.html')
                        | Left + Right Static
                    li
                      a(href='layout_tray-both-fixed.html')
                        | Left + Right Fixed
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-plus-square-o
                    |                   Boxed Layout
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_boxed.html')
                        | Default
                    li
                      a(href='layout_boxed-horizontal.html')
                        | Horizontal Menu
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-arrow-circle-o-up
                    |                   Horizontal Menu
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_horizontal-sm.html')
                        | Small Size
                    li
                      a(href='layout_horizontal-md.html')
                        | Medium Size
                    li
                      a(href='layout_horizontal-lg.html')
                        | Large Size
                    li
                      a(href='layout_horizontal-light.html')
                        | Light Skin
                    li
                      a(href='layout_horizontal-topbar.html')
                        | With Topbar
                    li
                      a(href='layout_horizontal-topbar-alt.html')
                        | With Alt Topbar
                    li
                      a(href='layout_horizontal-collapsed.html')
                        | Collapsed onLoad
                    li
                      a(href='layout_horizontal-boxed.html')
                        | In Boxed Layout
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-fire
                span.sidebar-title Admin Plugins
                span.caret
              ul.nav.sub-nav
                li
                  a(href='admin_plugins-panels.html')
                    span.glyphicon.glyphicon-book
                    |  Admin Panels
                li
                  a(href='admin_plugins-modals.html')
                    span.glyphicon.glyphicon-modal-window
                    |  Admin Modals
                li
                  a(href='admin_plugins-dock.html')
                    span.glyphicon.glyphicon-equalizer
                    |  Admin Dock
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-check
                span.sidebar-title Admin Forms
                span.caret
              ul.nav.sub-nav
                li
                  a(href='admin_forms-elements.html')
                    span.glyphicon.glyphicon-edit
                    |  Admin Elements
                li
                  a(href='admin_forms-widgets.html')
                    span.glyphicon.glyphicon-calendar
                    |  Admin Widgets
                li
                  a(href='admin_forms-validation.html')
                    span.glyphicon.glyphicon-check
                    |  Admin Validation
                li
                  a(href='admin_forms-layouts.html')
                    span.fa.fa-desktop
                    |  Admin Layouts
                li
                  a(href='admin_forms-wizard.html')
                    span.fa.fa-clipboard
                    |  Admin Wizard
            li.sidebar-label.pt20 Systems
            li
              a.accordion-toggle(href='#')
                span.fa.fa-diamond
                span.sidebar-title Widget Packages
                span.caret
              ul.nav.sub-nav
                li
                  a(href='widgets_tile.html')
                    span.fa.fa-cube
                    |  Tile Widgets
                li
                  a(href='widgets_panel.html')
                    span.fa.fa-desktop
                    |  Panel Widgets
                li
                  a(href='widgets_scroller.html')
                    span.fa.fa-columns
                    |  Scroller Widgets
                li
                  a(href='widgets_data.html')
                    span.fa.fa-dot-circle-o
                    |  Admin Widgets
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-shopping-cart
                span.sidebar-title Ecommerce
                span.caret
              ul.nav.sub-nav
                li
                  a(href='ecommerce_dashboard.html')
                    span.glyphicon.glyphicon-shopping-cart
                    |  Dashboard
                    span.label.label-xs.bg-primary New
                li
                  a(href='ecommerce_products.html')
                    span.glyphicon.glyphicon-tags
                    |  Products
                li
                  a(href='ecommerce_orders.html')
                    span.fa.fa-money
                    |  Orders
                li
                  a(href='ecommerce_customers.html')
                    span.fa.fa-users
                    |  Customers
                li
                  a(href='ecommerce_settings.html')
                    span.fa.fa-gears
                    |  Store Settings

            // sidebar resources
            li.sidebar-label.pt20 Elements
            li
              a.accordion-toggle(href='#')
                span.fa.fa-asterisk
                span.sidebar-title UI Elements
                span.caret
              ul.nav.sub-nav
                li
                  a(href='ui_alerts.html')
                    span.fa.fa-warning
                    |  Alerts
                li
                  a(href='ui_animations.html')
                    span.fa.fa-spinner
                    |  Animations
                li
                  a(href='ui_buttons.html')
                    span.fa.fa-plus-square-o
                    |  Buttons
                li
                  a(href='ui_typography.html')
                    span.fa.fa-text-width
                    |  Typography
                li
                  a(href='ui_portlets.html')
                    span.fa.fa-archive
                    |  Portlets
                li
                  a(href='ui_progress-bars.html')
                    span.fa.fa-bars
                    |  Progress Bars
                li
                  a(href='ui_tabs.html')
                    span.fa.fa-toggle-off
                    |  Tabs
                li
                  a(href='ui_icons.html')
                    span.fa.fa-hand-o-right
                    |  Icons
                li
                  a(href='ui_grid.html')
                    span.fa.fa-th-large
                    |  Grid
            li
              a.accordion-toggle.menu-open(href='#')
                span.fa.fa-align-justify
                span.sidebar-title Form Elements
                span.caret
              ul.nav.sub-nav
                li
                  a(href='form_inputs.html')
                    span.fa.fa-magic
                    |  Basic Inputs
                li
                  a(href='form_plugins.html')
                    span.fa.fa-bell-o
                    |  Plugin Inputs
                    span.label.label-xs.bg-primary New
                li
                  a(href='form_editors.html')
                    span.fa.fa-clipboard
                    |  Editors
                li
                  a(href='form_treeview.html')
                    span.fa.fa-tree
                    |  Treeview
                li
                  a(href='form_nestable.html')
                    span.fa.fa-tasks
                    |  Nestable
                li.active
                  a(href='form_image-tools.html')
                    span.fa.fa-cloud-upload
                    |  Image Tools
                    span.label.label-xs.bg-primary New
                li
                  a(href='form_uploaders.html')
                    span.fa.fa-cloud-upload
                    |  Uploaders
                li
                  a(href='form_notifications.html')
                    span.fa.fa-bell-o
                    |  Notifications
                li
                  a(href='form_content-sliders.html')
                    span.fa.fa-exchange
                    |  Content Sliders
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-tower
                span.sidebar-title Plugins
                span.caret
              ul.nav.sub-nav
                li
                  a.accordion-toggle(href='#')
                    span.glyphicon.glyphicon-globe
                    |  Maps
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='maps_basic.html') Basic Maps
                    li
                      a(href='maps_vector.html') Vector Maps
                    li
                      a(href='maps_full.html') Full Map
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-area-chart
                    |  Charts
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='charts_highcharts.html') Highcharts
                    li
                      a(href='charts_d3.html') D3 Charts
                    li
                      a(href='charts_flot.html') Flot Charts
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-table
                    |  Tables
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='tables_basic.html')  Basic Tables


                    li
                      a(href='tables_footable.html')  FooTables
                    li
                      a(href='tables_pricing.html')  Pricing Tables
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-flask
                    |  Misc
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='misc_tour.html')  Site Tour
                    li
                      a(href='misc_timeout.html')  Session Timeout
                    li
                      a(href='misc_nprogress.html')  Page Progress Loader
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-duplicate
                span.sidebar-title Pages
                span.caret
              ul.nav.sub-nav
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-gears
                    |  Utility
                    span.caret
                  ul.nav.sub-nav

                    li
                      a(href='pages_confirmation.html', target='_blank')
                        | Confirmation
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_login.html', target='_blank')  Login
                    li
                      a(href='pages_login(alt).html', target='_blank')
                        | Login Alt
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_register.html', target='_blank')  Register
                    li
                      a(href='pages_register(alt).html', target='_blank')
                        | Register Alt
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_screenlock.html', target='_blank')  Screenlock
                    li
                      a(href='pages_screenlock(alt).html', target='_blank')
                        | Screenlock Alt
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_forgotpw.html', target='_blank')  Forgot Password
                    li
                      a(href='pages_forgotpw(alt).html', target='_blank')
                        | Forgot Password Alt
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_coming-soon.html', target='_blank')
                        | Coming Soon
                    li
                      a(href='pages_404.html')  404 Error
                    li
                      a(href='pages_500.html')  500 Error
                    li
                      a(href='pages_404(alt).html')  404 Error Alt
                    li
                      a(href='pages_500(alt).html')  500 Error Alt
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-desktop
                    |  Basic
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='pages_search-results.html')
                        | Search Results
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_profile.html')  Profile
                    li
                      a(href='pages_timeline.html')  Timeline Split
                    li
                      a(href='pages_timeline-single.html')  Timeline Single
                    li
                      a(href='pages_faq.html')  FAQ Page
                    li
                      a(href='pages_calendar.html')  Calendar
                    li
                      a(href='pages_messages.html')  Messages
                    li
                      a(href='pages_messages(alt).html')  Messages Alt
                    li
                      a(href='pages_gallery.html')  Gallery
                    li
                      a(href='pages_invoice.html')  Printable Invoice
            // sidebar bullets
            li.sidebar-label.pt20 Projects
            li.sidebar-proj
              a(href='#projectOne')
                span.fa.fa-bookmark.text-primary
                span.sidebar-title Executive Meeting
            li.sidebar-proj
              a(href='#projectTwo')
                span.fa.fa-bookmark.text-info
                span.sidebar-title HelpDesk Redesign
            li.sidebar-proj
              a(href='#projectTwo')
                span.fa.fa-bookmark.text-danger
                span.sidebar-title Sony Board Meeting
            li.sidebar-proj
              a(href='#projectThree')
                span.fa.fa-bookmark.text-warning
                span.sidebar-title Apple Tech Conference
      // Start: Content-Wrapper
      section#content_wrapper
        // Start: Topbar
        header#topbar.badges-mod.alt
          .topbar-left
            ol.breadcrumb
              li
                a(href="dashboard.php") Dashboard
              li
                a(href="admin_forms-elements.php") Form Elements
              li
                a(href="maps_basic.php") Plugins Pages
              li
                a(href="ui_alerts.php") UI Elements
              li
                a(href="documentation/") Documentation
          .topbar-right
            a.topbar-icon(href='#')
              span.fa.fa-search
            a.topbar-icon.topbar-menu-toggle.ml40(href='#', data-toggle='button')
              span.badge.badge-strikemaster.offset-badge 6
              span.fa.fa-magic
            .topbar-icon-wrap.ml40
              button.topbar-icon.dropdown-toggle(data-toggle='dropdown')
                span.badge.badge-primary 5
                span.fa.fa-bell.va-m
              .dropdown-menu.dropdown-persist.w350.animated.animated-shorter.fadeIn(role='menu')
                .panel.mbn
                  .panel-menu
                    span.panel-icon
                      i.fa.fa-clock-o
                    span.panel-title.fw600  Recent Activity
                    button.btn.btn-xs.pull-right(type='button')
                      i.fa.fa-refresh
                  .panel-body.panel-scroller.scroller-navbar.scroller-overlay.scroller-pn.pn
                    ol.timeline-list
                      li.timeline-item
                        .timeline-icon.bg-alert
                          span.fa.fa-tags
                        .timeline-desc
                          b Michael
                          |  Added to his store:
                          a(href='#') Ipod
                        .timeline-date 1:25am
                      li.timeline-item
                        .timeline-icon.bg-alert
                          span.fa.fa-tags
                        .timeline-desc
                          b Sara
                          |  Added his store:
                          a(href='#') Notebook
                        .timeline-date 3:05am
                      li.timeline-item
                        .timeline-icon.bg-success
                          span.fa.fa-usd
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Software
                        .timeline-date 4:15am
                      li.timeline-item
                        .timeline-icon.bg-success
                          span.fa.fa-usd
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Apple
                        .timeline-date 7:45am
                      li.timeline-item
                        .timeline-icon.bg-success
                          span.fa.fa-usd
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Software
                        .timeline-date 4:15am
                      li.timeline-item
                        .timeline-icon.bg-success
                          span.fa.fa-usd
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Apple
                        .timeline-date 7:45am
                      li.timeline-item
                        .timeline-icon.bg-alert
                          span.fa.fa-tags
                        .timeline-desc
                          b Michael
                          |  Added his store:
                          a(href='#') Ipod
                        .timeline-date 8:25am
                      li.timeline-item
                        .timeline-icon.bg-system
                          span.fa.fa-fire
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Software
                        .timeline-date 4:15am
                      li.timeline-item
                        .timeline-icon.bg-alert
                          span.fa.fa-tags
                        .timeline-desc
                          b Sara
                          |  Added to his store:
                          a(href='#') Notebook
                        .timeline-date 3:05am
                  .panel-footer.text-center.p7
                    a.link-unstyled(href='#')  View All
            .topbar-icon-wrap.ml35
              button.topbar-icon.dropdown-toggle(data-toggle='dropdown')
                span.badge.badge-mandy 5
                span.fa.fa-comments.va-m
              .dropdown-menu.dropdown-menu-offset.dropdown-persist.w350.animated.animated-shorter.fadeIn(role='menu')
                .panel.mbn
                  .panel-menu
                    span.panel-title.fw600 Messages
                  .panel-body.panel-scroller.scroller-navbar.scroller-overlay.scroller-pn.pn
                    .br-n.p10
                      .chat-widget
                        .media
                          .media-left
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/3.jpg')
                          .media-body
                            span.media-status.online
                            h5.media-heading
                              | Courtney Faught
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                        .media
                          .media-body
                            span.media-status.offline
                            h5.media-heading
                              | Joe Gibbons
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque.
                          .media-right
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/1.jpg')
                        .media
                          .media-left
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/2.jpg')
                          .media-body
                            span.media-status.online
                            h5.media-heading
                              | Courtney Faught
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metuscommodo.
                        .media
                          .media-body
                            span.media-status.offline
                            h5.media-heading
                              | Joe Gibbons
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in Nulla vel metus scelerisque antecommodo.
                          .media-right
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/1.jpg')
                        .media
                          .media-left
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/2.jpg')
                          .media-body
                            span.media-status.online
                            h5.media-heading
                              | Courtney Faught
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque soltudino.
                        .media
                          .media-body
                            span.media-status.offline
                            h5.media-heading
                              | Joe Gibbons
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
                          .media-right
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/1.jpg')
                  .panel-footer.text-center.p7
                    a.link-unstyled(href='#')  View All
        // Start: Topbar-Dropdown
        #topbar-dropmenu.alt
          .topbar-menu.row
            .col-xs-4.col-sm-2
              a.metro-tile.bg-primary.light(href='#')
                span.glyphicon.glyphicon-inbox.text-white
                span.metro-title Messages
            .col-xs-4.col-sm-2
              a.metro-tile.bg-info.light(href='#')
                span.glyphicon.glyphicon-user.text-white
                span.metro-title Users
            .col-xs-4.col-sm-2
              a.metro-tile.bg-success.light(href='#')
                span.glyphicon.glyphicon-headphones.text-white
                span.metro-title Support
            .col-xs-4.col-sm-2
              a.metro-tile.bg-system.light(href='#')
                span.glyphicon.glyphicon-facetime-video.text-white
                span.metro-title Videos
            .col-xs-4.col-sm-2
              a.metro-tile.bg-warning.light(href='#')
                span.fa.fa-gears.text-white
                span.metro-title Settings
            .col-xs-4.col-sm-2
              a.metro-tile.bg-alert.light(href='#')
                span.glyphicon.glyphicon-picture.text-white
                span.metro-title Pictures
        // Begin: Content
        section#content.table-layout.animated.fadeIn
          // begin: .tray-center
          .tray.tray-center
            .mw800.center-block
              #spy1.panel.mt20
                .panel-heading
                  span.panel-icon
                    i.fa.fa-crop
                  span.panel-title  Image Cropping Utility
                .panel-body.pn
                  .row.table-layout.table-clear-xs
                    .col-xs-12.col-sm-7
                      .img-container.pv10
                        img(src='assets/img/stock/1.jpg')
                    .col-xs-12.col-sm-5.bg-light.br-l.br-grey.va-t.pv10
                      div
                        .docs-toggles
                          // <h3 class="page-header">Toggles:</h3>
                          .btn-group.btn-group-justified(data-toggle='buttons')
                            label.btn.btn-primary.btn-sm.active(data-method='setAspectRatio', data-option='1.7777777777777777', title='Set Aspect Ratio')
                              input#aspestRatio1.sr-only(name='aspestRatio', value='1.7777777777777777', type='radio')
                              span.docs-tooltip(data-toggle='tooltip', title='$().cropper("setAspectRatio", 16 / 9)')
                                | 16:9
                            label.btn.btn-primary.btn-sm(data-method='setAspectRatio', data-option='1.3333333333333333', title='Set Aspect Ratio')
                              input#aspestRatio2.sr-only(name='aspestRatio', value='1.3333333333333333', type='radio')
                              span.docs-tooltip(data-toggle='tooltip', title='$().cropper("setAspectRatio", 4 / 3)')
                                | 4:3
                            label.btn.btn-primary.btn-sm(data-method='setAspectRatio', data-option='1', title='Set Aspect Ratio')
                              input#aspestRatio3.sr-only(name='aspestRatio', value='1', type='radio')
                              span.docs-tooltip(data-toggle='tooltip', title='$().cropper("setAspectRatio", 1 / 1)')
                                | 1:1
                            label.btn.btn-primary.btn-sm(data-method='setAspectRatio', data-option='0.6666666666666666', title='Set Aspect Ratio')
                              input#aspestRatio4.sr-only(name='aspestRatio', value='0.6666666666666666', type='radio')
                              span.docs-tooltip(data-toggle='tooltip', title='$().cropper("setAspectRatio", 2 / 3)')
                                | 2:3
                            label.btn.btn-primary.btn-sm(data-method='setAspectRatio', data-option='NaN', title='Set Aspect Ratio')
                              input#aspestRatio5.sr-only(name='aspestRatio', value='NaN', type='radio')
                              span.docs-tooltip(data-toggle='tooltip', title='$().cropper("setAspectRatio", NaN)')
                                | Free
                      .clearfix
                        .img-preview.preview-lg
                          img(src='assets/img/stock/1.jpg')
                        .img-preview.preview-md
                          img(src='assets/img/stock/1.jpg')
                        .img-preview.preview-sm
                          img(src='assets/img/stock/1.jpg')
                        .img-preview.preview-xs
                          img(src='assets/img/stock/1.jpg')
                      div
                        .docs-toggles
                          .dropdown.dropup.docs-options
                            button#toggleOptions.btn.btn-primary.btn-block.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true')
                              | Toggle Options
                              span.caret
                            ul.dropdown-menu(role='menu', aria-labelledby='toggleOptions')
                              li(role='presentation')
                                label.checkbox-inline
                                  input(type='checkbox', name='option', value='strict', checked='')
                                  |  strict
                              li(role='presentation')
                                label.checkbox-inline
                                  input(type='checkbox', name='option', value='responsive', checked='')
                                  |  responsive
                              li(role='presentation')
                                label.checkbox-inline
                                  input(type='checkbox', name='option', value='checkImageOrigin', checked='')
                                  |  checkImageOrigin
                              li(role='presentation')
                                label.checkbox-inline
                                  input(type='checkbox', name='option', value='modal', checked='')
                                  |  modal
                              li(role='presentation')
                                label.checkbox-inline
                                  input(type='checkbox', name='option', value='guides', checked='')
                                  |  guides
                              li(role='presentation')
                                label.checkbox-inline
                                  input(type='checkbox', name='option', value='highlight', checked='')
                                  |  highlight
                              li(role='presentation')
                                label.checkbox-inline
                                  input(type='checkbox', name='option', value='background', checked='')
                                  |  background
                              li(role='presentation')
                                label.checkbox-inline
                                  input(type='checkbox', name='option', value='autoCrop', checked='')
                                  |  autoCrop
                              li(role='presentation')
                                label.checkbox-inline
                                  input(type='checkbox', name='option', value='dragCrop', checked='')
                                  |  dragCrop
                              li(role='presentation')
                                label.checkbox-inline
                                  input(type='checkbox', name='option', value='movable', checked='')
                                  |  movable
                              li(role='presentation')
                                label.checkbox-inline
                                  input(type='checkbox', name='option', value='resizable', checked='')
                                  |  resizable
                              li(role='presentation')
                                label.checkbox-inline
                                  input(type='checkbox', name='option', value='rotatable', checked='')
                                  |  rotatable
                              li(role='presentation')
                                label.checkbox-inline
                                  input(type='checkbox', name='option', value='zoomable', checked='')
                                  |  zoomable
                              li(role='presentation')
                                label.checkbox-inline
                                  input(type='checkbox', name='option', value='touchDragZoom', checked='')
                                  |  touchDragZoom
                              li(role='presentation')
                                label.checkbox-inline
                                  input(type='checkbox', name='option', value='mouseWheelZoom', checked='')
                                  |  mouseWheelZoom
                          // /.dropdown
                .panel-footer
                  .docs-buttons
                    .btn-group
                      button.btn.btn-primary.btn-sm(data-method='setDragMode', data-option='move', type='button', title='Move')
                        span.docs-tooltip(data-toggle='tooltip', title='$().cropper("setDragMode", "move")')
                          span.fa.fa-arrows
                      button.btn.btn-primary.btn-sm(data-method='setDragMode', data-option='crop', type='button', title='Crop')
                        span.docs-tooltip(data-toggle='tooltip', title='$().cropper("setDragMode", "crop")')
                          span.fa.fa-crop
                      button.btn.btn-primary.btn-sm(data-method='zoom', data-option='0.1', type='button', title='Zoom In')
                        span.docs-tooltip(data-toggle='tooltip', title='$().cropper("zoom", 0.1)')
                          span.fa.fa-search-plus
                      button.btn.btn-primary.btn-sm(data-method='zoom', data-option='-0.1', type='button', title='Zoom Out')
                        span.docs-tooltip(data-toggle='tooltip', title='$().cropper("zoom", -0.1)')
                          span.fa.fa-search-minus
                      button.btn.btn-primary.btn-sm(data-method='rotate', data-option='-45', type='button', title='Rotate Left')
                        span.docs-tooltip(data-toggle='tooltip', title='$().cropper("rotate", -45)')
                          span.fa.fa-rotate-left
                      button.btn.btn-primary.btn-sm(data-method='rotate', data-option='45', type='button', title='Rotate Right')
                        span.docs-tooltip(data-toggle='tooltip', title='$().cropper("rotate", 45)')
                          span.fa.fa-rotate-right
                    .btn-group
                      button.btn.btn-primary.btn-sm(data-method='disable', type='button', title='Disable')
                        span.docs-tooltip(data-toggle='tooltip', title='$().cropper("disable")')
                          span.fa.fa-lock
                      button.btn.btn-primary.btn-sm(data-method='enable', type='button', title='Enable')
                        span.docs-tooltip(data-toggle='tooltip', title='$().cropper("enable")')
                          span.fa.fa-unlock
                      button.btn.btn-primary.btn-sm(data-method='clear', type='button', title='Clear')
                        span.docs-tooltip(data-toggle='tooltip', title='$().cropper("clear")')
                          span.fa.fa-remove
                      button.btn.btn-primary.btn-sm(data-method='reset', type='button', title='Reset')
                        span.docs-tooltip(data-toggle='tooltip', title='$().cropper("reset")')
                          span.fa.fa-refresh
                      label.btn.btn-primary.btn-sm.btn-upload(for='inputImage', title='Upload image file')
                        input#inputImage.sr-only(name='file', type='file', accept='image/*')
                        span.docs-tooltip(data-toggle='tooltip', title='Import image with Blob URLs')
                          span.fa.fa-upload
                      button.btn.btn-primary.btn-sm(data-method='destroy', type='button', title='Destroy')
                        span.docs-tooltip(data-toggle='tooltip', title='$().cropper("destroy")')
                          span.fa.fa-power-off
                    .btn-group.btn-group-crop
                      button.btn.btn-primary.btn-sm(data-method='getCroppedCanvas', type='button')
                        span.docs-tooltip(data-toggle='tooltip', title='$().cropper("getCroppedCanvas")')
                          | Get Cropped Canvas
                      button.btn.btn-primary.btn-sm(data-method='getCroppedCanvas', data-option='{ "width": 160, "height": 90 }', type='button')
                        span.docs-tooltip(data-toggle='tooltip', title='$().cropper("getCroppedCanvas", { "width": 160, "height": 90 })')
                          | 160 × 90
                      button.btn.btn-primary.btn-sm(data-method='getCroppedCanvas', data-option='{ "width": 320, "height": 180 }', type='button')
                        span.docs-tooltip(data-toggle='tooltip', title='$().cropper("getCroppedCanvas", { "width": 320, "height": 180 })')
                          | 320 × 180
                    // Show the cropped image in modal
                    #getCroppedCanvasModal.modal.fade.docs-cropped(aria-hidden='true', aria-labelledby='getCroppedCanvasTitle', role='dialog', tabindex='-1')
                      .modal-dialog
                        .modal-content
                          .modal-header
                            button.close(data-dismiss='modal', type='button', aria-hidden='true') ×
                            h4#getCroppedCanvasTitle.modal-title Cropped
                          .modal-body
                          //
                            <div class="modal-footer">
                            <button class="btn btn-primary" data-dismiss="modal" type="button">Close</button>
                            </div>
                    // /.modal
                    button.btn.btn-primary.btn-sm(data-method='getData', data-option='', data-target='#putData', type='button')
                      span.docs-tooltip(data-toggle='tooltip', title='$().cropper("getData")')
                        | Get Data
                    button.btn.btn-primary.btn-sm(data-method='getImageData', data-option='', data-target='#putData', type='button')
                      span.docs-tooltip(data-toggle='tooltip', title='$().cropper("getImageData")')
                        | Get Image Data
                    button.btn.btn-primary.btn-sm(data-method='getCanvasData', data-option='', data-target='#putData', type='button')
                      span.docs-tooltip(data-toggle='tooltip', title='$().cropper("getCanvasData")')
                        | Get Canvas Data
                    button.btn.btn-primary.btn-sm(data-method='setCanvasData', data-target='#putData', type='button')
                      span.docs-tooltip(data-toggle='tooltip', title='$().cropper("setCanvasData", data)')
                        | Set Canvas Data
                    button.btn.btn-primary.btn-sm(data-method='getCropBoxData', data-option='', data-target='#putData', type='button')
                      span.docs-tooltip(data-toggle='tooltip', title='$().cropper("getCropBoxData")')
                        | Get Crop Box Data
                    button.btn.btn-primary.btn-sm(data-method='setCropBoxData', data-target='#putData', type='button')
                      span.docs-tooltip(data-toggle='tooltip', title='$().cropper("setCropBoxData", data)')
                        | Set Crop Box Data
                    input#putData.form-control.mt5(type='text', placeholder='Get data to here or set data with this value')
              #spy2.panel.mt50
                .panel-heading
                  span.panel-icon
                    i.fa.fa-upload
                  span.panel-title  Image Upload & Preview
                .panel-body
                  .fileupload.fileupload-new(data-provides='fileupload')
                    .fileupload-preview.thumbnail.mb20
                      img(data-src='holder.js/100%x195', alt='holder')
                    .row
                      .col-xs-7.pr5
                        input#name2.form-control.text-center.event-name.br-light.bg-light(type='text', name='name2', placeholder='Img Keywords')
                        label.field-icon(for='name2')
                      .col-xs-5
                        span.btn.btn-system.btn-file.btn-block
                          span.fileupload-new Select
                          span.fileupload-exists Change
                          input(type='file')
              #spy3.panel.mt50
                .panel-heading
                  span.panel-icon
                    i.fa.fa-search
                  span.panel-title  Image Zoom Utility
                .panel-menu.p10
                  // zoom style switcher(demo code)
                  .btn-group.zoom-switcher.btn-group-justified
                    a.btn.btn-default.active(href='#', type='button', opt='1') Porthole
                    a.btn.btn-default(href='#', type='button', opt='2') InnerZoom
                    a.btn.btn-default(href='#', type='button', opt='3') Attached
                .panel-body.p10
                  // zoomable image
                  img#zoom_demo.img-responsive(src='assets/img/stock/3.jpg', data-zoom-image='assets/img/stock/3.jpg')
          // begin: .tray-left
          aside.tray.tray-right.tray320(data-tray-height='match')
            #nav-spy
              ul.nav.tray-nav.tray-nav-border(data-smoothscroll='-75', data-spy='affix', data-offset-top='200')
                li.active
                  a(href='#spy1')
                    span.fa.fa-crop.fa-lg
                    |                   Image Cropper
                li
                  a(href='#spy2')
                    span.fa.fa-upload.fa-lg
                    |                   Image Upload w/Preview
                li
                  a(href='#spy3')
                    span.fa.fa-search.fa-lg
                    |                   Image Zoom Utility
      // Start: Right Sidebar
      aside#sidebar_right.nano.affix
        // Start: Sidebar Right Content
        .sidebar-right-content.nano-content
          .tab-block.sidebar-block.br-n
            ul.nav.nav-tabs.tabs-border.nav-justified.hidden
              li.active
                a(href='#sidebar-right-tab1', data-toggle='tab') Tab 1
              li
                a(href='#sidebar-right-tab2', data-toggle='tab') Tab 2
              li
                a(href='#sidebar-right-tab3', data-toggle='tab') Tab 3
            .tab-content.br-n
              #sidebar-right-tab1.tab-pane.active
                h5.title-divider.text-muted.mb20
                  | Server Statistics
                  span.pull-right
                    | 2013
                    i.fa.fa-caret-down.ml5
                .progress.mh5
                  .progress-bar.progress-bar-primary(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 44%')
                    span.fs11 DB Request
                .progress.mh5
                  .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 84%')
                    span.fs11.text-left Server Load
                .progress.mh5
                  .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 61%')
                    span.fs11.text-left Server Connections
                h5.title-divider.text-muted.mt30.mb10 Traffic Margins
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 132
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  13.2%
                h5.title-divider.text-muted.mt25.mb10 Database Request
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 212
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  25.6%
                h5.title-divider.text-muted.mt25.mb10 Server Response
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 82.5
                  .col-xs-7.text-right
                    h3.text-danger.mn
                      i.fa.fa-caret-down
                      |  17.9%
                h5.title-divider.text-muted.mt40.mb20
                  | Server Statistics
                  span.pull-right.text-primary.fw600 USA
              #sidebar-right-tab2.tab-pane
              #sidebar-right-tab3.tab-pane
    // core scripts
    script(src='plugins/core.min.js')
    // Theme Javascript
    script(src='assets/js/utility/utility.js')
    script(src='assets/js/demo/demo.js')
    script(src='assets/js/main.js')
    script(type='text/javascript').
      jQuery(document).ready(function () {
        "use strict";
        // Init Theme Core
        Core.init();
        // Init Demo JS
        Demo.init();
        // Init Zoom Plugin
        var zoomSelector = $('#zoom_demo');
        zoomSelector.elevateZoom({
          // borderColour: "#4a89dc", // Porthole border color
          constrainType: "height",
          constrainSize: 274,
          zoomType: "lens",
          lensSize: 190,
          containLensZoom: true,
          zoomWindowPosition: 9,
          zoomWindowFadeIn: 400,
          zoomWindowFadeOut: 400,
          lensFadeIn: 300,
          lensFadeOut: 300
        });
        // Zoom styles changer
        $('.zoom-switcher').find('a').on('click', function (e) {
          e.preventDefault();
          // Zoom Options
          var zoomStyle = $(this).attr('opt');
          // ZoomStyle Switcher
          switch (zoomStyle) {
            case '1':
              zoomSelector.elevateZoom({
                constrainType: "height",
                constrainSize: 274,
                zoomType: "lens",
                lensSize: 190,
                containLensZoom: true,
                zoomWindowPosition: 9,
                zoomWindowFadeIn: 400,
                zoomWindowFadeOut: 400,
                lensFadeIn: 300,
                lensFadeOut: 300
              });
              break;
            case '2':
              zoomSelector.elevateZoom({
                zoomType: "inner",
                cursor: "crosshair",
                zoomWindowFadeIn: 400,
                zoomWindowFadeOut: 400
              });
              break;
            case '3':
              zoomSelector.elevateZoom({
                tint: true,
                tintColour: '#000',
                tintOpacity: 0.65,
                zoomWindowPosition: 1,
                zoomWindowFadeIn: 400,
                zoomWindowFadeOut: 400,
                lensFadeIn: 300,
                lensFadeOut: 300
              });
              break;
          }
          $(this).siblings().removeClass("active");
          $(this).addClass("active");
        });
        var console = window.console || {
                          log: function () {
                          }
                        },
                $alert = $('.docs-alert'),
                $message = $alert.find('.message'),
                showMessage = function (message, type) {
                  $message.text(message);
                  if (type) {
                    $message.addClass(type);
                  }
                  $alert.fadeIn();
                  setTimeout(function () {
                    $alert.fadeOut();
                  }, 3000);
                };
        // Cropper Demo
        (function () {
          var $image = $('.img-container > img'),
                  $dataX = $('#dataX'),
                  $dataY = $('#dataY'),
                  $dataHeight = $('#dataHeight'),
                  $dataWidth = $('#dataWidth'),
                  $dataRotate = $('#dataRotate'),
                  options = {
                    aspectRatio: 16 / 9,
                    preview: '.img-preview',
                    crop: function (data) {
                      $dataX.val(Math.round(data.x));
                      $dataY.val(Math.round(data.y));
                      $dataHeight.val(Math.round(data.height));
                      $dataWidth.val(Math.round(data.width));
                      $dataRotate.val(Math.round(data.rotate));
                    }
                  };
          $image.cropper(options);
          // Methods
          $(document.body).on('click', '[data-method]', function () {
            var data = $(this).data(),
                    $target,
                    result;
            if (data.method) {
              data = $.extend({}, data); // Clone a new one
              if (typeof data.target !== 'undefined') {
                $target = $(data.target);
                if (typeof data.option === 'undefined') {
                  try {
                    data.option = JSON.parse($target.val());
                  } catch (e) {
                    console.log(e.message);
                  }
                }
              }
              result = $image.cropper(data.method, data.option);
              if (data.method === 'getCroppedCanvas') {
                $('#getCroppedCanvasModal').modal().find('.modal-body').html(result);
              }
              if ($.isPlainObject(result) && $target) {
                try {
                  $target.val(JSON.stringify(result));
                } catch (e) {
                  console.log(e.message);
                }
              }
            }
          }).on('keydown', function (e) {
            switch (e.which) {
              case 37:
                e.preventDefault();
                $image.cropper('move', -1, 0);
                break;
              case 38:
                e.preventDefault();
                $image.cropper('move', 0, -1);
                break;
              case 39:
                e.preventDefault();
                $image.cropper('move', 1, 0);
                break;
              case 40:
                e.preventDefault();
                $image.cropper('move', 0, 1);
                break;
            }
          });
          // Import image
          var $inputImage = $('#inputImage'),
                  URL = window.URL || window.webkitURL,
                  blobURL;
          if (URL) {
            $inputImage.change(function () {
              var files = this.files,
                      file;
              if (files && files.length) {
                file = files[0];
                if (/^image\/\w+$/.test(file.type)) {
                  blobURL = URL.createObjectURL(file);
                  $image.one('built.cropper', function () {
                    URL.revokeObjectURL(blobURL); // Revoke when load complete
                  }).cropper('reset', true).cropper('replace', blobURL);
                  $inputImage.val('');
                } else {
                  showMessage('Please choose an image file.');
                }
              }
            });
          } else {
            $inputImage.parent().remove();
          }
          // Options
          $('.docs-options :checkbox').on('change', function () {
            var $this = $(this);
            options[$this.val()] = $this.prop('checked');
            $image.cropper('destroy').cropper(options);
          });
          // Tooltips
          $('[data-toggle="tooltip"]').tooltip();
        }());
      });