extends  _skeleton

block stylesheets
  link(rel='stylesheet', type='text/css', href='plugins/css/magnific-popup.css')
  link(rel='stylesheet', type='text/css', href='assets/admin-tools/admin-forms/css/admin-forms.css')

block body
  body.gallery-page
    // Start: Theme Preview Pane
    #skin-toolbox
      .panel
        .panel-heading
          span.panel-icon
            i.fa.fa-gear.text-primary
          span.panel-title  Theme Options
        .panel-body.pn
          ul.nav.nav-list.nav-list-sm.pl15.pt10(role='tablist')

            li.active
              a(href='#toolbox-sidebar', role='tab', data-toggle='tab') Sidebar
            li
              a(href='#toolbox-settings', role='tab', data-toggle='tab') Misc
          .tab-content.p20.ptn.pb15

            #toolbox-sidebar.tab-pane.active(role='tabpanel')
              form#toolbox-sidebar-skin
                h4.mv20 Sidebar Skins
                .skin-toolbox-swatches
                  .checkbox-custom.fill.mb5
                    input#sidebarSkin3(type='radio', name='sidebarSkin', checked='', value='')
                    label(for='sidebarSkin3') Dark
                  .checkbox-custom.fill.checkbox-disabled.mb5
                    input#sidebarSkin1(type='radio', name='sidebarSkin', value='sidebar-light')
                    label(for='sidebarSkin1') Light
                  .checkbox-custom.fill.checkbox-light.mb5
                    input#sidebarSkin2(type='radio', name='sidebarSkin', value='sidebar-light light')
                    label(for='sidebarSkin2') Lighter
            #toolbox-settings.tab-pane(role='tabpanel')
              form#toolbox-settings-misc
                h4.mv20.mtn Layout Options

                .form-group
                  .checkbox-custom.fill.mb5
                    input#sidebar-option(type='checkbox', checked='')
                    label(for='sidebar-option') Fixed Sidebar

                h4.mv20 Layout Options
                .form-group
                  .radio-custom.mb5
                    input#fullwidth-option(type='radio', checked='', name='layout-option')
                    label(for='fullwidth-option') Fullwidth Layout
                .form-group.mb20.pointer-events-none
                  .radio-custom.radio-disabled.mb5
                    input#boxed-option(type='radio', name='layout-option', disabled='')
                    label(for='boxed-option')
                      | Boxed Layout
                      b.text-muted (Coming Soon)
          .form-group.mn.br-t.p15
            a#clearLocalStorage.btn.btn-primary.btn-block.pb10.pt10(href='#') Clear LocalStorage
    // Start: Main
    #main
      // Start: Sidebar
      aside#sidebar_left.nano.nano-light.affix
        // Navbar Branding
        .navbar-branding
          a.navbar-brand(href='dashboard.html')
            span.text-white Ruby
            = ' '
            | Admin
          span#toggle_sidemenu_l.ad.ad-lines
        // Start: Sidebar Left Content
        .sidebar-left-content.nano-content
          // Start: Sidebar Header
          header.sidebar-header
            // Sidebar Widget - Author
            .sidebar-widget.author-widget
              .media
                a.media-left(href='#')
                  img.img-responsive(src='assets/img/avatars/3.jpg')
                .media-body
                  .media-links
                  .media-author Ryan Harrison
                  a.sidebar-menu-toggle(href='#') User Menu
                  a(href='pages_login(alt).html') Logout
            // Sidebar Widget - Menu (slidedown)
            .sidebar-widget.menu-widget
              .row.text-center.mbn
                .col-xs-4
                  a.text-primary(href='dashboard.html', data-toggle='tooltip', data-placement='top', title='Dashboard')
                    span.glyphicon.glyphicon-home
                .col-xs-4
                  a.text-info(href='pages_messages.html', data-toggle='tooltip', data-placement='top', title='Messages')
                    span.glyphicon.glyphicon-inbox
                .col-xs-4
                  a.text-alert(href='pages_profile.html', data-toggle='tooltip', data-placement='top', title='Tasks')
                    span.glyphicon.glyphicon-bell
                .col-xs-4
                  a.text-system(href='pages_timeline.html', data-toggle='tooltip', data-placement='top', title='Activity')
                    span.fa.fa-desktop
                .col-xs-4
                  a.text-danger(href='pages_profile.html', data-toggle='tooltip', data-placement='top', title='Settings')
                    span.fa.fa-gears
                .col-xs-4
                  a.text-warning(href='pages_gallery.html', data-toggle='tooltip', data-placement='top', title='Cron Jobs')
                    span.fa.fa-flask
            // Sidebar Widget - Search (hidden)
            .sidebar-widget.search-widget.hidden
              .input-group
                span.input-group-addon
                  i.fa.fa-search
                input#sidebar-search.form-control(type='text', placeholder='Search...')
          // Start: Sidebar Menu
          ul.nav.sidebar-menu
            li.sidebar-label.pt20 Menu
            li
              a(href='pages_calendar.html')
                span.fa.fa-calendar
                span.sidebar-title Calendar
                span.sidebar-title-tray
                  span.label.label-xs.bg-primary New
            li
              a(href='documentation/')
                span.glyphicon.glyphicon-book
                span.sidebar-title Documentation
            li.active
              a(href='dashboard.html')
                span.glyphicon.glyphicon-home
                span.sidebar-title Dashboard
            li.sidebar-label.pt15 Exclusive Tools
            li
              a.accordion-toggle(href='#')
                span.fa.fa-columns
                span.sidebar-title Layout Templates
                span.caret
              ul.nav.sub-nav
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa.fa-arrows-h
                    |                   Sidebars
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_sidebar-left-static.html')
                        | Left Static
                    li
                      a(href='layout_sidebar-left-fixed.html')
                        | Left Fixed
                    li
                      a(href='layout_sidebar-left-widgets.html')
                        | Left Widgets
                    li
                      a(href='layout_sidebar-left-minified.html')
                        | Left Minified
                    li
                      a(href='layout_sidebar-left-light.html')
                        | Left White
                    li
                      a(href='layout_sidebar-right-static.html')
                        | Right Static
                    li
                      a(href='layout_sidebar-right-fixed.html')
                        | Right Fixed
                    li
                      a(href='layout_sidebar-right-menu.html')
                        | Right w/Menu
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-arrows-v
                    |                   Navbar
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_navbar-static.html')
                        | Navbar Static
                    li
                      a(href='layout_navbar-fixed.html')
                        | Navbar Fixed
                    li
                      a(href='layout_navbar-menus.html')
                        | Navbar Menus
                    li
                      a(href='layout_navbar-contextual.html')
                        | Contextual Example
                    li
                      a(href='layout_navbar-search-alt.html')
                        | Search Alt Style
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-hand-o-up
                    |                   Topbar
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_topbar.html')
                        | Default Style
                    li
                      a(href='layout_topbar-menu.html')
                        | Default w/Menu
                    li
                      a(href='layout_topbar-alt.html')
                        | Alternate Style
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-arrows-v
                    |                   Content Body
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_content-blank.html')
                        | Blank Starter
                    li
                      a(href='layout_content-fixed.html')
                        | Fixed Window
                    li
                      a(href='layout_content-heading.html')
                        | Content Heading
                    li
                      a(href='layout_content-tabs.html')
                        | Content Tabs
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-pause
                    |                   Content Trays
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_tray-left.html')
                        | Tray Left Static
                    li
                      a(href='layout_tray-left-fixed.html')
                        | Tray Left Fixed
                    li
                      a(href='layout_tray-right.html')
                        | Tray Right Static
                    li
                      a(href='layout_tray-right-fixed.html')
                        | Tray Right Fixed
                    li
                      a(href='layout_tray-both.html')
                        | Left + Right Static
                    li
                      a(href='layout_tray-both-fixed.html')
                        | Left + Right Fixed
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-plus-square-o
                    |                   Boxed Layout
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_boxed.html')
                        | Default
                    li
                      a(href='layout_boxed-horizontal.html')
                        | Horizontal Menu
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-arrow-circle-o-up
                    |                   Horizontal Menu
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_horizontal-sm.html')
                        | Small Size
                    li
                      a(href='layout_horizontal-md.html')
                        | Medium Size
                    li
                      a(href='layout_horizontal-lg.html')
                        | Large Size
                    li
                      a(href='layout_horizontal-light.html')
                        | Light Skin
                    li
                      a(href='layout_horizontal-topbar.html')
                        | With Topbar
                    li
                      a(href='layout_horizontal-topbar-alt.html')
                        | With Alt Topbar
                    li
                      a(href='layout_horizontal-collapsed.html')
                        | Collapsed onLoad
                    li
                      a(href='layout_horizontal-boxed.html')
                        | In Boxed Layout
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-fire
                span.sidebar-title Admin Plugins
                span.caret
              ul.nav.sub-nav
                li
                  a(href='admin_plugins-panels.html')
                    span.glyphicon.glyphicon-book
                    |  Admin Panels
                li
                  a(href='admin_plugins-modals.html')
                    span.glyphicon.glyphicon-modal-window
                    |  Admin Modals
                li
                  a(href='admin_plugins-dock.html')
                    span.glyphicon.glyphicon-equalizer
                    |  Admin Dock
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-check
                span.sidebar-title Admin Forms
                span.caret
              ul.nav.sub-nav
                li
                  a(href='admin_forms-elements.html')
                    span.glyphicon.glyphicon-edit
                    |  Admin Elements
                li
                  a(href='admin_forms-widgets.html')
                    span.glyphicon.glyphicon-calendar
                    |  Admin Widgets
                li
                  a(href='admin_forms-validation.html')
                    span.glyphicon.glyphicon-check
                    |  Admin Validation
                li
                  a(href='admin_forms-layouts.html')
                    span.fa.fa-desktop
                    |  Admin Layouts
                li
                  a(href='admin_forms-wizard.html')
                    span.fa.fa-clipboard
                    |  Admin Wizard
            li.sidebar-label.pt20 Systems
            li
              a.accordion-toggle(href='#')
                span.fa.fa-diamond
                span.sidebar-title Widget Packages
                span.caret
              ul.nav.sub-nav
                li
                  a(href='widgets_tile.html')
                    span.fa.fa-cube
                    |  Tile Widgets
                li
                  a(href='widgets_panel.html')
                    span.fa.fa-desktop
                    |  Panel Widgets
                li
                  a(href='widgets_scroller.html')
                    span.fa.fa-columns
                    |  Scroller Widgets
                li
                  a(href='widgets_data.html')
                    span.fa.fa-dot-circle-o
                    |  Admin Widgets
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-shopping-cart
                span.sidebar-title Ecommerce
                span.caret
              ul.nav.sub-nav
                li
                  a(href='ecommerce_dashboard.html')
                    span.glyphicon.glyphicon-shopping-cart
                    |  Dashboard
                    span.label.label-xs.bg-primary New
                li
                  a(href='ecommerce_products.html')
                    span.glyphicon.glyphicon-tags
                    |  Products
                li
                  a(href='ecommerce_orders.html')
                    span.fa.fa-money
                    |  Orders
                li
                  a(href='ecommerce_customers.html')
                    span.fa.fa-users
                    |  Customers
                li
                  a(href='ecommerce_settings.html')
                    span.fa.fa-gears
                    |  Store Settings

            // sidebar resources
            li.sidebar-label.pt20 Elements
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-bell
                span.sidebar-title UI Elements
                span.caret
              ul.nav.sub-nav
                li
                  a(href='ui_alerts.html')
                    span.fa.fa-warning
                    |  Alerts
                li
                  a(href='ui_animations.html')
                    span.fa.fa-spinner
                    |  Animations
                li
                  a(href='ui_buttons.html')
                    span.fa.fa-plus-square-o
                    |  Buttons
                li
                  a(href='ui_typography.html')
                    span.fa.fa-text-width
                    |  Typography
                li
                  a(href='ui_portlets.html')
                    span.fa.fa-archive
                    |  Portlets
                li
                  a(href='ui_progress-bars.html')
                    span.fa.fa-bars
                    |  Progress Bars
                li
                  a(href='ui_tabs.html')
                    span.fa.fa-toggle-off
                    |  Tabs
                li
                  a(href='ui_icons.html')
                    span.fa.fa-hand-o-right
                    |  Icons
                li
                  a(href='ui_grid.html')
                    span.fa.fa-th-large
                    |  Grid
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-hdd
                span.sidebar-title Form Elements
                span.caret
              ul.nav.sub-nav
                li
                  a(href='form_inputs.html')
                    span.fa.fa-magic
                    |  Basic Inputs
                li
                  a(href='form_plugins.html')
                    span.fa.fa-bell-o
                    |  Plugin Inputs
                    span.label.label-xs.bg-primary New
                li
                  a(href='form_editors.html')
                    span.fa.fa-clipboard
                    |  Editors
                li
                  a(href='form_treeview.html')
                    span.fa.fa-tree
                    |  Treeview
                li
                  a(href='form_nestable.html')
                    span.fa.fa-tasks
                    |  Nestable
                li
                  a(href='form_image-tools.html')
                    span.fa.fa-cloud-upload
                    |  Image Tools
                    span.label.label-xs.bg-primary New
                li
                  a(href='form_uploaders.html')
                    span.fa.fa-cloud-upload
                    |  Uploaders
                li
                  a(href='form_notifications.html')
                    span.fa.fa-bell-o
                    |  Notifications
                li
                  a(href='form_content-sliders.html')
                    span.fa.fa-exchange
                    |  Content Sliders
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-tower
                span.sidebar-title Plugins
                span.caret
              ul.nav.sub-nav
                li
                  a.accordion-toggle(href='#')
                    span.glyphicon.glyphicon-globe
                    |  Maps
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='maps_basic.html') Basic Maps
                    li
                      a(href='maps_vector.html') Vector Maps
                    li
                      a(href='maps_full.html') Full Map
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-area-chart
                    |  Charts
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='charts_highcharts.html') Highcharts
                    li
                      a(href='charts_d3.html') D3 Charts
                    li
                      a(href='charts_flot.html') Flot Charts
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-table
                    |  Tables
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='tables_basic.html')  Basic Tables


                    li
                      a(href='tables_footable.html')  FooTables
                    li
                      a(href='tables_pricing.html')  Pricing Tables
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-flask
                    |  Misc
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='misc_tour.html')  Site Tour
                    li
                      a(href='misc_timeout.html')  Session Timeout
                    li
                      a(href='misc_nprogress.html')  Page Progress Loader
            li
              a.accordion-toggle.menu-open(href='#')
                span.glyphicon.glyphicon-duplicate
                span.sidebar-title Pages
                span.caret
              ul.nav.sub-nav
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-gears
                    |  Utility
                    span.caret
                  ul.nav.sub-nav

                    li
                      a(href='pages_confirmation.html', target='_blank')
                        | Confirmation
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_login.html', target='_blank')  Login
                    li
                      a(href='pages_login(alt).html', target='_blank')
                        | Login Alt
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_register.html', target='_blank')  Register
                    li
                      a(href='pages_register(alt).html', target='_blank')
                        | Register Alt
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_screenlock.html', target='_blank')  Screenlock
                    li
                      a(href='pages_screenlock(alt).html', target='_blank')
                        | Screenlock Alt
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_forgotpw.html', target='_blank')  Forgot Password
                    li
                      a(href='pages_forgotpw(alt).html', target='_blank')
                        | Forgot Password Alt
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_coming-soon.html', target='_blank')
                        | Coming Soon
                    li
                      a(href='pages_404.html')  404 Error
                    li
                      a(href='pages_500.html')  500 Error
                    li
                      a(href='pages_404(alt).html')  404 Error Alt
                    li
                      a(href='pages_500(alt).html')  500 Error Alt
                li
                  a.accordion-toggle.menu-open(href='#')
                    span.fa.fa-desktop
                    |  Basic
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='pages_search-results.html')
                        | Search Results
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_profile.html')  Profile
                    li
                      a(href='pages_timeline.html')  Timeline Split
                    li
                      a(href='pages_timeline-single.html')  Timeline Single
                    li
                      a(href='pages_faq.html')  FAQ Page
                    li
                      a(href='pages_calendar.html')  Calendar
                    li
                      a(href='pages_messages.html')  Messages
                    li
                      a(href='pages_messages(alt).html')  Messages Alt
                    li.active
                      a(href='pages_gallery.html')  Gallery
                    li
                      a(href='pages_invoice.html')  Printable Invoice
            // sidebar bullets
            li.sidebar-label.pt20 Projects
            li.sidebar-proj
              a(href='#projectOne')
                span.fa.fa-bookmark.text-primary
                span.sidebar-title Executive Meeting
            li.sidebar-proj
              a(href='#projectTwo')
                span.fa.fa-bookmark.text-info
                span.sidebar-title HelpDesk Redesign
            li.sidebar-proj
              a(href='#projectTwo')
                span.fa.fa-bookmark.text-danger
                span.sidebar-title Sony Board Meeting
            li.sidebar-proj
              a(href='#projectThree')
                span.fa.fa-bookmark.text-warning
                span.sidebar-title Apple Tech Conference
      // Start: Content-Wrapper
      section#content_wrapper
        // Start: Topbar
        header#topbar.badges-mod.alt
          .topbar-left
            ol.breadcrumb
              li
                a(href="dashboard.php") Dashboard
              li
                a(href="admin_forms-elements.php") Form Elements
              li
                a(href="maps_basic.php") Plugins Pages
              li
                a(href="ui_alerts.php") UI Elements
              li
                a(href="documentation/") Documentation
          .topbar-right
            a.topbar-icon(href='#')
              span.fa.fa-search
            a.topbar-icon.topbar-menu-toggle.ml40(href='#', data-toggle='button')
              span.badge.badge-strikemaster.offset-badge 6
              span.fa.fa-magic
            .topbar-icon-wrap.ml40
              button.topbar-icon.dropdown-toggle(data-toggle='dropdown')
                span.badge.badge-primary 5
                span.fa.fa-bell.va-m
              .dropdown-menu.dropdown-persist.w350.animated.animated-shorter.fadeIn(role='menu')
                .panel.mbn
                  .panel-menu
                    span.panel-icon
                      i.fa.fa-clock-o
                    span.panel-title.fw600  Recent Activity
                    button.btn.btn-xs.pull-right(type='button')
                      i.fa.fa-refresh
                  .panel-body.panel-scroller.scroller-navbar.scroller-overlay.scroller-pn.pn
                    ol.timeline-list
                      li.timeline-item
                        .timeline-icon.bg-alert
                          span.fa.fa-tags
                        .timeline-desc
                          b Michael
                          |  Added to his store:
                          a(href='#') Ipod
                        .timeline-date 1:25am
                      li.timeline-item
                        .timeline-icon.bg-alert
                          span.fa.fa-tags
                        .timeline-desc
                          b Sara
                          |  Added his store:
                          a(href='#') Notebook
                        .timeline-date 3:05am
                      li.timeline-item
                        .timeline-icon.bg-success
                          span.fa.fa-usd
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Software
                        .timeline-date 4:15am
                      li.timeline-item
                        .timeline-icon.bg-success
                          span.fa.fa-usd
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Apple
                        .timeline-date 7:45am
                      li.timeline-item
                        .timeline-icon.bg-success
                          span.fa.fa-usd
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Software
                        .timeline-date 4:15am
                      li.timeline-item
                        .timeline-icon.bg-success
                          span.fa.fa-usd
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Apple
                        .timeline-date 7:45am
                      li.timeline-item
                        .timeline-icon.bg-alert
                          span.fa.fa-tags
                        .timeline-desc
                          b Michael
                          |  Added his store:
                          a(href='#') Ipod
                        .timeline-date 8:25am
                      li.timeline-item
                        .timeline-icon.bg-system
                          span.fa.fa-fire
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Software
                        .timeline-date 4:15am
                      li.timeline-item
                        .timeline-icon.bg-alert
                          span.fa.fa-tags
                        .timeline-desc
                          b Sara
                          |  Added to his store:
                          a(href='#') Notebook
                        .timeline-date 3:05am
                  .panel-footer.text-center.p7
                    a.link-unstyled(href='#')  View All
            .topbar-icon-wrap.ml35
              button.topbar-icon.dropdown-toggle(data-toggle='dropdown')
                span.badge.badge-mandy 5
                span.fa.fa-comments.va-m
              .dropdown-menu.dropdown-menu-offset.dropdown-persist.w350.animated.animated-shorter.fadeIn(role='menu')
                .panel.mbn
                  .panel-menu
                    span.panel-title.fw600 Messages
                  .panel-body.panel-scroller.scroller-navbar.scroller-overlay.scroller-pn.pn
                    .br-n.p10
                      .chat-widget
                        .media
                          .media-left
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/3.jpg')
                          .media-body
                            span.media-status.online
                            h5.media-heading
                              | Courtney Faught
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                        .media
                          .media-body
                            span.media-status.offline
                            h5.media-heading
                              | Joe Gibbons
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque.
                          .media-right
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/1.jpg')
                        .media
                          .media-left
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/2.jpg')
                          .media-body
                            span.media-status.online
                            h5.media-heading
                              | Courtney Faught
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metuscommodo.
                        .media
                          .media-body
                            span.media-status.offline
                            h5.media-heading
                              | Joe Gibbons
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in Nulla vel metus scelerisque antecommodo.
                          .media-right
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/1.jpg')
                        .media
                          .media-left
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/2.jpg')
                          .media-body
                            span.media-status.online
                            h5.media-heading
                              | Courtney Faught
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque soltudino.
                        .media
                          .media-body
                            span.media-status.offline
                            h5.media-heading
                              | Joe Gibbons
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
                          .media-right
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/1.jpg')
                  .panel-footer.text-center.p7
                    a.link-unstyled(href='#')  View All
        // Start: Topbar-Dropdown
        #topbar-dropmenu.alt
          .topbar-menu.row
            .col-xs-4.col-sm-2
              a.metro-tile.bg-primary.light(href='#')
                span.glyphicon.glyphicon-inbox.text-white
                span.metro-title Messages
            .col-xs-4.col-sm-2
              a.metro-tile.bg-info.light(href='#')
                span.glyphicon.glyphicon-user.text-white
                span.metro-title Users
            .col-xs-4.col-sm-2
              a.metro-tile.bg-success.light(href='#')
                span.glyphicon.glyphicon-headphones.text-white
                span.metro-title Support
            .col-xs-4.col-sm-2
              a.metro-tile.bg-system.light(href='#')
                span.glyphicon.glyphicon-facetime-video.text-white
                span.metro-title Videos
            .col-xs-4.col-sm-2
              a.metro-tile.bg-warning.light(href='#')
                span.fa.fa-gears.text-white
                span.metro-title Settings
            .col-xs-4.col-sm-2
              a.metro-tile.bg-alert.light(href='#')
                span.glyphicon.glyphicon-picture.text-white
                span.metro-title Pictures
        section#content.table-layout.animated.fadeIn
          .tray.tray-center
            .mh15.pv15.br-b.br-light
              .row
                .col-xs-7
                  .mix-controls.ib
                    form#select-filters.controls
                      // We can add an unlimited number of "filter groups" using the following format:
                      .btn-group.ib.mr10.mt10
                        button.btn.btn-default.hidden-xs(type='button')
                          span.fa.fa-folder
                        .btn-group
                          fieldset
                            select#filter1
                              option(value='') All Folders
                              option(value='.folder1') Publicity
                              option(value='.folder2') Spain Vacation
                              option(value='.folder3') Sony Demo
                      .btn-group.ib.mt10
                        button.btn.btn-default.hidden-xs(type='button')
                          span.fa.fa-tag
                        .btn-group
                          fieldset
                            select#filter2
                              option(value='') All Labels
                              option(value='.label1') Work
                              option(value='.label3') Clients
                              option(value='.label2') Family
                .col-xs-5.text-right
                  button#mix-reset.btn.btn-default.mt10(type='button') Clear Filters
                  .btn-group.mt10
                    button.btn.btn-default.to-grid(type='button')
                      span.fa.fa-th
                    button.btn.btn-default.to-list(type='button')
                      span.fa.fa-navicon
              .mix-controls.hidden
                form#checkbox-filters.controls.admin-form
                  // We can add an unlimited number of "filter groups" using the following format:
                  fieldset
                    h4 Cars
                    label.option.block.mt10
                      input(type='checkbox', value='.circle')
                      span.checkbox
                      | Circle
                  button#mix-reset2 Clear All
            #mix-container
              .fail-message
                span No items were found matching the selected filters
              .mix.label1.folder1
                .panel.p6.pbn
                  .of-h
                    img.img-responsive(src='assets/img/stock/1.jpg', title='lost_typewritter.jpg')
                    .row.table-layout
                      .col-xs-8.va-m.pln
                        h6 lost_typewritter.jpg
                      .col-xs-4.text-right.va-m.prn
                        span.fa.fa-eye-slash.fs12.text-muted
                        span.fa.fa-circle.fs10.text-info.ml10
              .mix.label2.folder2
                .panel.p6.pbn
                  .of-h
                    img.img-responsive(src='assets/img/stock/2.jpg', title='stairs-to_soul.jpg')
                    .row.table-layout
                      .col-xs-8.va-m.pln
                        h6 stairs-to_soul.jpg
                      .col-xs-4.text-right.va-m.prn
                        span.fa.fa-eye-slash.fs12.text-muted
                        span.fa.fa-circle.fs10.text-alert.ml10
              .mix.label3.folder3
                .panel.p6.pbn
                  .of-h
                    img.img-responsive(src='assets/img/stock/3.jpg', title='why_are_locks.jpg')
                    .row.table-layout
                      .col-xs-8.va-m.pln
                        h6 why_are_locks.jpg
                      .col-xs-4.text-right.va-m.prn
                        span.fa.fa-eye-slash.fs12.text-muted
                        span.fa.fa-circle.fs10.text-danger.ml10
              .mix.label1.folder1
                .panel.p6.pbn
                  .of-h
                    img.img-responsive(src='assets/img/stock/4.jpg', title='cool_cup.jpg')
                    .row.table-layout
                      .col-xs-8.va-m.pln
                        h6 cool_cup.jpg
                      .col-xs-4.text-right.va-m.prn
                        span.fa.fa-eye-slash.fs12.text-muted
                        span.fa.fa-circle.fs10.text-primary.ml10
              .mix.label2.folder2
                .panel.p6.pbn
                  .of-h
                    img.img-responsive(src='assets/img/stock/5.jpg', title='the-beach.jpg')
                    .row.table-layout
                      .col-xs-8.va-m.pln
                        h6 the-beach.jpg
                      .col-xs-4.text-right.va-m.prn
                        span.fa.fa-eye-slash.fs12.text-muted
                        span.fa.fa-circle.fs10.text-system.ml10
              .mix.label3.folder3
                .panel.p6.pbn
                  .of-h
                    img.img-responsive(src='assets/img/stock/1.jpg', title='windy_dirtroad.jpg')
                    .row.table-layout
                      .col-xs-8.va-m.pln
                        h6 windy_dirtroad.jpg
                      .col-xs-4.text-right.va-m.prn
                        span.fa.fa-eye-slash.fs12.text-muted
                        span.fa.fa-circle.fs10.text-primary.ml10
              .mix.label1.folder1
                .panel.p6.pbn
                  .of-h
                    img.img-responsive(src='assets/img/stock/2.jpg', title='yosemite_sun.jpg')
                    .row.table-layout
                      .col-xs-8.va-m.pln
                        h6 yosemite_sun.jpg
                      .col-xs-4.text-right.va-m.prn
                        span.fa.fa-eye-slash.fs12.text-muted
                        span.fa.fa-circle.fs10.text-alert.ml10
              .mix.label2.folder2
                .panel.p6.pbn
                  .of-h
                    img.img-responsive(src='assets/img/stock/3.jpg', title='stairs-not.jpg')
                    .row.table-layout
                      .col-xs-8.va-m.pln
                        h6 stairs-not.jpg
                      .col-xs-4.text-right.va-m.prn
                        span.fa.fa-eye-slash.fs12.text-muted
                        span.fa.fa-circle.fs10.text-info.ml10
              .mix.label1.folder1
                .panel.p6.pbn
                  .of-h
                    img.img-responsive(src='assets/img/stock/1.jpg', title='lost_typewritter.jpg')
                    .row.table-layout
                      .col-xs-8.va-m.pln
                        h6 lost_typewritter.jpg
                      .col-xs-4.text-right.va-m.prn
                        span.fa.fa-eye-slash.fs12.text-muted
                        span.fa.fa-circle.fs10.text-info.ml10
              .mix.label2.folder2
                .panel.p6.pbn
                  .of-h
                    img.img-responsive(src='assets/img/stock/2.jpg', title='stairs-to_soul.jpg')
                    .row.table-layout
                      .col-xs-8.va-m.pln
                        h6 stairs-to_soul.jpg
                      .col-xs-4.text-right.va-m.prn
                        span.fa.fa-eye-slash.fs12.text-muted
                        span.fa.fa-circle.fs10.text-alert.ml10
              .mix.label3.folder3
                .panel.p6.pbn
                  .of-h
                    img.img-responsive(src='assets/img/stock/3.jpg', title='why_are_locks.jpg')
                    .row.table-layout
                      .col-xs-8.va-m.pln
                        h6 why_are_locks.jpg
                      .col-xs-4.text-right.va-m.prn
                        span.fa.fa-eye-slash.fs12.text-muted
                        span.fa.fa-circle.fs10.text-danger.ml10
              .mix.label1.folder1
                .panel.p6.pbn
                  .of-h
                    img.img-responsive(src='assets/img/stock/4.jpg', title='cool_cup.jpg')
                    .row.table-layout
                      .col-xs-8.va-m.pln
                        h6 cool_cup.jpg
                      .col-xs-4.text-right.va-m.prn
                        span.fa.fa-eye-slash.fs12.text-muted
                        span.fa.fa-circle.fs10.text-primary.ml10
              .gap
              .gap
              .gap
              .gap
          aside.tray.tray-right.tray320(data-tray-height='match')
            h4.tray-title  Upload New Image
            // Image Upload Field
            .fileupload.fileupload-new.admin-form.mt20(data-provides='fileupload')
              .section.mb10
                label.field.prepend-icon(for='name2')
                  input#name2.event-name.gui-input.br-light.light(type='text', name='name2', placeholder='Title')
                  label.field-icon(for='name2')
                    i.fa.fa-pencil
              .section.mb10
                label.field.prepend-icon
                  textarea#comment.gui-textarea.br-light.h-80.bg-light(name='comment', placeholder='Description')
                  label.field-icon(for='comment')
                    i.fa.fa-comments
                  span.input-footer.hidden
                    strong Hint:
                    | Don't be negative or off topic! just be awesome...
              .row
                .col-xs-4
                  span.button.btn-system.btn-file.btn-block.ph5
                    span.fileupload-new Select image
                    span.fileupload-exists Change File
                    input(type='file')
                .col-xs-8.pln
                  label.field.prepend-icon(for='name2')
                    input#name2.event-name.gui-input.br-light.bg-light(type='text', name='name2', placeholder='Tags')
                    label.field-icon(for='name2')
                      i.fa.fa-pencil
              .fileupload-preview.thumbnail.m5.mt20.mb30
                img(data-src='holder.js/100%x140', alt='holder')
            // Labels Menu
            .list-group.list-group-links
              .list-group-header  Labels
              a.list-group-item(href='#')
                | Clients
                span.badge.badge-info 6
              a.list-group-item(href='#')
                | Contractors
                span.badge.badge-success 8
              a.list-group-item(href='#')
                | Employees
                span.badge.badge-primary 11
              a.list-group-item(href='#')
                | Suppliers
                span.badge.badge-system 13
      // Start: Right Sidebar
      aside#sidebar_right.nano.affix
        // Start: Sidebar Right Content
        .sidebar-right-content.nano-content
          .tab-block.sidebar-block.br-n
            ul.nav.nav-tabs.tabs-border.nav-justified.hidden
              li.active
                a(href='#sidebar-right-tab1', data-toggle='tab') Tab 1
              li
                a(href='#sidebar-right-tab2', data-toggle='tab') Tab 2
              li
                a(href='#sidebar-right-tab3', data-toggle='tab') Tab 3
            .tab-content.br-n
              #sidebar-right-tab1.tab-pane.active
                h5.title-divider.text-muted.mb20
                  | Server Statistics
                  span.pull-right
                    | 2013
                    i.fa.fa-caret-down.ml5
                .progress.mh5
                  .progress-bar.progress-bar-primary(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 44%')
                    span.fs11 DB Request
                .progress.mh5
                  .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 84%')
                    span.fs11.text-left Server Load
                .progress.mh5
                  .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 61%')
                    span.fs11.text-left Server Connections
                h5.title-divider.text-muted.mt30.mb10 Traffic Margins
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 132
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  13.2%
                h5.title-divider.text-muted.mt25.mb10 Database Request
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 212
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  25.6%
                h5.title-divider.text-muted.mt25.mb10 Server Response
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 82.5
                  .col-xs-7.text-right
                    h3.text-danger.mn
                      i.fa.fa-caret-down
                      |  17.9%
                h5.title-divider.text-muted.mt40.mb20
                  | Server Statistics
                  span.pull-right.text-primary.fw600 USA
              #sidebar-right-tab2.tab-pane
              #sidebar-right-tab3.tab-pane
    // core scripts
    script(src='plugins/core.min.js')
    // Theme Javascript
    script(src='assets/js/utility/utility.js')
    script(src='assets/js/demo/demo.js')
    script(src='assets/js/main.js')
    script(type='text/javascript').
      jQuery(document).ready(function () {
        "use strict";
        // Init Theme Core
        Core.init();
        // Init Demo JS
        Demo.init();
        // To keep our code clean and modular, all custom functionality will be
        // contained inside a single object literal called "dropdownFilter".
        var dropdownFilter = {
          // Declare any variables we will need as properties of the object
          $filters: null,
          $reset: null,
          groups: [],
          outputArray: [],
          outputString: '',
          // The "init" method will run on document ready and cache any jQuery objects we will need.
          init: function () {
            var self = this; // As a best practice, in each method we will asign "this" to the variable "self" so that it remains scope-agnostic. We will use it to refer to the parent "dropdownFilter" object so that we can share methods and properties between all parts of the object.
            self.$filters = $('#select-filters');
            self.$reset = $('#mix-reset');
            self.$container = $('#mix-container');
            self.$filters.find('fieldset').each(function () {
              self.groups.push({
                $dropdown: $(this).find('select'),
                active: ''
              });
            });
            self.bindHandlers();
          },
          // The "bindHandlers" method will listen for whenever a select is changed.
          bindHandlers: function () {
            var self = this;
            // Handle select change
            self.$filters.on('change', 'select', function (e) {
              e.preventDefault();
              self.parseFilters();
            });
            // Handle reset click
            self.$reset.on('click', function (e) {
              e.preventDefault();
              self.$filters.find('select').val('');
              self.parseFilters();
            });
          },
          // The parseFilters method pulls the value of each active select option
          parseFilters: function () {
            var self = this;
            // loop through each filter group and grap the value from each one.
            for (var i = 0, group; group = self.groups[i]; i++) {
              group.active = group.$dropdown.val();
            }
            self.concatenate();
          },
          // The "concatenate" method will crawl through each group, concatenating filters as desired:
          concatenate: function () {
            var self = this;
            self.outputString = ''; // Reset output string
            for (var i = 0, group; group = self.groups[i]; i++) {
              self.outputString += group.active;
            }
            // If the output string is empty, show all rather than none:
            !self.outputString.length && (self.outputString = 'all');
            //console.log(self.outputString);
            // ^ we can check the console here to take a look at the filter string that is produced
            // Send the output string to MixItUp via the 'filter' method:
            if (self.$container.mixItUp('isLoaded')) {
              self.$container.mixItUp('filter', self.outputString);
            }
          }
        };
        // To keep our code clean and modular, all custom functionality will be contained inside a single object literal called "checkboxFilter".
        var checkboxFilter = {
          // Declare any variables we will need as properties of the object
          $filters: null,
          $reset: null,
          groups: [],
          outputArray: [],
          outputString: '',
          // The "init" method will run on document ready and cache any jQuery objects we will need.
          init: function () {
            var self = this; // As a best practice, in each method we will asign "this" to the variable "self" so that it remains scope-agnostic. We will use it to refer to the parent "checkboxFilter" object so that we can share methods and properties between all parts of the object.
            self.$filters = $('#checkbox-filters');
            self.$reset = $('#mix-reset2');
            self.$container = $('#mix-container');
            self.$filters.find('fieldset').each(function () {
              self.groups.push({
                $inputs: $(this).find('input'),
                active: [],
                tracker: false
              });
            });
            self.bindHandlers();
          },
          // The "bindHandlers" method will listen for whenever a form value changes.
          bindHandlers: function () {
            var self = this;
            self.$filters.on('change', function () {
              self.parseFilters();
            });
            self.$reset.on('click', function (e) {
              e.preventDefault();
              self.$filters[0].reset();
              self.parseFilters();
            });
          },
          // The parseFilters method checks which filters are active in each group:
          parseFilters: function () {
            var self = this;
            // loop through each filter group and add active filters to arrays
            for (var i = 0, group; group = self.groups[i]; i++) {
              group.active = []; // reset arrays
              group.$inputs.each(function () {
                $(this).is(':checked') && group.active.push(this.value);
              });
              group.active.length && (group.tracker = 0);
            }
            self.concatenate();
          },
          // The "concatenate" method will crawl through each group, concatenating filters as desired:
          concatenate: function () {
            var self = this,
                    cache = '',
                    crawled = false,
                    checkTrackers = function () {
                      var done = 0;
                      for (var i = 0, group; group = self.groups[i]; i++) {
                        (group.tracker === false) && done++;
                      }
                      return (done < self.groups.length);
                    },
                    crawl = function () {
                      for (var i = 0, group; group = self.groups[i]; i++) {
                        group.active[group.tracker] && (cache += group.active[group.tracker]);
                        if (i === self.groups.length - 1) {
                          self.outputArray.push(cache);
                          cache = '';
                          updateTrackers();
                        }
                      }
                    },
                    updateTrackers = function () {
                      for (var i = self.groups.length - 1; i > -1; i--) {
                        var group = self.groups[i];
                        if (group.active[group.tracker + 1]) {
                          group.tracker++;
                          break;
                        } else if (i > 0) {
                          group.tracker && (group.tracker = 0);
                        } else {
                          crawled = true;
                        }
                      }
                    };
            self.outputArray = []; // reset output array
            do {
              crawl();
            }
            while (!crawled && checkTrackers());
            self.outputString = self.outputArray.join();
            // If the output string is empty, show all rather than none:
            !self.outputString.length && (self.outputString = 'all');
            //console.log(self.outputString);
            // ^ we can check the console here to take a look at the filter string that is produced
            // Send the output string to MixItUp via the 'filter' method:
            if (self.$container.mixItUp('isLoaded')) {
              self.$container.mixItUp('filter', self.outputString);
            }
          }
        };
        // Init multiselect plugin on filter dropdowns
        $('#filter1').multiselect({
          buttonClass: 'btn btn-default',
        });
        $('#filter2').multiselect({
          buttonClass: 'btn btn-default',
        });
        // Init checkboxFilter code
        checkboxFilter.init();
        // Init dropdownFilter code
        dropdownFilter.init();
        var $container = $('#mix-container'), // mixitup container
                $toList = $('.to-list'), // list view button
                $toGrid = $('.to-grid'); // list view button
        // Instantiate MixItUp
        $container.mixItUp({
          controls: {
            enable: false // we won't be needing these
          },
          animation: {
            duration: 400,
            effects: 'fade translateZ(-360px) stagger(45ms)',
            easing: 'ease'
          },
          callbacks: {
            onMixFail: function () {
            }
          }
        });
        $toList.on('click', function () {
          if ($container.hasClass('list')) {
            return
          }
          $container.mixItUp('changeLayout', {
            display: 'block',
            containerClass: 'list'
          }, function (state) {
            // callback function
          });
        });
        $toGrid.on('click', function () {
          if ($container.hasClass('grid')) {
            return
          }
          $container.mixItUp('changeLayout', {
            display: 'inline-block',
            containerClass: 'grid'
          }, function (state) {
            // callback function
          });
        });
        // Add Gallery Item to Lightbox
        $('.mix img').magnificPopup({
          type: 'image',
          callbacks: {
            beforeOpen: function (e) {
              // we add a class to body to indicate overlay is active
              // We can use this to alter any elements such as form popups
              // that need a higher z-index to properly display in overlays
              $('body').addClass('mfp-bg-open');
              // Set Magnific Animation
              this.st.mainClass = 'mfp-zoomIn';
              // Inform content container there is an animation
              this.contentContainer.addClass('mfp-with-anim');
            },
            afterClose: function (e) {
              setTimeout(function () {
                $('body').removeClass('mfp-bg-open');
                $(window).trigger('resize');
              }, 1000)
            },
            elementParse: function (item) {
              // Function will fire for each target element
              // "item.el" is a target DOM element (if present)
              // "item.src" is a source that you may modify
              item.src = item.el.attr('src');
            },
          },
          overflowY: 'scroll',
          removalDelay: 200, //delay removal by X to allow out-animation
          prependTo: $('#content_wrapper')
        });
      });