extends  _skeleton

block stylesheets
  link(rel='stylesheet', type='text/css', href='plugins/css/summernote.css')
  link(rel='stylesheet', type='text/css', href='assets/admin-tools/admin-forms/css/admin-forms.css')

block body
  body.messages-page
    // Start: Theme Preview Pane
    #skin-toolbox
      .panel
        .panel-heading
          span.panel-icon
            i.fa.fa-gear.text-primary
          span.panel-title  Theme Options
        .panel-body.pn
          ul.nav.nav-list.nav-list-sm.pl15.pt10(role='tablist')

            li.active
              a(href='#toolbox-sidebar', role='tab', data-toggle='tab') Sidebar
            li
              a(href='#toolbox-settings', role='tab', data-toggle='tab') Misc
          .tab-content.p20.ptn.pb15

            #toolbox-sidebar.tab-pane.active(role='tabpanel')
              form#toolbox-sidebar-skin
                h4.mv20 Sidebar Skins
                .skin-toolbox-swatches
                  .checkbox-custom.fill.mb5
                    input#sidebarSkin3(type='radio', name='sidebarSkin', checked='', value='')
                    label(for='sidebarSkin3') Dark
                  .checkbox-custom.fill.checkbox-disabled.mb5
                    input#sidebarSkin1(type='radio', name='sidebarSkin', value='sidebar-light')
                    label(for='sidebarSkin1') Light
                  .checkbox-custom.fill.checkbox-light.mb5
                    input#sidebarSkin2(type='radio', name='sidebarSkin', value='sidebar-light light')
                    label(for='sidebarSkin2') Lighter
            #toolbox-settings.tab-pane(role='tabpanel')
              form#toolbox-settings-misc
                h4.mv20.mtn Layout Options

                .form-group
                  .checkbox-custom.fill.mb5
                    input#sidebar-option(type='checkbox', checked='')
                    label(for='sidebar-option') Fixed Sidebar

                h4.mv20 Layout Options
                .form-group
                  .radio-custom.mb5
                    input#fullwidth-option(type='radio', checked='', name='layout-option')
                    label(for='fullwidth-option') Fullwidth Layout
                .form-group.mb20.pointer-events-none
                  .radio-custom.radio-disabled.mb5
                    input#boxed-option(type='radio', name='layout-option', disabled='')
                    label(for='boxed-option')
                      | Boxed Layout
                      b.text-muted (Coming Soon)
          .form-group.mn.br-t.p10
            a#clearLocalStorage.btn.btn-primary.btn-block.pb10.pt10(href='#') Clear LocalStorage
    // Start: Main
    #main
      // Start: Sidebar
      aside#sidebar_left.nano.nano-light.affix
        // Navbar Branding
        .navbar-branding
          a.navbar-brand(href='dashboard.html')
            span.text-white Ruby
            = ' '
            | Admin
          span#toggle_sidemenu_l.ad.ad-lines
        // Start: Sidebar Left Content
        .sidebar-left-content.nano-content
          // Start: Sidebar Header
          header.sidebar-header
            // Sidebar Widget - Author
            .sidebar-widget.author-widget
              .media
                a.media-left(href='#')
                  img.img-responsive(src='assets/img/avatars/3.jpg')
                .media-body
                  .media-links
                  .media-author Ryan Harrison
                  a.sidebar-menu-toggle(href='#') User Menu
                  a(href='pages_login(alt).html') Logout
            // Sidebar Widget - Menu (slidedown)
            .sidebar-widget.menu-widget
              .row.text-center.mbn
                .col-xs-4
                  a.text-primary(href='dashboard.html', data-toggle='tooltip', data-placement='top', title='Dashboard')
                    span.glyphicon.glyphicon-home
                .col-xs-4
                  a.text-info(href='pages_messages.html', data-toggle='tooltip', data-placement='top', title='Messages')
                    span.glyphicon.glyphicon-inbox
                .col-xs-4
                  a.text-alert(href='pages_profile.html', data-toggle='tooltip', data-placement='top', title='Tasks')
                    span.fa.fa-asterisk
              .row.text-center.mbn
                .col-xs-4
                  a.text-system(href='pages_timeline.html', data-toggle='tooltip', data-placement='top', title='Activity')
                    span.fa.fa-desktop
                .col-xs-4
                  a.text-danger(href='pages_profile.html', data-toggle='tooltip', data-placement='top', title='Settings')
                    span.fa.fa-gears
                .col-xs-4
                  a.text-warning(href='pages_gallery.html', data-toggle='tooltip', data-placement='top', title='Cron Jobs')
                    span.fa.fa-flask
            // Sidebar Widget - Search (hidden)
            .sidebar-widget.search-widget.hidden
              .input-group
                span.input-group-addon
                  i.fa.fa-search
                input#sidebar-search.form-control(type='text', placeholder='Search...')
          // Start: Sidebar Menu
          ul.nav.sidebar-menu
            li.sidebar-label.pt30 Menu
            li
              a(href='pages_calendar.html')
                span.fa.fa-calendar
                span.sidebar-title Calendar
                span.sidebar-title-tray
                  span.label.label-xs.bg-primary New
            li
              a(href='documentation/')
                span.glyphicon.glyphicon-book
                span.sidebar-title Documentation
            li.active
              a(href='dashboard.html')
                span.glyphicon.glyphicon-home
                span.sidebar-title Dashboard
            li.sidebar-label.pt15 Exclusive Tools
            li
              a.accordion-toggle(href='#')
                span.fa.fa-columns
                span.sidebar-title Admin Layouts
                span.caret
              ul.nav.sub-nav
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa.fa-arrows-h
                    |                   Sidebars
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_sidebar-left-static.html')
                        | Left Static
                    li
                      a(href='layout_sidebar-left-fixed.html')
                        | Left Fixed
                    li
                      a(href='layout_sidebar-left-widgets.html')
                        | Left Widgets
                    li
                      a(href='layout_sidebar-left-minified.html')
                        | Left Minified
                    li
                      a(href='layout_sidebar-left-light.html')
                        | Left White
                    li
                      a(href='layout_sidebar-right-static.html')
                        | Right Static
                    li
                      a(href='layout_sidebar-right-fixed.html')
                        | Right Fixed
                    li
                      a(href='layout_sidebar-right-menu.html')
                        | Right w/Menu
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-arrows-v
                    |                   Navbar
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_navbar-static.html')
                        | Navbar Static
                    li
                      a(href='layout_navbar-fixed.html')
                        | Navbar Fixed
                    li
                      a(href='layout_navbar-menus.html')
                        | Navbar Menus
                    li
                      a(href='layout_navbar-contextual.html')
                        | Contextual Example
                    li
                      a(href='layout_navbar-search-alt.html')
                        | Search Alt Style
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-hand-o-up
                    |                   Topbar
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_topbar.html')
                        | Default Style
                    li
                      a(href='layout_topbar-menu.html')
                        | Default w/Menu
                    li
                      a(href='layout_topbar-alt.html')
                        | Alternate Style
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-arrows-v
                    |                   Content Body
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_content-blank.html')
                        | Blank Starter
                    li
                      a(href='layout_content-fixed.html')
                        | Fixed Window
                    li
                      a(href='layout_content-heading.html')
                        | Content Heading
                    li
                      a(href='layout_content-tabs.html')
                        | Content Tabs
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-pause
                    |                   Content Trays
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_tray-left.html')
                        | Tray Left Static
                    li
                      a(href='layout_tray-left-fixed.html')
                        | Tray Left Fixed
                    li
                      a(href='layout_tray-right.html')
                        | Tray Right Static
                    li
                      a(href='layout_tray-right-fixed.html')
                        | Tray Right Fixed
                    li
                      a(href='layout_tray-both.html')
                        | Left + Right Static
                    li
                      a(href='layout_tray-both-fixed.html')
                        | Left + Right Fixed
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-plus-square-o
                    |                   Boxed Layout
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_boxed.html')
                        | Default
                    li
                      a(href='layout_boxed-horizontal.html')
                        | Horizontal Menu
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-arrow-circle-o-up
                    |                   Horizontal Menu
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_horizontal-sm.html')
                        | Small Size
                    li
                      a(href='layout_horizontal-md.html')
                        | Medium Size
                    li
                      a(href='layout_horizontal-lg.html')
                        | Large Size
                    li
                      a(href='layout_horizontal-light.html')
                        | Light Skin
                    li
                      a(href='layout_horizontal-topbar.html')
                        | With Topbar
                    li
                      a(href='layout_horizontal-topbar-alt.html')
                        | With Alt Topbar
                    li
                      a(href='layout_horizontal-collapsed.html')
                        | Collapsed onLoad
                    li
                      a(href='layout_horizontal-boxed.html')
                        | In Boxed Layout
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-fire
                span.sidebar-title Admin Plugins
                span.caret
              ul.nav.sub-nav
                li
                  a(href='admin_plugins-panels.html')
                    span.glyphicon.glyphicon-book
                    |  Admin Panels
                li
                  a(href='admin_plugins-modals.html')
                    span.glyphicon.glyphicon-modal-window
                    |  Admin Modals
                li
                  a(href='admin_plugins-dock.html')
                    span.glyphicon.glyphicon-equalizer
                    |  Admin Dock
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-check
                span.sidebar-title Admin Forms
                span.caret
              ul.nav.sub-nav
                li
                  a(href='admin_forms-elements.html')
                    span.glyphicon.glyphicon-shopping-cart
                    |  Admin Elements
                li
                  a(href='admin_forms-widgets.html')
                    span.glyphicon.glyphicon-calendar
                    |  Admin Widgets
                li
                  a(href='admin_forms-layouts.html')
                    span.fa.fa-desktop
                    |  Admin Layouts
                li
                  a(href='admin_forms-wizard.html')
                    span.fa.fa-clipboard
                    |  Admin Wizard
                li
                  a(href='admin_forms-validation.html')
                    span.glyphicon.glyphicon-check
                    |  Admin Validation
            li.sidebar-label.pt20 Systems
            li
              a.accordion-toggle(href='#')
                span.fa.fa-diamond
                span.sidebar-title Widget Packages
                span.caret
              ul.nav.sub-nav
                li
                  a(href='widgets_tile.html')
                    span.fa.fa-cube
                    |  Tile Widgets
                li
                  a(href='widgets_panel.html')
                    span.fa.fa-desktop
                    |  Panel Widgets
                li
                  a(href='widgets_scroller.html')
                    span.fa.fa-columns
                    |  Scroller Widgets
                li
                  a(href='widgets_data.html')
                    span.fa.fa-dot-circle-o
                    |  Admin Widgets
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-shopping-cart
                span.sidebar-title Ecommerce
                span.caret
              ul.nav.sub-nav
                li
                  a(href='ecommerce_dashboard.html')
                    span.glyphicon.glyphicon-shopping-cart
                    |  Dashboard
                    span.label.label-xs.bg-primary New
                li
                  a(href='ecommerce_products.html')
                    span.glyphicon.glyphicon-tags
                    |  Products
                li
                  a(href='ecommerce_orders.html')
                    span.fa.fa-money
                    |  Orders
                li
                  a(href='ecommerce_customers.html')
                    span.fa.fa-users
                    |  Customers
                li
                  a(href='ecommerce_settings.html')
                    span.fa.fa-gears
                    |  Store Settings

            // sidebar resources
            li.sidebar-label.pt20 Elements
            li
              a.accordion-toggle(href='#')
                span.fa.fa-asterisk
                span.sidebar-title UI Elements
                span.caret
              ul.nav.sub-nav
                li
                  a(href='ui_alerts.html')
                    span.fa.fa-warning
                    |  Alerts
                li
                  a(href='ui_animations.html')
                    span.fa.fa-spinner
                    |  Animations
                li
                  a(href='ui_buttons.html')
                    span.fa.fa-plus-square-o
                    |  Buttons
                li
                  a(href='ui_typography.html')
                    span.fa.fa-text-width
                    |  Typography
                li
                  a(href='ui_portlets.html')
                    span.fa.fa-archive
                    |  Portlets
                li
                  a(href='ui_progress-bars.html')
                    span.fa.fa-bars
                    |  Progress Bars
                li
                  a(href='ui_tabs.html')
                    span.fa.fa-toggle-off
                    |  Tabs
                li
                  a(href='ui_icons.html')
                    span.fa.fa-hand-o-right
                    |  Icons
                li
                  a(href='ui_grid.html')
                    span.fa.fa-th-large
                    |  Grid
            li
              a.accordion-toggle(href='#')
                span.fa.fa-align-justify
                span.sidebar-title Form Elements
                span.caret
              ul.nav.sub-nav
                li
                  a(href='form_inputs.html')
                    span.fa.fa-magic
                    |  Basic Inputs
                li
                  a(href='form_plugins.html')
                    span.fa.fa-bell-o
                    |  Plugin Inputs
                    span.label.label-xs.bg-primary New
                li
                  a(href='form_editors.html')
                    span.fa.fa-clipboard
                    |  Editors
                li
                  a(href='form_treeview.html')
                    span.fa.fa-tree
                    |  Treeview
                li
                  a(href='form_nestable.html')
                    span.fa.fa-tasks
                    |  Nestable
                li
                  a(href='form_image-tools.html')
                    span.fa.fa-cloud-upload
                    |  Image Tools
                    span.label.label-xs.bg-primary New
                li
                  a(href='form_uploaders.html')
                    span.fa.fa-cloud-upload
                    |  Uploaders
                li
                  a(href='form_notifications.html')
                    span.fa.fa-bell-o
                    |  Notifications
                li
                  a(href='form_content-sliders.html')
                    span.fa.fa-exchange
                    |  Content Sliders
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-tower
                span.sidebar-title Plugins
                span.caret
              ul.nav.sub-nav
                li
                  a.accordion-toggle(href='#')
                    span.glyphicon.glyphicon-globe
                    |  Maps
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='maps_basic.html') Basic Maps
                    li
                      a(href='maps_vector.html') Vector Maps
                    li
                      a(href='maps_full.html') Full Map
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-area-chart
                    |  Charts
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='charts_highcharts.html') Highcharts
                    li
                      a(href='charts_d3.html') D3 Charts
                    li
                      a(href='charts_flot.html') Flot Charts
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-table
                    |  Tables
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='tables_basic.html')  Basic Tables


                    li
                      a(href='tables_footable.html')  FooTables
                    li
                      a(href='tables_pricing.html')  Pricing Tables
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-flask
                    |  Misc
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='misc_tour.html')  Site Tour
                    li
                      a(href='misc_timeout.html')  Session Timeout
                    li
                      a(href='misc_nprogress.html')  Page Progress Loader
            li
              a.accordion-toggle.menu-open(href='#')
                span.glyphicon.glyphicon-duplicate
                span.sidebar-title Pages
                span.caret
              ul.nav.sub-nav
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-gears
                    |  Utility
                    span.caret
                  ul.nav.sub-nav

                    li
                      a(href='pages_confirmation.html', target='_blank')
                        | Confirmation
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_login.html', target='_blank')  Login
                    li
                      a(href='pages_login(alt).html', target='_blank')
                        | Login Alt
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_register.html', target='_blank')  Register
                    li
                      a(href='pages_register(alt).html', target='_blank')
                        | Register Alt
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_screenlock.html', target='_blank')  Screenlock
                    li
                      a(href='pages_screenlock(alt).html', target='_blank')
                        | Screenlock Alt
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_forgotpw.html', target='_blank')  Forgot Password
                    li
                      a(href='pages_forgotpw(alt).html', target='_blank')
                        | Forgot Password Alt
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_coming-soon.html', target='_blank')
                        | Coming Soon
                    li
                      a(href='pages_404.html')  404 Error
                    li
                      a(href='pages_500.html')  500 Error
                    li
                      a(href='pages_404(alt).html')  404 Error Alt
                    li
                      a(href='pages_500(alt).html')  500 Error Alt
                li
                  a.accordion-toggle.menu-open(href='#')
                    span.fa.fa-desktop
                    |  Basic
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='pages_search-results.html')
                        | Search Results
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_profile.html')  Profile
                    li
                      a(href='pages_timeline.html')  Timeline Split
                    li
                      a(href='pages_timeline-single.html')  Timeline Single
                    li
                      a(href='pages_faq.html')  FAQ Page
                    li
                      a(href='pages_calendar.html')  Calendar
                    li.active
                      a(href='pages_messages.html')  Messages
                    li
                      a(href='pages_messages(alt).html')  Messages Alt
                    li
                      a(href='pages_gallery.html')  Gallery
                    li
                      a(href='pages_invoice.html')  Printable Invoice
            // sidebar bullets
            li.sidebar-label.pt20 Projects
            li.sidebar-proj
              a(href='#projectOne')
                span.fa.fa-bookmark.text-primary
                span.sidebar-title Executive Meeting
            li.sidebar-proj
              a(href='#projectTwo')
                span.fa.fa-bookmark.text-info
                span.sidebar-title HelpDesk Redesign
            li.sidebar-proj
              a(href='#projectTwo')
                span.fa.fa-bookmark.text-danger
                span.sidebar-title Sony Board Meeting
            li.sidebar-proj
              a(href='#projectThree')
                span.fa.fa-bookmark.text-warning
                span.sidebar-title Apple Tech Conference
      // Start: Content-Wrapper
      section#content_wrapper
        // Start: Topbar
        header#topbar.badges-mod.alt
          .topbar-left
            ol.breadcrumb
              li
                a(href="dashboard.php") Dashboard
              li
                a(href="admin_forms-elements.php") Form Elements
              li
                a(href="maps_basic.php") Plugins Pages
              li
                a(href="ui_alerts.php") UI Elements
              li
                a(href="documentation/") Documentation
          .topbar-right
            a.topbar-icon(href='#')
              span.fa.fa-search
            a.topbar-icon.topbar-menu-toggle.ml40(href='#', data-toggle='button')
              span.badge.badge-strikemaster.offset-badge 6
              span.fa.fa-magic
            .topbar-icon-wrap.ml40
              button.topbar-icon.dropdown-toggle(data-toggle='dropdown')
                span.badge.badge-primary 5
                span.fa.fa-bell.va-m
              .dropdown-menu.dropdown-persist.w350.animated.animated-shorter.fadeIn(role='menu')
                .panel.mbn
                  .panel-menu
                    span.panel-icon
                      i.fa.fa-clock-o
                    span.panel-title.fw600  Recent Activity
                    button.btn.btn-xs.pull-right(type='button')
                      i.fa.fa-refresh
                  .panel-body.panel-scroller.scroller-navbar.scroller-overlay.scroller-pn.pn
                    ol.timeline-list
                      li.timeline-item
                        .timeline-icon.bg-alert
                          span.fa.fa-tags
                        .timeline-desc
                          b Michael
                          |  Added to his store:
                          a(href='#') Ipod
                        .timeline-date 1:25am
                      li.timeline-item
                        .timeline-icon.bg-alert
                          span.fa.fa-tags
                        .timeline-desc
                          b Sara
                          |  Added his store:
                          a(href='#') Notebook
                        .timeline-date 3:05am
                      li.timeline-item
                        .timeline-icon.bg-success
                          span.fa.fa-usd
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Software
                        .timeline-date 4:15am
                      li.timeline-item
                        .timeline-icon.bg-success
                          span.fa.fa-usd
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Apple
                        .timeline-date 7:45am
                      li.timeline-item
                        .timeline-icon.bg-success
                          span.fa.fa-usd
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Software
                        .timeline-date 4:15am
                      li.timeline-item
                        .timeline-icon.bg-success
                          span.fa.fa-usd
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Apple
                        .timeline-date 7:45am
                      li.timeline-item
                        .timeline-icon.bg-alert
                          span.fa.fa-tags
                        .timeline-desc
                          b Michael
                          |  Added his store:
                          a(href='#') Ipod
                        .timeline-date 8:25am
                      li.timeline-item
                        .timeline-icon.bg-system
                          span.fa.fa-fire
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Software
                        .timeline-date 4:15am
                      li.timeline-item
                        .timeline-icon.bg-alert
                          span.fa.fa-tags
                        .timeline-desc
                          b Sara
                          |  Added to his store:
                          a(href='#') Notebook
                        .timeline-date 3:05am
                  .panel-footer.text-center.p7
                    a.link-unstyled(href='#')  View All
            .topbar-icon-wrap.ml35
              button.topbar-icon.dropdown-toggle(data-toggle='dropdown')
                span.badge.badge-mandy 5
                span.fa.fa-comments.va-m
              .dropdown-menu.dropdown-menu-offset.dropdown-persist.w350.animated.animated-shorter.fadeIn(role='menu')
                .panel.mbn
                  .panel-menu
                    span.panel-title.fw600 Messages
                  .panel-body.panel-scroller.scroller-navbar.scroller-overlay.scroller-pn.pn
                    .br-n.p10
                      .chat-widget
                        .media
                          .media-left
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/3.jpg')
                          .media-body
                            span.media-status.online
                            h5.media-heading
                              | Courtney Faught
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                        .media
                          .media-body
                            span.media-status.offline
                            h5.media-heading
                              | Joe Gibbons
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque.
                          .media-right
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/1.jpg')
                        .media
                          .media-left
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/2.jpg')
                          .media-body
                            span.media-status.online
                            h5.media-heading
                              | Courtney Faught
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metuscommodo.
                        .media
                          .media-body
                            span.media-status.offline
                            h5.media-heading
                              | Joe Gibbons
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in Nulla vel metus scelerisque antecommodo.
                          .media-right
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/1.jpg')
                        .media
                          .media-left
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/2.jpg')
                          .media-body
                            span.media-status.online
                            h5.media-heading
                              | Courtney Faught
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque soltudino.
                        .media
                          .media-body
                            span.media-status.offline
                            h5.media-heading
                              | Joe Gibbons
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
                          .media-right
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/1.jpg')
                  .panel-footer.text-center.p7
                    a.link-unstyled(href='#')  View All
        // Start: Topbar-Dropdown
        #topbar-dropmenu.alt
          .topbar-menu.row
            .col-xs-4.col-sm-2
              a.metro-tile.bg-primary.light(href='#')
                span.glyphicon.glyphicon-inbox.text-white
                span.metro-title Messages
            .col-xs-4.col-sm-2
              a.metro-tile.bg-info.light(href='#')
                span.glyphicon.glyphicon-user.text-white
                span.metro-title Users
            .col-xs-4.col-sm-2
              a.metro-tile.bg-success.light(href='#')
                span.glyphicon.glyphicon-headphones.text-white
                span.metro-title Support
            .col-xs-4.col-sm-2
              a.metro-tile.bg-system.light(href='#')
                span.glyphicon.glyphicon-facetime-video.text-white
                span.metro-title Videos
            .col-xs-4.col-sm-2
              a.metro-tile.bg-warning.light(href='#')
                span.fa.fa-gears.text-white
                span.metro-title Settings
            .col-xs-4.col-sm-2
              a.metro-tile.bg-alert.light(href='#')
                span.glyphicon.glyphicon-picture.text-white
                span.metro-title Pictures
        // Begin: Content
        section#content.table-layout.animated.fadeIn.offset-1
          // begin: .tray-left
          aside.tray.tray-left.ls60.text-uppercase.tray270(data-tray-height='match').offset-2
            // Quick Compose Button
            #quick-compose.fw600.text-white.mt30.ml5 Quick Compose
            // Message Menu
            .list-group.list-group-links.mt40
              .list-group-header  Menu
              a.list-group-item(href='#')
                i.fa.fa-gear
                |               Email Settings
              a.list-group-item(href='#')
                i.fa.fa-envelope
                |               Messages
                span.badge.badge-primary 2
              a.list-group-item(href='#')
                i.fa.fa-user
                |               Friends
                span.badge.badge-primary 6
            // Tags Menu
            .list-group.list-group-links
              .list-group-header  Tags
              a.list-group-item(href='#')
                i.fa.fa-bookmark
                | Clients
              a.list-group-item(href='#')
                i.fa.fa-bookmark
                | Contractors
              a.list-group-item(href='#')
                i.fa.fa-bookmark
                | Employees
              a.list-group-item(href='#')
                i.fa.fa-bookmark
                | Suppliers
          // begin: .tray-center
          .tray.tray-center.pn
            .panel
              // message toolbar header
              .panel-menu.br-n.pt40.pb40
                .row
                  .hidden-xs.hidden-sm.col-md-2
                    .btn-group
                      button.btn.btn-custom.mr10.ph15(type='button')
                        i.fa.fa-retweet
                      button.btn.btn-custom.mr10.ph15(type='button')
                        i.fa.fa-pencil
                  .col-xs-12.col-md-10.text-right
                    .row
                      .col-md-4.text-left
                        .btn-group.mr10
                          button.btn.btn-custom.hidden-xs.ph15(type='button')
                            i.fa.fa-star
                          button.btn.btn-custom.light.hidden-xs.ph15(type='button')
                            i.fa.fa-bitbucket
                          button.btn.btn-custom.light.ph15(type='button')
                            i.fa.fa-bullhorn
                      .col-md-4.text-center
                        .btn-group.mr10
                          .btn-group
                            button.btn.btn-custom.light.dropdown-toggle.br-a.ph20(type='button', data-toggle='dropdown')
                              span.fa.fa-tags
                              span.caret.ml5
                            ul.dropdown-menu.pull-right(role='menu')
                              li
                                a(href='#') Work
                              li
                                a(href='#') Important
                              li
                                a(href='#') Favorites
                              li.divider
                              li
                                a(href='#')
                                  span.fa.fa-plus.pr5
                                  |  Create New
                          .btn-group
                            button.btn.btn-custom.light.dropdown-toggle.br-a.ph20.ml20(type='button', data-toggle='dropdown')
                              span.fa.fa-inbox
                              span.caret.ml5
                            ul.dropdown-menu.pull-right(role='menu')
                              li
                                a(href='#') Work
                              li
                                a(href='#') Important
                              li
                                a(href='#') Favorites
                              li.divider
                              li
                                a(href='#')
                                  span.fa.fa-plus.pr5
                                  |  Create New
                      .col-md-4
                        .btn-group
                          button.btn.btn-custom.light.ph15(type='button')
                            i.fa.fa-chevron-left
                          button.btn.btn-custom.light.ph15(type='button')
                            i.fa.fa-chevron-right
                    //button.btn.btn-custom.light.visible-xs-inline-block.mr10(type='button') Compose
            .panel.offset-1
              // message view
              .message-view
                // message meta info
                .message-meta
                  span.pull-right.text-muted 05/17/13 17:00
                  h3.subject Subject - You have a new message at Themeforest.net
                  hr.mt20.mb15
                // message header
                .message-header
                  img.img-responsive.mw40.pull-left.mr20(src='assets/img/avatars/1.jpg')
                  .pull-right.mt5.clearfix
                    span.label.bg-danger.mr10 New
                    span.label.bg-success Co-Worker
                  h4.mt15.mb5 From: Cynthia Roche
                  small.text-muted.clearfix From: hisemail@hisemail.com
                hr.mb15.mt15
                // message body
                .message-body
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, ipsam, in, consectetur,
                    = ' '
                    b ecusandae qui
                    |  ducimus fugit nam sint officia expedita illo voluptatem consequuntur Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, fugit, laboriosam, ipsam, doloribus iste officiiseveniet nisi maxime minima deserunt
                    = ' '
                    b cumque amet eos quos! Provident, natus, officia,
                    |  fuga eum harum ut quisquam in consequatur tempore tempora unde a consequuntur nisi sequi enim repellat delectus obcaecati laborum dignissimos quam quibusdam perferendis? distinctio tempora officiis adipisci impedit similique. Obcaecati.
                  p
                    | Lboriosam,
                    = ' '
                    b ipsam, doloribus iste
                    |  officiis eveniet nisi maxime minima deserunt cumque amet eos quos! Provident, natus, officia, fuga eum harum ut quisquam in consequatur tempore tempora unde a consequuntur nisi sequi enim repellat delectus obcaecati laborum dignissimos quam quibusdam perferendis? adipisicing elit. Laudantium, fugit, laboriosam, ipsam, doloribus iste officiis eveniet nisi maxime minima deserunt cumque amet eos quos! Provident, natus, officia, fuga eum harum ut quisquam in consequatur tempore tempora unde a consequuntur nisi sequi enim repellat delectus obcaecati laborum dignissimos quam quibusdam.
                  p
                    | Lorem ipsum dolor sit amet,
                    = ' '
                    b consectetur
                    |  adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, fugit, laboriosam, ipsam, doloribus iste officiis eveniet nisi maxime minima deser Laudantium, fugit, laboriosam, ipsam, doloribus iste officiis eveniet nisi maxime minima deserunt cumque amet eos quos! Provident, natus, officia, fuga eum harum ut quisquam in consequatur tempore tempora unde a consequuntur nisi sequi enim repellat delectus obcaecati laborum dignissimos quam quibusdam perferendis?
                hr.mb15.mt15
                // message footer
                .message-footer
                  h4.mb25
                    span.glyphicon.glyphicon-paperclip.mr10
                    |  3 Attachments -
                    small  View Images | Download All
                  .attachments.mb10
                    img.mw140.mr15(src='assets/img/stock/1.jpg')
                    img.responsive.mw140.mr15(src='assets/img/stock/2.jpg')
                    img.responsive.mw140(src='assets/img/stock/3.jpg')
              // message reply form
              .message-reply
                .summernote Write your response here...
      // Start: Right Sidebar
      aside#sidebar_right.nano.affix
        // Start: Sidebar Right Content
        .sidebar-right-content.nano-content
          .tab-block.sidebar-block.br-n
            ul.nav.nav-tabs.tabs-border.nav-justified.hidden
              li.active
                a(href='#sidebar-right-tab1', data-toggle='tab') Tab 1
              li
                a(href='#sidebar-right-tab2', data-toggle='tab') Tab 2
              li
                a(href='#sidebar-right-tab3', data-toggle='tab') Tab 3
            .tab-content.br-n
              #sidebar-right-tab1.tab-pane.active
                h5.title-divider.text-muted.mb20
                  | Server Statistics
                  span.pull-right
                    | 2013
                    i.fa.fa-caret-down.ml5
                .progress.mh5
                  .progress-bar.progress-bar-primary(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 44%')
                    span.fs11 DB Request
                .progress.mh5
                  .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 84%')
                    span.fs11.text-left Server Load
                .progress.mh5
                  .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 61%')
                    span.fs11.text-left Server Connections
                h5.title-divider.text-muted.mt30.mb10 Traffic Margins
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 132
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  13.2%
                h5.title-divider.text-muted.mt25.mb10 Database Request
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 212
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  25.6%
                h5.title-divider.text-muted.mt25.mb10 Server Response
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 82.5
                  .col-xs-7.text-right
                    h3.text-danger.mn
                      i.fa.fa-caret-down
                      |  17.9%
                h5.title-divider.text-muted.mt40.mb20
                  | Server Statistics
                  span.pull-right.text-primary.fw600 USA
              #sidebar-right-tab2.tab-pane
              #sidebar-right-tab3.tab-pane
    style.
      /* demo styles - disable several summernote buttons */
      .note-editor .note-toolbar > .note-fontname,
      .note-editor .note-toolbar > .note-help,
      .note-editor .note-toolbar > .note-style {
        display: none;
      }
    // core scripts
    script(src='plugins/core.min.js')
    // Theme Javascript
    script(src='assets/js/utility/utility.js')
    script(src='assets/js/demo/demo.js')
    script(src='assets/js/main.js')
    script(type='text/javascript').
      jQuery(document).ready(function () {
        "use strict";
        // Init Theme Core
        Core.init();
        // Init Demo JS
        Demo.init();
        // Init Summernote
        $('.summernote').summernote({
          height: 290, //set editable area's height
          focus: false, //set focus editable area after Initialize summernote
          oninit: function () {
          },
          onChange: function (contents, $editable) {
          },
        });
      });