extends  _skeleton

block stylesheets
  link(rel='stylesheet', type='text/css', href='plugins/css/magnific-popup.css')
  link(rel='stylesheet', type='text/css', href='assets/admin-tools/admin-forms/css/admin-forms.css')

block body
  body.timeline-page
    // Start: Theme Preview Pane
    #skin-toolbox
      .panel
        .panel-heading
          span.panel-icon
            i.fa.fa-gear.text-primary
          span.panel-title  Theme Options
        .panel-body.pn
          ul.nav.nav-list.nav-list-sm.pl15.pt10(role='tablist')

            li.active
              a(href='#toolbox-sidebar', role='tab', data-toggle='tab') Sidebar
            li
              a(href='#toolbox-settings', role='tab', data-toggle='tab') Misc
          .tab-content.p20.ptn.pb15

            #toolbox-sidebar.tab-pane.active(role='tabpanel')
              form#toolbox-sidebar-skin
                h4.mv20 Sidebar Skins
                .skin-toolbox-swatches
                  .checkbox-custom.fill.mb5
                    input#sidebarSkin3(type='radio', name='sidebarSkin', checked='', value='')
                    label(for='sidebarSkin3') Dark
                  .checkbox-custom.fill.checkbox-disabled.mb5
                    input#sidebarSkin1(type='radio', name='sidebarSkin', value='sidebar-light')
                    label(for='sidebarSkin1') Light
                  .checkbox-custom.fill.checkbox-light.mb5
                    input#sidebarSkin2(type='radio', name='sidebarSkin', value='sidebar-light light')
                    label(for='sidebarSkin2') Lighter
            #toolbox-settings.tab-pane(role='tabpanel')
              form#toolbox-settings-misc
                h4.mv20.mtn Layout Options

                .form-group
                  .checkbox-custom.fill.mb5
                    input#sidebar-option(type='checkbox', checked='')
                    label(for='sidebar-option') Fixed Sidebar

                h4.mv20 Layout Options
                .form-group
                  .radio-custom.mb5
                    input#fullwidth-option(type='radio', checked='', name='layout-option')
                    label(for='fullwidth-option') Fullwidth Layout
                .form-group.mb20.pointer-events-none
                  .radio-custom.radio-disabled.mb5
                    input#boxed-option(type='radio', name='layout-option', disabled='')
                    label(for='boxed-option')
                      | Boxed Layout
                      b.text-muted (Coming Soon)
          .form-group.mn.br-t.p15
            a#clearLocalStorage.btn.btn-primary.btn-block.pb10.pt10(href='#') Clear LocalStorage
    // Start: Main
    #main
      // Start: Sidebar
      aside#sidebar_left.nano.nano-light.affix
        // Navbar Branding
        .navbar-branding
          a.navbar-brand(href='dashboard.html')
            span.text-white Ruby
            = ' '
            | Admin
          span#toggle_sidemenu_l.ad.ad-lines
        // Start: Sidebar Left Content
        .sidebar-left-content.nano-content
          // Start: Sidebar Header
          header.sidebar-header
            // Sidebar Widget - Author
            .sidebar-widget.author-widget
              .media
                a.media-left(href='#')
                  img.img-responsive(src='assets/img/avatars/3.jpg')
                .media-body
                  .media-links
                    a.sidebar-menu-toggle(href='#') User Menu
                    a(href='pages_login(alt).html') Logout
                  .media-author Ryan Harrison
            // Sidebar Widget - Menu (slidedown)
            .sidebar-widget.menu-widget
              .row.text-center.mbn
                .col-xs-4
                  a.text-primary(href='dashboard.html', data-toggle='tooltip', data-placement='top', title='Dashboard')
                    span.glyphicon.glyphicon-home
                .col-xs-4
                  a.text-info(href='pages_messages.html', data-toggle='tooltip', data-placement='top', title='Messages')
                    span.glyphicon.glyphicon-inbox
                .col-xs-4
                  a.text-alert(href='pages_profile.html', data-toggle='tooltip', data-placement='top', title='Tasks')
                    span.fa.fa-asterisk
                .col-xs-4
                  a.text-system(href='pages_timeline.html', data-toggle='tooltip', data-placement='top', title='Activity')
                    span.fa.fa-desktop
                .col-xs-4
                  a.text-danger(href='pages_profile.html', data-toggle='tooltip', data-placement='top', title='Settings')
                    span.fa.fa-gears
                .col-xs-4
                  a.text-warning(href='pages_gallery.html', data-toggle='tooltip', data-placement='top', title='Cron Jobs')
                    span.fa.fa-flask
            // Sidebar Widget - Search (hidden)
            .sidebar-widget.search-widget.hidden
              .input-group
                span.input-group-addon
                  i.fa.fa-search
                input#sidebar-search.form-control(type='text', placeholder='Search...')
          // Start: Sidebar Menu
          ul.nav.sidebar-menu
            li.sidebar-label.pt20 Menu
            li
              a(href='pages_calendar.html')
                span.fa.fa-calendar
                span.sidebar-title Calendar
            li
              a(href='documentation/')
                span.glyphicon.glyphicon-book
                span.sidebar-title Documentation
            li.active
              a(href='dashboard.html')
                span.glyphicon.glyphicon-home
                span.sidebar-title Dashboard
            li.sidebar-label.pt15 Theme Tools
            li
              a.accordion-toggle(href='#')
                span.fa.fa-columns
                span.sidebar-title Admin Layouts
                span.caret
              ul.nav.sub-nav
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa.fa-arrows-h
                    |                   Sidebars
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_sidebar-left-static.html')
                        | Left Static
                    li
                      a(href='layout_sidebar-left-fixed.html')
                        | Left Fixed
                    li
                      a(href='layout_sidebar-left-widgets.html')
                        | Left Widgets
                    li
                      a(href='layout_sidebar-left-minified.html')
                        | Left Minified
                    li
                      a(href='layout_sidebar-left-light.html')
                        | Left White
                    li
                      a(href='layout_sidebar-right-static.html')
                        | Right Static
                    li
                      a(href='layout_sidebar-right-fixed.html')
                        | Right Fixed
                    li
                      a(href='layout_sidebar-right-menu.html')
                        | Right w/Menu
                
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-hand-o-up
                    |                   Topbar
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_topbar.html')
                        | Default Style
                    li
                      a(href='layout_topbar-menu.html')
                        | Default w/Menu
                    li
                      a(href='layout_topbar-alt.html')
                        | Alternate Style
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-arrows-v
                    |                   Content Body
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_content-blank.html')
                        | Blank Starter
                    li
                      a(href='layout_content-fixed.html')
                        | Fixed Window
                    li
                      a(href='layout_content-heading.html')
                        | Content Heading
                    li
                      a(href='layout_content-tabs.html')
                        | Content Tabs
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-pause
                    |                   Content Trays
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_tray-left.html')
                        | Tray Left Static
                    li
                      a(href='layout_tray-left-fixed.html')
                        | Tray Left Fixed
                    li
                      a(href='layout_tray-right.html')
                        | Tray Right Static
                    li
                      a(href='layout_tray-right-fixed.html')
                        | Tray Right Fixed
                    li
                      a(href='layout_tray-both.html')
                        | Left + Right Static
                    li
                      a(href='layout_tray-both-fixed.html')
                        | Left + Right Fixed
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-plus-square-o
                    |                   Boxed Layout
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_boxed.html')
                        | Default
                    li
                      a(href='layout_boxed-horizontal.html')
                        | Horizontal Menu
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-arrow-circle-o-up
                    |                   Horizontal Menu
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_horizontal-sm.html')
                        | Small Size
                    li
                      a(href='layout_horizontal-md.html')
                        | Medium Size
                    li
                      a(href='layout_horizontal-lg.html')
                        | Large Size
                    li
                      a(href='layout_horizontal-light.html')
                        | Light Skin
                    li
                      a(href='layout_horizontal-topbar.html')
                        | With Topbar
                    li
                      a(href='layout_horizontal-topbar-alt.html')
                        | With Alt Topbar
                    li
                      a(href='layout_horizontal-collapsed.html')
                        | Collapsed onLoad
                    li
                      a(href='layout_horizontal-boxed.html')
                        | In Boxed Layout
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-fire
                span.sidebar-title Admin Plugins
                span.caret
              ul.nav.sub-nav
                li
                  a(href='admin_plugins-panels.html')
                    span.glyphicon.glyphicon-book
                    |  Admin Panels
                li
                  a(href='admin_plugins-modals.html')
                    span.glyphicon.glyphicon-modal-window
                    |  Admin Modals
                li
                  a(href='admin_plugins-dock.html')
                    span.glyphicon.glyphicon-equalizer
                    |  Admin Dock
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-check
                span.sidebar-title Admin Forms
                span.caret
              ul.nav.sub-nav
                li
                  a(href='admin_forms-elements.html')
                    span.glyphicon.glyphicon-edit
                    |  Admin Elements
                li
                  a(href='admin_forms-widgets.html')
                    span.glyphicon.glyphicon-calendar
                    |  Admin Widgets
                li
                  a(href='admin_forms-validation.html')
                    span.glyphicon.glyphicon-check
                    |  Admin Validation
                li
                  a(href='admin_forms-layouts.html')
                    span.fa.fa-desktop
                    |  Admin Layouts
                li
                  a(href='admin_forms-wizard.html')
                    span.fa.fa-clipboard
                    |  Admin Wizard
            li.sidebar-label.pt20 Systems
            li
              a.accordion-toggle(href='#')
                span.fa.fa-diamond
                span.sidebar-title Widget Packages
                span.caret
              ul.nav.sub-nav
                li
                  a(href='widgets_tile.html')
                    span.fa.fa-cube
                    |  Tile Widgets
                li
                  a(href='widgets_panel.html')
                    span.fa.fa-desktop
                    |  Panel Widgets
                li
                  a(href='widgets_scroller.html')
                    span.fa.fa-columns
                    |  Scroller Widgets
                li
                  a(href='widgets_data.html')
                    span.fa.fa-dot-circle-o
                    |  Admin Widgets
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-shopping-cart
                span.sidebar-title Ecommerce
                span.caret
              ul.nav.sub-nav
                li
                  a(href='ecommerce_dashboard.html')
                    span.glyphicon.glyphicon-shopping-cart
                    |  Dashboard
                    span.label.label-xs.bg-primary New
                li
                  a(href='ecommerce_products.html')
                    span.glyphicon.glyphicon-tags
                    |  Products
                li
                  a(href='ecommerce_orders.html')
                    span.fa.fa-money
                    |  Orders
                li
                  a(href='ecommerce_customers.html')
                    span.fa.fa-users
                    |  Customers
                li
                  a(href='ecommerce_settings.html')
                    span.fa.fa-gears
                    |  Store Settings

            // sidebar resources
            li.sidebar-label.pt20 Elements
            li
              a.accordion-toggle(href='#')
                span.fa.fa-asterisk
                span.sidebar-title UI Elements
                span.caret
              ul.nav.sub-nav
                li
                  a(href='ui_alerts.html')
                    span.fa.fa-warning
                    |  Alerts
                li
                  a(href='ui_animations.html')
                    span.fa.fa-spinner
                    |  Animations
                li
                  a(href='ui_buttons.html')
                    span.fa.fa-plus-square-o
                    |  Buttons
                li
                  a(href='ui_typography.html')
                    span.fa.fa-text-width
                    |  Typography
                li
                  a(href='ui_portlets.html')
                    span.fa.fa-archive
                    |  Portlets
                li
                  a(href='ui_progress-bars.html')
                    span.fa.fa-bars
                    |  Progress Bars
                li
                  a(href='ui_tabs.html')
                    span.fa.fa-toggle-off
                    |  Tabs
                li
                  a(href='ui_icons.html')
                    span.fa.fa-hand-o-right
                    |  Icons
                li
                  a(href='ui_grid.html')
                    span.fa.fa-th-large
                    |  Grid
            li
              a.accordion-toggle(href='#')
                span.fa.fa-align-justify
                span.sidebar-title Form Elements
                span.caret
              ul.nav.sub-nav
                li
                  a(href='form_inputs.html')
                    span.fa.fa-magic
                    |  Basic Inputs
                li
                  a(href='form_plugins.html')
                    span.fa.fa-bell-o
                    |  Plugin Inputs
                    span.label.label-xs.bg-primary New
                li
                  a(href='form_editors.html')
                    span.fa.fa-clipboard
                    |  Editors
                li
                  a(href='form_treeview.html')
                    span.fa.fa-tree
                    |  Treeview
                li
                  a(href='form_nestable.html')
                    span.fa.fa-tasks
                    |  Nestable
                li
                  a(href='form_image-tools.html')
                    span.fa.fa-cloud-upload
                    |  Image Tools
                    span.label.label-xs.bg-primary New
                li
                  a(href='form_uploaders.html')
                    span.fa.fa-cloud-upload
                    |  Uploaders
                li
                  a(href='form_notifications.html')
                    span.fa.fa-bell-o
                    |  Notifications
                li
                  a(href='form_content-sliders.html')
                    span.fa.fa-exchange
                    |  Content Sliders
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-tower
                span.sidebar-title Plugins
                span.caret
              ul.nav.sub-nav
                li
                  a.accordion-toggle(href='#')
                    span.glyphicon.glyphicon-globe
                    |  Maps
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='maps_basic.html') Basic Maps
                    li
                      a(href='maps_vector.html') Vector Maps
                    li
                      a(href='maps_full.html') Full Map
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-area-chart
                    |  Charts
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='charts_highcharts.html') Highcharts
                    li
                      a(href='charts_d3.html') D3 Charts
                    li
                      a(href='charts_flot.html') Flot Charts
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-table
                    |  Tables
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='tables_basic.html')  Basic Tables


                    li
                      a(href='tables_footable.html')  FooTables
                    li
                      a(href='tables_pricing.html')  Pricing Tables
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-flask
                    |  Misc
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='misc_tour.html')  Site Tour
                    li
                      a(href='misc_timeout.html')  Session Timeout
                    li
                      a(href='misc_nprogress.html')  Page Progress Loader
            li
              a.accordion-toggle.menu-open(href='#')
                span.glyphicon.glyphicon-duplicate
                span.sidebar-title Pages
                span.caret
              ul.nav.sub-nav
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-gears
                    |  Utility
                    span.caret
                  ul.nav.sub-nav

                    li
                      a(href='pages_confirmation.html', target='_blank')
                        | Confirmation
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_login.html', target='_blank')  Login
                    li
                      a(href='pages_login(alt).html', target='_blank')
                        | Login Alt
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_register.html', target='_blank')  Register
                    li
                      a(href='pages_register(alt).html', target='_blank')
                        | Register Alt
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_screenlock.html', target='_blank')  Screenlock
                    li
                      a(href='pages_screenlock(alt).html', target='_blank')
                        | Screenlock Alt
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_forgotpw.html', target='_blank')  Forgot Password
                    li
                      a(href='pages_forgotpw(alt).html', target='_blank')
                        | Forgot Password Alt
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_coming-soon.html', target='_blank')
                        | Coming Soon
                    li
                      a(href='pages_404.html')  404 Error
                    li
                      a(href='pages_500.html')  500 Error
                    li
                      a(href='pages_404(alt).html')  404 Error Alt
                    li
                      a(href='pages_500(alt).html')  500 Error Alt
                li
                  a.accordion-toggle.menu-open(href='#')
                    span.fa.fa-desktop
                    |  Basic
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='pages_search-results.html')
                        | Search Results
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_profile.html')  Profile
                    li
                      a(href='pages_timeline.html')  Timeline Split
                    li.active
                      a(href='pages_timeline-single.html')  Timeline Single
                    li
                      a(href='pages_faq.html')  FAQ Page
                    li
                      a(href='pages_calendar.html')  Calendar
                    li
                      a(href='pages_messages.html')  Messages
                    li
                      a(href='pages_messages(alt).html')  Messages Alt
                    li
                      a(href='pages_gallery.html')  Gallery
                    li
                      a(href='pages_invoice.html')  Printable Invoice
            // sidebar bullets
            li.sidebar-label.pt20 Projects
            li.sidebar-proj
              a(href='#projectOne')
                span.fa.fa-bookmark.text-primary
                span.sidebar-title Executive Meeting
            li.sidebar-proj
              a(href='#projectTwo')
                span.fa.fa-bookmark.text-info
                span.sidebar-title HelpDesk Redesign
            li.sidebar-proj
              a(href='#projectTwo')
                span.fa.fa-bookmark.text-danger
                span.sidebar-title Sony Board Meeting
            li.sidebar-proj
              a(href='#projectThree')
                span.fa.fa-bookmark.text-warning
                span.sidebar-title Apple Tech Conference
      // Start: Content-Wrapper
      section#content_wrapper
        // Start: Topbar
        header#topbar.badges-mod.alt
          .topbar-left
            ol.breadcrumb
              li
                a(href="dashboard.php") Dashboard
              li
                a(href="admin_forms-elements.php") Form Elements
              li
                a(href="maps_basic.php") Plugins Pages
              li
                a(href="ui_alerts.php") UI Elements
              li
                a(href="documentation/") Documentation
          .topbar-right
            a.topbar-icon(href='#')
              span.fa.fa-search
            a.topbar-icon.topbar-menu-toggle.ml40(href='#', data-toggle='button')
              span.badge.badge-strikemaster.offset-badge 6
              span.fa.fa-magic
            .topbar-icon-wrap.ml40
              button.topbar-icon.dropdown-toggle(data-toggle='dropdown')
                span.badge.badge-primary 5
                span.fa.fa-bell.va-m
              .dropdown-menu.dropdown-persist.w350.animated.animated-shorter.fadeIn(role='menu')
                .panel.mbn
                  .panel-menu
                    span.panel-icon
                      i.fa.fa-clock-o
                    span.panel-title.fw600  Recent Activity
                    button.btn.btn-xs.pull-right(type='button')
                      i.fa.fa-refresh
                  .panel-body.panel-scroller.scroller-navbar.scroller-overlay.scroller-pn.pn
                    ol.timeline-list
                      li.timeline-item
                        .timeline-icon.bg-alert
                          span.fa.fa-tags
                        .timeline-desc
                          b Michael
                          |  Added to his store:
                          a(href='#') Ipod
                        .timeline-date 1:25am
                      li.timeline-item
                        .timeline-icon.bg-alert
                          span.fa.fa-tags
                        .timeline-desc
                          b Sara
                          |  Added his store:
                          a(href='#') Notebook
                        .timeline-date 3:05am
                      li.timeline-item
                        .timeline-icon.bg-success
                          span.fa.fa-usd
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Software
                        .timeline-date 4:15am
                      li.timeline-item
                        .timeline-icon.bg-success
                          span.fa.fa-usd
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Apple
                        .timeline-date 7:45am
                      li.timeline-item
                        .timeline-icon.bg-success
                          span.fa.fa-usd
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Software
                        .timeline-date 4:15am
                      li.timeline-item
                        .timeline-icon.bg-success
                          span.fa.fa-usd
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Apple
                        .timeline-date 7:45am
                      li.timeline-item
                        .timeline-icon.bg-alert
                          span.fa.fa-tags
                        .timeline-desc
                          b Michael
                          |  Added his store:
                          a(href='#') Ipod
                        .timeline-date 8:25am
                      li.timeline-item
                        .timeline-icon.bg-system
                          span.fa.fa-fire
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Software
                        .timeline-date 4:15am
                      li.timeline-item
                        .timeline-icon.bg-alert
                          span.fa.fa-tags
                        .timeline-desc
                          b Sara
                          |  Added to his store:
                          a(href='#') Notebook
                        .timeline-date 3:05am
                  .panel-footer.text-center.p7
                    a.link-unstyled(href='#')  View All
            .topbar-icon-wrap.ml35
              button.topbar-icon.dropdown-toggle(data-toggle='dropdown')
                span.badge.badge-mandy 5
                span.fa.fa-comments.va-m
              .dropdown-menu.dropdown-menu-offset.dropdown-persist.w350.animated.animated-shorter.fadeIn(role='menu')
                .panel.mbn
                  .panel-menu
                    span.panel-title.fw600 Messages
                  .panel-body.panel-scroller.scroller-navbar.scroller-overlay.scroller-pn.pn
                    .br-n.p10
                      .chat-widget
                        .media
                          .media-left
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/3.jpg')
                          .media-body
                            span.media-status.online
                            h5.media-heading
                              | Courtney Faught
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                        .media
                          .media-body
                            span.media-status.offline
                            h5.media-heading
                              | Joe Gibbons
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque.
                          .media-right
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/1.jpg')
                        .media
                          .media-left
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/2.jpg')
                          .media-body
                            span.media-status.online
                            h5.media-heading
                              | Courtney Faught
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metuscommodo.
                        .media
                          .media-body
                            span.media-status.offline
                            h5.media-heading
                              | Joe Gibbons
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in Nulla vel metus scelerisque antecommodo.
                          .media-right
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/1.jpg')
                        .media
                          .media-left
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/2.jpg')
                          .media-body
                            span.media-status.online
                            h5.media-heading
                              | Courtney Faught
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque soltudino.
                        .media
                          .media-body
                            span.media-status.offline
                            h5.media-heading
                              | Joe Gibbons
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
                          .media-right
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/1.jpg')
                  .panel-footer.text-center.p7
                    a.link-unstyled(href='#')  View All
        // Start: Topbar-Dropdown
        #topbar-dropmenu.alt
          .topbar-menu.row
            .col-xs-4.col-sm-2
              a.metro-tile.bg-primary.light(href='#')
                span.glyphicon.glyphicon-inbox.text-white
                span.metro-title Messages
            .col-xs-4.col-sm-2
              a.metro-tile.bg-info.light(href='#')
                span.glyphicon.glyphicon-user.text-white
                span.metro-title Users
            .col-xs-4.col-sm-2
              a.metro-tile.bg-success.light(href='#')
                span.glyphicon.glyphicon-headphones.text-white
                span.metro-title Support
            .col-xs-4.col-sm-2
              a.metro-tile.bg-system.light(href='#')
                span.glyphicon.glyphicon-facetime-video.text-white
                span.metro-title Videos
            .col-xs-4.col-sm-2
              a.metro-tile.bg-warning.light(href='#')
                span.fa.fa-gears.text-white
                span.metro-title Settings
            .col-xs-4.col-sm-2
              a.metro-tile.bg-alert.light(href='#')
                span.glyphicon.glyphicon-picture.text-white
                span.metro-title Pictures
        // Begin: Content
        section#content.animated.fadeIn
          // Timeline Wrapper
          #timeline.timeline-single.mt30
            // Timeline Divider
            .timeline-divider.mtn
              .divider-label 2013
              .pull-right
                button#timeline-toggle.btn.btn-default.btn-sm
                  span.ad.ad-lines.fs16.lh20
            .row
              // Timeline - Left Column
              .col-sm-6.left-column
                .timeline-item
                  .timeline-icon
                    span.fa.fa-edit.text-warning
                  .panel
                    .panel-heading
                      span.panel-title.hidden-xs Working Content Form
                    .panel-heading.mt10
                      ul.nav.panel-tabs
                        li.active
                          a(href='#tab1', data-toggle='tab') Image
                        li
                          a(href='#tab2', data-toggle='tab') Basic
                        li
                          a(href='#tab3', data-toggle='tab') Video
                        li
                          a(href='#tab4', data-toggle='tab') Map
                    .panel-body
                      .admin-form.theme-primary
                        .tab-content.pn.pt10.border-none
                          #tab1.tab-pane.active
                            form#timeline-image-form(role='form')
                              .fileupload.fileupload-new(data-provides='fileupload')
                                .tab-body
                                  .fileupload-preview.thumbnail
                                    img(data-src='holder.js/100%x140', alt='holder')
                                  .row.mv25
                                    .col-md-3
                                      span.button.btn-system.btn-file.btn-block
                                        span.fileupload-new Select image
                                        span.fileupload-exists Change File
                                        input(type='file')
                                    .col-md-4
                                      label.field.prepend-icon(for='name2')
                                        input#name2.event-name.gui-input(type='text', name='name2', placeholder='Event Title')
                                        label.field-icon(for='name2')
                                          i.fa.fa-pencil
                                    .col-md-5
                                      label.field.prepend-icon(for='date2')
                                        input#date2.datepicker.gui-input(type='text', name='date2', placeholder='Event Date')
                                        label.field-icon(for='date2')
                                          i.fa.fa-calendar
                                .panel-footer.mhn15.mbn15
                                  .row
                                    .col-md-3
                                      a.button.btn-danger.btn-block.fileupload-exists(href='#', data-dismiss='fileupload') Remove
                                    .col-md-9.text-right
                                      button.button.btn-primary.submit-btn(type='submit') Create Event
                          #tab2.tab-pane
                            form#timeline-basic-form(role='form')
                              .section.row
                                .col-md-6
                                  label.field.prepend-icon(for='name1')
                                    input#name1.event-name.gui-input(type='text', name='name1', placeholder='Event Title')
                                    label.field-icon(for='name1')
                                      i.fa.fa-pencil
                                .col-md-6
                                  label.field.prepend-icon(for='date1')
                                    input#date1.datepicker.gui-input(type='text', name='date1', placeholder='First name')
                                    label.field-icon(for='date1')
                                      i.fa.fa-calendar
                              .section.mb30
                                label.field.prepend-icon
                                  textarea#desc1.event-desc.gui-textarea(name='desc1', placeholder='Type the description for the event here...')
                                  label.field-icon(for='desc1')
                                    i.fa.fa-comments
                                  span.input-footer
                                    strong Hint:
                                    |  Don't be negative or off topic! just be awesome...
                              .panel-footer.mhn15.mbn15.text-right
                                button.button.btn-primary.submit-btn(type='submit') Create Event
                          #tab3.tab-pane
                            form#timeline-video-form(role='form')
                              .section.row
                                .col-md-6
                                  label.field.prepend-icon(for='name3')
                                    input#name3.event-name.gui-input(type='text', name='name3', placeholder='Event Title')
                                    label.field-icon(for='name3')
                                      i.fa.fa-pencil
                                .col-md-6
                                  label.field.prepend-icon(for='date3')
                                    input#date3.datepicker.gui-input(type='text', name='date3', placeholder='Event Date')
                                    label.field-icon(for='date3')
                                      i.fa.fa-calendar
                              .section.mb30
                                label.field.prepend-icon
                                  textarea#desc2.event-video.gui-textarea(name='desc2', placeholder='<iframe></iframe>')
                                    iframe.embed-responsive-item(src='http://www.youtube.com/embed/q94n3eWOWXM?rel=0', allowfullscreen='')
                                  label.field-icon(for='desc2')
                                    i.fa.fa-video-camera
                                  span.input-footer
                                    strong This field accepts youtube embed:
                                    |  An example has already been placed in the field
                              .panel-footer.mhn15.mbn15.text-right
                                button.button.btn-primary.submit-btn(type='submit') Create Event
                          #tab4.tab-pane
                            form#timeline-map-form(role='form')
                              .section.row
                                .col-md-6
                                  label.field.prepend-icon(for='name4')
                                    input#name4.event-name.gui-input(type='text', name='name4', placeholder='Event Title')
                                    label.field-icon(for='name4')
                                      i.fa.fa-pencil
                                .col-md-6
                                  label.field.prepend-icon(for='date4')
                                    input#date4.datepicker.gui-input(type='text', name='date4', placeholder='Event Date')
                                    label.field-icon(for='date4')
                                      i.fa.fa-calendar
                              .section
                                label.field.prepend-icon
                                  textarea#desc3.event-map.gui-textarea(name='desc3', placeholder='<iframe></iframe>')
                                    iframe(width='100%', height='275', frameborder='0', style='border:0', src='https://www.google.com/maps/embed/v1/place?q=Disneyland%20Park%2C%20Disneyland%20Drive%2C%20Anaheim%2C%20CA%2C%20United%20States&key=AIzaSyBqf9cjsPAh3rGJPKLCsYL2IeAveGhGJTw&zoom=14')
                                  label.field-icon(for='desc3')
                                    i.fa.fa-map-marker
                                  span.input-footer
                                    strong This field accepts Google Map embeds:
                                    |  An example has already been placed in the field
                              .panel-footer.mhn15.mbn15.text-right
                                button.button.btn-primary.submit-btn(type='submit') Create Event
                .timeline-item
                  .timeline-icon
                    span.glyphicon.glyphicon-user.text-primary
                  .panel
                    .panel-heading
                      span.panel-title
                        span.glyphicon.glyphicon-comment
                        |  User Posting
                      .panel-header-menu.pull-right.mr10.text-muted.fs12  July 30, 2013
                    .panel-body
                      .media
                        a.pull-left(href='#')
                          img.media-object.thumbnail.mw50(src='assets/img/avatars/4.jpg', alt='...')
                        .media-body
                          h5.media-heading.mb20
                            | Simon Rivers Posted
                            small  - 3 hours ago
                          img.mw140.mr25.mb20(src='assets/img/stock/1.jpg')
                          img.mw140.mb20(src='assets/img/stock/2.jpg')
                          .media-links
                            span.text-light.fs12.mr10
                              span.fa.fa-thumbs-o-up.text-primary.mr5
                              |  Like
                            span.text-light.fs12.mr10
                              span.fa.fa-share.text-primary.mr5
                              |  Share
                            span.text-light.fs12.mr10
                              span.glyphicon.glyphicon-floppy-save.text-primary.mr5
                              |  Save
                            span.text-light.fs12.mr10
                              span.fa.fa-comments.text-primary.mr5
                              |  Comment
                      .media.mt20
                        a.pull-left(href='#')
                          img.media-object.thumbnail.thumbnail-sm.rounded.mw40(src='assets/img/avatars/3.jpg', alt='...')
                        .media-body.mb5
                          h5.media-heading.mbn
                            | Simon Rivers Posted
                            small  - 3 hours ago
                          p  Omg so freaking sweet dude.
                      .media.mt15
                        a.pull-left(href='#')
                          img.media-object.thumbnail.thumbnail-sm.rounded.mw40(src='assets/img/avatars/4.jpg', alt='...')
                        .media-body.mb5
                          h5.media-heading.mbn
                            | Jessica Wong
                            small  - 3 hours ago
                          p Omgosh I'm in love
                    .panel-footer.p15
                      .admin-form
                        label.field.prepend-icon(for='reply1')
                          input#reply1.event-name.gui-input(type='text', name='reply1', placeholder='Respond with a comment.')
                          label.field-icon(for='reply1')
                            i.fa.fa-pencil
                .timeline-item
                  .timeline-icon
                    span.glyphicon.glyphicons-picture.text-info
                  .panel
                    .panel-heading
                      span.panel-title
                        span.fa.fa-picture-o
                        |  Gallery
                      .panel-header-menu.pull-right.mr10.text-muted.fs12  August 7, 2013
                    .panel-body
                      .row
                        .col-xs-4
                          a.gallery-item(href='assets/img/stock/3.jpg')
                            img.img-responsive(src='assets/img/stock/3.jpg', alt='')
                        .col-xs-4
                          a.gallery-item(href='assets/img/stock/4.jpg')
                            img.img-responsive(src='assets/img/stock/4.jpg', alt='')
                        .col-xs-4
                          a.gallery-item(href='assets/img/stock/5.jpg')
                            img.img-responsive(src='assets/img/stock/5.jpg', alt='')
              // Timeline - Right Column
              .col-sm-6.right-column
                .timeline-item
                  .timeline-icon
                    span.fa.fa-video-camera.text-primary
                  .panel
                    .panel-heading
                      span.panel-title
                        span.glyphicon.glyphicon-facetime-video
                        |  Timeline Video!
                      .panel-header-menu.pull-right.mr10.text-muted.fs12  November 27, 2012
                    .panel-body
                      .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(src='https://www.youtube.com/embed/Fp6jQFBFyGA', frameborder='0', allowfullscreen='')
                .timeline-item
                  .timeline-icon
                    span.fa.fa-compass.text-success
                  .panel
                    .panel-heading
                      span.panel-title
                        span.glyphicon.glyphicon-camera
                        |  Map Posting
                      .panel-header-menu.pull-right.mr10.text-muted.fs12  August 7, 2013
                    .panel-body
                      iframe(width='100%', height='275', frameborder='0', style='border:0', src='https://www.google.com/maps/embed/v1/place?q=Disneyland%20Park%2C%20Disneyland%20Drive%2C%20Anaheim%2C%20CA%2C%20United%20States&key=AIzaSyBqf9cjsPAh3rGJPKLCsYL2IeAveGhGJTw&zoom=14')
                .timeline-item
                  .timeline-icon
                    span.fa.fa-star-o.text-alert
                  .panel
                    .panel-body
                      .row
                        .col-xs-6
                          a.gallery-item(href='assets/img/stock/4.jpg')
                            img.img-responsive(src='assets/img/stock/4.jpg', alt='')
                        .col-xs-6
                          a.gallery-item(href='assets/img/stock/5.jpg')
                            img.img-responsive(src='assets/img/stock/5.jpg', alt='')
                .timeline-item
                  .timeline-icon
                    span.fa.fa-paperclip.text-danger
                  .panel
                    .panel-body.p10
                      blockquote.mbn.ml10
                        p
                          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat Lorem ipsum dolor sit amet, dolor sit amet lorem adpiz. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean felis sapien, vestibulum in dignissim vitae, condimentum eu nibh.
                        small Someone famous
            // Timeline Divider
            .timeline-divider
              .divider-label 2012
          // Timeline - Demo HTML
          #clone.timeline-item.panel-clone
            .panel
              .panel-heading
                span.panel-title
                  i.fa.fa-pencil
                  |  A Title
                span.panel-date.pull-right.mr10.text-muted.fs12  November 27, 2013
              .panel-body
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean felis sapien, vestibulum in dignissim vitae, condimentum eu nibh.
      // Start: Right Sidebar
      aside#sidebar_right.nano.affix
        // Start: Sidebar Right Content
        .sidebar-right-content.nano-content
          .tab-block.sidebar-block.br-n
            ul.nav.nav-tabs.tabs-border.nav-justified.hidden
              li.active
                a(href='#sidebar-right-tab1', data-toggle='tab') Tab 1
              li
                a(href='#sidebar-right-tab2', data-toggle='tab') Tab 2
              li
                a(href='#sidebar-right-tab3', data-toggle='tab') Tab 3
            .tab-content.br-n
              #sidebar-right-tab1.tab-pane.active
                h5.title-divider.text-muted.mb20
                  | Server Statistics
                  span.pull-right
                    | 2013
                    i.fa.fa-caret-down.ml5
                .progress.mh5
                  .progress-bar.progress-bar-primary(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 44%')
                    span.fs11 DB Request
                .progress.mh5
                  .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 84%')
                    span.fs11.text-left Server Load
                .progress.mh5
                  .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 61%')
                    span.fs11.text-left Server Connections
                h5.title-divider.text-muted.mt30.mb10 Traffic Margins
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 132
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  13.2%
                h5.title-divider.text-muted.mt25.mb10 Database Request
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 212
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  25.6%
                h5.title-divider.text-muted.mt25.mb10 Server Response
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 82.5
                  .col-xs-7.text-right
                    h3.text-danger.mn
                      i.fa.fa-caret-down
                      |  17.9%
                h5.title-divider.text-muted.mt40.mb20
                  | Server Statistics
                  span.pull-right.text-primary.fw600 USA
              #sidebar-right-tab2.tab-pane
              #sidebar-right-tab3.tab-pane
    // core scripts
    script(src='plugins/core.min.js')
    // Admin Forms JS
    script(src='assets/admin-tools/admin-forms/js/jquery-ui-monthpicker.min.js')
    // Theme Javascript
    script(src='assets/js/utility/utility.js')
    script(src='assets/js/demo/demo.js')
    script(src='assets/js/main.js')
    script(type='text/javascript').
      jQuery(document).ready(function () {
        "use strict";
        // Init Theme Core
        Core.init();
        // Init Demo JS
        Demo.init();
        // Toggle single item timeline style
        $('#timeline-toggle').on('click', function () {
          $('#timeline').toggleClass('timeline-single');
        });
        // All of the event creation forms attached to the timeline
        var forms = '#timeline-basic-form, #timeline-image-form, #timeline-video-form, #timeline-map-form';
        // Catch Form Submit and pass required variables
        // to event creation function
        $(forms).submit(function (e) {
          var This = $(this);
          createEvent(e, This);
        });
        // unique ID counter for Panel Clones
        var counter = 0;

        function createEvent(e, This) {
          e.preventDefault();
          // shared event field data
          var eventTitle = This.find('.event-name').val(),
                  eventDate = This.find('.datepicker').val();
          if (eventTitle == '') {
            var eventTitle = "Example Title";
          }
          if (eventDate == '') {
            var eventDate = "01/01/2014";
          }
          // The form creation panel simply collects data from the user
          // proccesses it and then creates a new panel to place it in.
          // That new panel is simply a clone of one which already exists.
          var clone = $('#clone').clone(true).attr('id', 'clone-' + counter).removeClass('panel-clone');
          clone.find('.panel-heading .panel-title').text(eventTitle);
          clone.find('.panel-heading .panel-date').text(eventDate)
          // append clone to container and display it
          var setClone = function setClone() {
            clone.insertAfter(This.parents('.timeline-item')).hide();
            clone.fadeIn();
            This[0].reset();
          }
          // unique event field data
          var id = This.attr('id');
          switch (id) {
            case 'timeline-basic-form':
              var eventDesc = This.find('.event-desc').val();
              clone.find('.panel-body p').text(eventDesc);
              setClone()
              break;
            case 'timeline-image-form':
              var eventImage = This.find('.fileupload-preview img').clone().addClass('img-responsive');
              clone.find('.panel-body p').html(eventImage);
              setClone()
              break;
            case 'timeline-video-form':
              // cache form value
              var eventVideo = This.find('.event-video').val();
              // Create responsive iframe wrapper
              var eventCont = clone.find('.panel-body').html('<div class="embed-responsive embed-responsive-16by9"></div>');
              // Fill container with iframe url from eventVideo Val
              eventCont.find('.embed-responsive').html(eventVideo);
              setClone()
              break;
            case 'timeline-map-form':
              // cache form value
              var eventMap = This.find('.event-map').val();
              // Create responsive iframe wrapper
              var eventCont = clone.find('.panel-body').html('<div class="embed-responsive embed-responsive-16by9"></div>');
              // Fill container with iframe url from eventVideo Val
              eventCont.find('.embed-responsive').html(eventMap);
              setClone()
              break;
          }
          // add to unique ID counter
          counter++;
        }

        // Init Admin plugins
        $(".datepicker").datepicker({
          numberOfMonths: 1,
          prevText: '<i class="fa fa-chevron-left"></i>',
          nextText: '<i class="fa fa-chevron-right"></i>',
          showButtonPanel: false,
          beforeShow: function (input, inst) {
            var newclass = 'admin-form';
            var themeClass = $(this).parents('.admin-form').attr('class');
            var smartpikr = inst.dpDiv.parent();
            if (!smartpikr.hasClass(themeClass)) {
              inst.dpDiv.wrap('<div class="' + themeClass + '"></div>');
            }
          }
        });
        // Init Misc plugins
        $('a.gallery-item').magnificPopup({
          type: 'image',
          gallery: {
            enabled: true
          }
        });
        // Demo purposes. Runs holder.js (temp images) after
        // a tab has been clicked. Fixes content hidden bug
        $('a[data-toggle="tab"]').click(function () {
          var tabDelay = setTimeout(function () {
            Holder.run();
          }, 20);
        });
      });