extends  _skeleton

block stylesheets
  link(rel='stylesheet', type='text/css', href='plugins/css/github.css')

block body
  body.ui-typography-page
    // Start: Theme Preview Pane
    #skin-toolbox
      .panel
        .panel-heading
          span.panel-icon
            i.fa.fa-gear.text-primary
          span.panel-title  Theme Options
        .panel-body.pn
          ul.nav.nav-list.nav-list-sm.pl15.pt10(role='tablist')

            li.active
              a(href='#toolbox-sidebar', role='tab', data-toggle='tab') Sidebar
            li
              a(href='#toolbox-settings', role='tab', data-toggle='tab') Misc
          .tab-content.p20.ptn.pb15

            #toolbox-sidebar.tab-pane.active(role='tabpanel')
              form#toolbox-sidebar-skin
                h4.mv20 Sidebar Skins
                .skin-toolbox-swatches
                  .checkbox-custom.fill.mb5
                    input#sidebarSkin3(type='radio', name='sidebarSkin', checked='', value='')
                    label(for='sidebarSkin3') Dark
                  .checkbox-custom.fill.checkbox-disabled.mb5
                    input#sidebarSkin1(type='radio', name='sidebarSkin', value='sidebar-light')
                    label(for='sidebarSkin1') Light
                  .checkbox-custom.fill.checkbox-light.mb5
                    input#sidebarSkin2(type='radio', name='sidebarSkin', value='sidebar-light light')
                    label(for='sidebarSkin2') Lighter
            #toolbox-settings.tab-pane(role='tabpanel')
              form#toolbox-settings-misc
                h4.mv20.mtn Layout Options

                .form-group
                  .checkbox-custom.fill.mb5
                    input#sidebar-option(type='checkbox', checked='')
                    label(for='sidebar-option') Fixed Sidebar

                h4.mv20 Layout Options
                .form-group
                  .radio-custom.mb5
                    input#fullwidth-option(type='radio', checked='', name='layout-option')
                    label(for='fullwidth-option') Fullwidth Layout
                .form-group.mb20.pointer-events-none
                  .radio-custom.radio-disabled.mb5
                    input#boxed-option(type='radio', name='layout-option', disabled='')
                    label(for='boxed-option')
                      | Boxed Layout
                      b.text-muted (Coming Soon)
          .form-group.mn.br-t.p10
            a#clearLocalStorage.btn.btn-primary.btn-block.pb10.pt10(href='#') Clear LocalStorage
    // Start: Main
    #main
      // Start: Sidebar
      aside#sidebar_left.nano.nano-light.affix
        // Navbar Branding
        .navbar-branding
          a.navbar-brand(href='dashboard.html')
            span.text-white Ruby
            = ' '
            | Admin
          span#toggle_sidemenu_l.ad.ad-lines
        // Start: Sidebar Left Content
        .sidebar-left-content.nano-content
          // Start: Sidebar Header
          header.sidebar-header
            // Sidebar Widget - Author
            .sidebar-widget.author-widget
              .media
                a.media-left(href='#')
                  img.img-responsive(src='assets/img/avatars/3.jpg')
                .media-body
                  .media-links
                  .media-author Ryan Harrison
                  a.sidebar-menu-toggle(href='#') User Menu
                  a(href='pages_login(alt).html') Logout
            // Sidebar Widget - Menu (slidedown)
            .sidebar-widget.menu-widget
              .row.text-center.mbn
                .col-xs-4
                  a.text-primary(href='dashboard.html', data-toggle='tooltip', data-placement='top', title='Dashboard')
                    span.glyphicon.glyphicon-home
                .col-xs-4
                  a.text-info(href='pages_messages.html', data-toggle='tooltip', data-placement='top', title='Messages')
                    span.glyphicon.glyphicon-inbox
                .col-xs-4
                  a.text-alert(href='pages_profile.html', data-toggle='tooltip', data-placement='top', title='Tasks')
                    span.fa.fa-asterisk
              .row.text-center.mbn
                .col-xs-4
                  a.text-system(href='pages_timeline.html', data-toggle='tooltip', data-placement='top', title='Activity')
                    span.fa.fa-desktop
                .col-xs-4
                  a.text-danger(href='pages_profile.html', data-toggle='tooltip', data-placement='top', title='Settings')
                    span.fa.fa-gears
                .col-xs-4
                  a.text-warning(href='pages_gallery.html', data-toggle='tooltip', data-placement='top', title='Cron Jobs')
                    span.fa.fa-flask
            // Sidebar Widget - Search (hidden)
            .sidebar-widget.search-widget.hidden
              .input-group
                span.input-group-addon
                  i.fa.fa-search
                input#sidebar-search.form-control(type='text', placeholder='Search...')
          // Start: Sidebar Menu
          ul.nav.sidebar-menu
            li.sidebar-label.pt30 Menu
            li
              a(href='pages_calendar.html')
                span.fa.fa-calendar
                span.sidebar-title Calendar
                span.sidebar-title-tray
                  span.label.label-xs.bg-primary New
            li
              a(href='documentation/')
                span.glyphicon.glyphicon-book
                span.sidebar-title Documentation
            li.active
              a(href='dashboard.html')
                span.glyphicon.glyphicon-home
                span.sidebar-title Dashboard
            li.sidebar-label.pt15 Exclusive Tools
            li
              a.accordion-toggle(href='#')
                span.fa.fa-columns
                span.sidebar-title Admin Layouts
                span.caret
              ul.nav.sub-nav
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa.fa-arrows-h
                    |                   Sidebars
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_sidebar-left-static.html')
                        | Left Static
                    li
                      a(href='layout_sidebar-left-fixed.html')
                        | Left Fixed
                    li
                      a(href='layout_sidebar-left-widgets.html')
                        | Left Widgets
                    li
                      a(href='layout_sidebar-left-minified.html')
                        | Left Minified
                    li
                      a(href='layout_sidebar-left-light.html')
                        | Left White
                    li
                      a(href='layout_sidebar-right-static.html')
                        | Right Static
                    li
                      a(href='layout_sidebar-right-fixed.html')
                        | Right Fixed
                    li
                      a(href='layout_sidebar-right-menu.html')
                        | Right w/Menu
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-arrows-v
                    |                   Navbar
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_navbar-static.html')
                        | Navbar Static
                    li
                      a(href='layout_navbar-fixed.html')
                        | Navbar Fixed
                    li
                      a(href='layout_navbar-menus.html')
                        | Navbar Menus
                    li
                      a(href='layout_navbar-contextual.html')
                        | Contextual Example
                    li
                      a(href='layout_navbar-search-alt.html')
                        | Search Alt Style
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-hand-o-up
                    |                   Topbar
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_topbar.html')
                        | Default Style
                    li
                      a(href='layout_topbar-menu.html')
                        | Default w/Menu
                    li
                      a(href='layout_topbar-alt.html')
                        | Alternate Style
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-arrows-v
                    |                   Content Body
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_content-blank.html')
                        | Blank Starter
                    li
                      a(href='layout_content-fixed.html')
                        | Fixed Window
                    li
                      a(href='layout_content-heading.html')
                        | Content Heading
                    li
                      a(href='layout_content-tabs.html')
                        | Content Tabs
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-pause
                    |                   Content Trays
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_tray-left.html')
                        | Tray Left Static
                    li
                      a(href='layout_tray-left-fixed.html')
                        | Tray Left Fixed
                    li
                      a(href='layout_tray-right.html')
                        | Tray Right Static
                    li
                      a(href='layout_tray-right-fixed.html')
                        | Tray Right Fixed
                    li
                      a(href='layout_tray-both.html')
                        | Left + Right Static
                    li
                      a(href='layout_tray-both-fixed.html')
                        | Left + Right Fixed
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-plus-square-o
                    |                   Boxed Layout
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_boxed.html')
                        | Default
                    li
                      a(href='layout_boxed-horizontal.html')
                        | Horizontal Menu
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-arrow-circle-o-up
                    |                   Horizontal Menu
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_horizontal-sm.html')
                        | Small Size
                    li
                      a(href='layout_horizontal-md.html')
                        | Medium Size
                    li
                      a(href='layout_horizontal-lg.html')
                        | Large Size
                    li
                      a(href='layout_horizontal-light.html')
                        | Light Skin
                    li
                      a(href='layout_horizontal-topbar.html')
                        | With Topbar
                    li
                      a(href='layout_horizontal-topbar-alt.html')
                        | With Alt Topbar
                    li
                      a(href='layout_horizontal-collapsed.html')
                        | Collapsed onLoad
                    li
                      a(href='layout_horizontal-boxed.html')
                        | In Boxed Layout
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-fire
                span.sidebar-title Admin Plugins
                span.caret
              ul.nav.sub-nav
                li
                  a(href='admin_plugins-panels.html')
                    span.glyphicon.glyphicon-book
                    |  Admin Panels
                li
                  a(href='admin_plugins-modals.html')
                    span.glyphicon.glyphicon-modal-window
                    |  Admin Modals
                li
                  a(href='admin_plugins-dock.html')
                    span.glyphicon.glyphicon-equalizer
                    |  Admin Dock
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-check
                span.sidebar-title Admin Forms
                span.caret
              ul.nav.sub-nav
                li
                  a(href='admin_forms-elements.html')
                    span.glyphicon.glyphicon-edit
                    |  Admin Elements
                li
                  a(href='admin_forms-widgets.html')
                    span.glyphicon.glyphicon-calendar
                    |  Admin Widgets
                li
                  a(href='admin_forms-validation.html')
                    span.glyphicon.glyphicon-check
                    |  Admin Validation
                li
                  a(href='admin_forms-layouts.html')
                    span.fa.fa-desktop
                    |  Admin Layouts
                li
                  a(href='admin_forms-wizard.html')
                    span.fa.fa-clipboard
                    |  Admin Wizard
            li.sidebar-label.pt20 Systems
            li
              a.accordion-toggle(href='#')
                span.fa.fa-diamond
                span.sidebar-title Widget Packages
                span.caret
              ul.nav.sub-nav
                li
                  a(href='widgets_tile.html')
                    span.fa.fa-cube
                    |  Tile Widgets
                li
                  a(href='widgets_panel.html')
                    span.fa.fa-desktop
                    |  Panel Widgets
                li
                  a(href='widgets_scroller.html')
                    span.fa.fa-columns
                    |  Scroller Widgets
                li
                  a(href='widgets_data.html')
                    span.fa.fa-dot-circle-o
                    |  Admin Widgets
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-shopping-cart
                span.sidebar-title Ecommerce
                span.caret
              ul.nav.sub-nav
                li
                  a(href='ecommerce_dashboard.html')
                    span.glyphicon.glyphicon-shopping-cart
                    |  Dashboard
                    span.label.label-xs.bg-primary New
                li
                  a(href='ecommerce_products.html')
                    span.glyphicon.glyphicon-tags
                    |  Products
                li
                  a(href='ecommerce_orders.html')
                    span.fa.fa-money
                    |  Orders
                li
                  a(href='ecommerce_customers.html')
                    span.fa.fa-users
                    |  Customers
                li
                  a(href='ecommerce_settings.html')
                    span.fa.fa-gears
                    |  Store Settings

            // sidebar resources
            li.sidebar-label.pt20 Elements
            li
              a.accordion-toggle.menu-open(href='#')
                span.fa.fa-asterisk
                span.sidebar-title UI Elements
                span.caret
              ul.nav.sub-nav
                li
                  a(href='ui_alerts.html')
                    span.fa.fa-warning
                    |  Alerts
                li
                  a(href='ui_animations.html')
                    span.fa.fa-spinner
                    |  Animations
                li
                  a(href='ui_buttons.html')
                    span.fa.fa-plus-square-o
                    |  Buttons
                li.active
                  a(href='ui_typography.html')
                    span.fa.fa-text-width
                    |  Typography
                li
                  a(href='ui_portlets.html')
                    span.fa.fa-archive
                    |  Portlets
                li
                  a(href='ui_progress-bars.html')
                    span.fa.fa-bars
                    |  Progress Bars
                li
                  a(href='ui_tabs.html')
                    span.fa.fa-toggle-off
                    |  Tabs
                li
                  a(href='ui_icons.html')
                    span.fa.fa-hand-o-right
                    |  Icons
                li
                  a(href='ui_grid.html')
                    span.fa.fa-th-large
                    |  Grid
            li
              a.accordion-toggle(href='#')
                span.fa.fa-align-justify
                span.sidebar-title Form Elements
                span.caret
              ul.nav.sub-nav
                li
                  a(href='form_inputs.html')
                    span.fa.fa-magic
                    |  Basic Inputs
                li
                  a(href='form_plugins.html')
                    span.fa.fa-bell-o
                    |  Plugin Inputs
                    span.label.label-xs.bg-primary New
                li
                  a(href='form_editors.html')
                    span.fa.fa-clipboard
                    |  Editors
                li
                  a(href='form_treeview.html')
                    span.fa.fa-tree
                    |  Treeview
                li
                  a(href='form_nestable.html')
                    span.fa.fa-tasks
                    |  Nestable
                li
                  a(href='form_image-tools.html')
                    span.fa.fa-cloud-upload
                    |  Image Tools
                    span.label.label-xs.bg-primary New
                li
                  a(href='form_uploaders.html')
                    span.fa.fa-cloud-upload
                    |  Uploaders
                li
                  a(href='form_notifications.html')
                    span.fa.fa-bell-o
                    |  Notifications
                li
                  a(href='form_content-sliders.html')
                    span.fa.fa-exchange
                    |  Content Sliders
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-tower
                span.sidebar-title Plugins
                span.caret
              ul.nav.sub-nav
                li
                  a.accordion-toggle(href='#')
                    span.glyphicon.glyphicon-globe
                    |  Maps
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='maps_basic.html') Basic Maps
                    li
                      a(href='maps_vector.html') Vector Maps
                    li
                      a(href='maps_full.html') Full Map
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-area-chart
                    |  Charts
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='charts_highcharts.html') Highcharts
                    li
                      a(href='charts_d3.html') D3 Charts
                    li
                      a(href='charts_flot.html') Flot Charts
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-table
                    |  Tables
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='tables_basic.html')  Basic Tables


                    li
                      a(href='tables_footable.html')  FooTables
                    li
                      a(href='tables_pricing.html')  Pricing Tables
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-flask
                    |  Misc
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='misc_tour.html')  Site Tour
                    li
                      a(href='misc_timeout.html')  Session Timeout
                    li
                      a(href='misc_nprogress.html')  Page Progress Loader
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-duplicate
                span.sidebar-title Pages
                span.caret
              ul.nav.sub-nav
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-gears
                    |  Utility
                    span.caret
                  ul.nav.sub-nav

                    li
                      a(href='pages_confirmation.html', target='_blank')
                        | Confirmation
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_login.html', target='_blank')  Login
                    li
                      a(href='pages_login(alt).html', target='_blank')
                        | Login Alt
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_register.html', target='_blank')  Register
                    li
                      a(href='pages_register(alt).html', target='_blank')
                        | Register Alt
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_screenlock.html', target='_blank')  Screenlock
                    li
                      a(href='pages_screenlock(alt).html', target='_blank')
                        | Screenlock Alt
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_forgotpw.html', target='_blank')  Forgot Password
                    li
                      a(href='pages_forgotpw(alt).html', target='_blank')
                        | Forgot Password Alt
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_coming-soon.html', target='_blank')
                        | Coming Soon
                    li
                      a(href='pages_404.html')  404 Error
                    li
                      a(href='pages_500.html')  500 Error
                    li
                      a(href='pages_404(alt).html')  404 Error Alt
                    li
                      a(href='pages_500(alt).html')  500 Error Alt
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-desktop
                    |  Basic
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='pages_search-results.html')
                        | Search Results
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_profile.html')  Profile
                    li
                      a(href='pages_timeline.html')  Timeline Split
                    li
                      a(href='pages_timeline-single.html')  Timeline Single
                    li
                      a(href='pages_faq.html')  FAQ Page
                    li
                      a(href='pages_calendar.html')  Calendar
                    li
                      a(href='pages_messages.html')  Messages
                    li
                      a(href='pages_messages(alt).html')  Messages Alt
                    li
                      a(href='pages_gallery.html')  Gallery
                    li
                      a(href='pages_invoice.html')  Printable Invoice
            // sidebar bullets
            li.sidebar-label.pt20 Projects
            li.sidebar-proj
              a(href='#projectOne')
                span.fa.fa-bookmark.text-primary
                span.sidebar-title Executive Meeting
            li.sidebar-proj
              a(href='#projectTwo')
                span.fa.fa-bookmark.text-info
                span.sidebar-title HelpDesk Redesign
            li.sidebar-proj
              a(href='#projectTwo')
                span.fa.fa-bookmark.text-danger
                span.sidebar-title Sony Board Meeting
            li.sidebar-proj
              a(href='#projectThree')
                span.fa.fa-bookmark.text-warning
                span.sidebar-title Apple Tech Conference
      // Start: Content-Wrapper
      section#content_wrapper
        // Start: Topbar
        header#topbar.badges-mod.alt
          .topbar-left
            ol.breadcrumb
              li
                a(href="dashboard.php") Dashboard
              li
                a(href="admin_forms-elements.php") Form Elements
              li
                a(href="maps_advanced.php") Plugins Pages
              li
                a(href="ui_alerts.php") UI Elements
              li
                a(href="documentation/") Documentation
          .topbar-right
            a.topbar-icon(href='#')
              span.fa.fa-search
            a.topbar-icon.topbar-menu-toggle.ml40(href='#', data-toggle='button')
              span.badge.badge-strikemaster.offset-badge 6
              span.fa.fa-magic
            .topbar-icon-wrap.ml40
              button.topbar-icon.dropdown-toggle(data-toggle='dropdown')
                span.badge.badge-primary 5
                span.fa.fa-bell.va-m
              .dropdown-menu.dropdown-persist.w350.animated.animated-shorter.fadeIn(role='menu')
                .panel.mbn
                  .panel-menu
                    span.panel-icon
                      i.fa.fa-clock-o
                    span.panel-title.fw600  Recent Activity
                    button.btn.btn-xs.pull-right(type='button')
                      i.fa.fa-refresh
                  .panel-body.panel-scroller.scroller-navbar.scroller-overlay.scroller-pn.pn
                    ol.timeline-list
                      li.timeline-item
                        .timeline-icon.bg-alert
                          span.fa.fa-tags
                        .timeline-desc
                          b Michael
                          |  Added to his store:
                          a(href='#') Ipod
                        .timeline-date 1:25am
                      li.timeline-item
                        .timeline-icon.bg-alert
                          span.fa.fa-tags
                        .timeline-desc
                          b Sara
                          |  Added his store:
                          a(href='#') Notebook
                        .timeline-date 3:05am
                      li.timeline-item
                        .timeline-icon.bg-success
                          span.fa.fa-usd
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Software
                        .timeline-date 4:15am
                      li.timeline-item
                        .timeline-icon.bg-success
                          span.fa.fa-usd
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Apple
                        .timeline-date 7:45am
                      li.timeline-item
                        .timeline-icon.bg-success
                          span.fa.fa-usd
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Software
                        .timeline-date 4:15am
                      li.timeline-item
                        .timeline-icon.bg-success
                          span.fa.fa-usd
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Apple
                        .timeline-date 7:45am
                      li.timeline-item
                        .timeline-icon.bg-alert
                          span.fa.fa-tags
                        .timeline-desc
                          b Michael
                          |  Added his store:
                          a(href='#') Ipod
                        .timeline-date 8:25am
                      li.timeline-item
                        .timeline-icon.bg-system
                          span.fa.fa-fire
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Software
                        .timeline-date 4:15am
                      li.timeline-item
                        .timeline-icon.bg-alert
                          span.fa.fa-tags
                        .timeline-desc
                          b Sara
                          |  Added to his store:
                          a(href='#') Notebook
                        .timeline-date 3:05am
                  .panel-footer.text-center.p7
                    a.link-unstyled(href='#')  View All
            .topbar-icon-wrap.ml35
              button.topbar-icon.dropdown-toggle(data-toggle='dropdown')
                span.badge.badge-mandy 5
                span.fa.fa-comments.va-m
              .dropdown-menu.dropdown-menu-offset.dropdown-persist.w350.animated.animated-shorter.fadeIn(role='menu')
                .panel.mbn
                  .panel-menu
                    span.panel-title.fw600 Messages
                  .panel-body.panel-scroller.scroller-navbar.scroller-overlay.scroller-pn.pn
                    .br-n.p10
                      .chat-widget
                        .media
                          .media-left
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/3.jpg')
                          .media-body
                            span.media-status.online
                            h5.media-heading
                              | Courtney Faught
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                        .media
                          .media-body
                            span.media-status.offline
                            h5.media-heading
                              | Joe Gibbons
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque.
                          .media-right
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/1.jpg')
                        .media
                          .media-left
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/2.jpg')
                          .media-body
                            span.media-status.online
                            h5.media-heading
                              | Courtney Faught
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metuscommodo.
                        .media
                          .media-body
                            span.media-status.offline
                            h5.media-heading
                              | Joe Gibbons
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in Nulla vel metus scelerisque antecommodo.
                          .media-right
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/1.jpg')
                        .media
                          .media-left
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/2.jpg')
                          .media-body
                            span.media-status.online
                            h5.media-heading
                              | Courtney Faught
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque soltudino.
                        .media
                          .media-body
                            span.media-status.offline
                            h5.media-heading
                              | Joe Gibbons
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
                          .media-right
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/1.jpg')
                  .panel-footer.text-center.p7
                    a.link-unstyled(href='#')  View All
        // Start: Topbar-Dropdown
        #topbar-dropmenu.alt
          .topbar-menu.row
            .col-xs-4.col-sm-2
              a.metro-tile.bg-primary.light(href='#')
                span.glyphicon.glyphicon-inbox.text-white
                span.metro-title Messages
            .col-xs-4.col-sm-2
              a.metro-tile.bg-info.light(href='#')
                span.glyphicon.glyphicon-user.text-white
                span.metro-title Users
            .col-xs-4.col-sm-2
              a.metro-tile.bg-success.light(href='#')
                span.glyphicon.glyphicon-headphones.text-white
                span.metro-title Support
            .col-xs-4.col-sm-2
              a.metro-tile.bg-system.light(href='#')
                span.glyphicon.glyphicon-facetime-video.text-white
                span.metro-title Videos
            .col-xs-4.col-sm-2
              a.metro-tile.bg-warning.light(href='#')
                span.fa.fa-gears.text-white
                span.metro-title Settings
            .col-xs-4.col-sm-2
              a.metro-tile.bg-alert.light(href='#')
                span.glyphicon.glyphicon-picture.text-white
                span.metro-title Pictures
        // Begin: Content
        #content.animated.fadeIn
          .row
            .col-md-6
              .panel
                .panel-heading.br-b
                  span.panel-icon
                    i.fa.fa-pencil
                    = ' '
                  span.panel-title Headings
                .panel-body
                  .bs-component
                    h1.mtn
                      | Heading 1
                      = ' '
                      small Secondary text
                  p
                    | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                  .bs-component
                    h2
                      | Heading 2
                      = ' '
                      small Secondary text
                  p
                    | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
                  .bs-component
                    h3
                      | Heading 3
                      = ' '
                      small Secondary text
                  p
                    | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
                  .bs-component
                    h4
                      | Heading 4
                      = ' '
                      small Secondary text
                  p
                    | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
                  .bs-component
                    h5
                      | Heading 5
                      = ' '
                      small Secondary text
                  p
                    | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
                  .bs-component
                    h6
                      | Heading 6
                      = ' '
                      small Secondary text
                  p
                    | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
              .panel
                .panel-heading.br-b
                  span.panel-icon
                    i.glyphicon.glyphicon-list-alt
                    = ' '
                  span.panel-title DropCaps
                .panel-body
                  .row
                    .col-sm-6
                      .bs-component
                        p.dropcap.dropcap-default
                          | Testibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                      .bs-component
                        p.dropcap.dropcap-primary
                          | Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                      .bs-component
                        p.dropcap.dropcap-success
                          | Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                      .bs-component
                        p.dropcap.dropcap-info
                          | Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                      .bs-component
                        p.dropcap.dropcap-warning
                          | Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                      .bs-component
                        p.dropcap.dropcap-danger
                          | Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                      .bs-component
                        p.dropcap.dropcap-alert
                          | Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                      .bs-component
                        p.dropcap.dropcap-system
                          | Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                      .bs-component
                        p.dropcap.dropcap-muted
                          | Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                    .col-sm-6
                      .bs-component
                        p.dropcap.dropcap-default.dropcap-fill
                          | Testibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                      .bs-component
                        p.dropcap.dropcap-primary.dropcap-fill
                          | Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                      .bs-component
                        p.dropcap.dropcap-success.dropcap-fill
                          | Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                      .bs-component
                        p.dropcap.dropcap-info.dropcap-fill
                          | Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                      .bs-component
                        p.dropcap.dropcap-warning.dropcap-fill
                          | Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                      .bs-component
                        p.dropcap.dropcap-danger.dropcap-fill
                          | Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                      .bs-component
                        p.dropcap.dropcap-alert.dropcap-fill
                          | Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                      .bs-component
                        p.dropcap.dropcap-system.dropcap-fill
                          | Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
                      .bs-component
                        p.dropcap.dropcap-muted.dropcap-fill
                          | Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
              .panel
                .panel-heading
                  span.panel-icon
                    i.glyphicon.glyphicon-map-marker
                    = ' '
                  span.panel-title Address Formatting
                .panel-body
                  .bs-component
                    .well
                      address
                        strong Twitter, Inc.
                        br
                        | 795 Folsom Ave, Suite 600
                        br
                        | San Francisco, CA 94107
                        br
                        abbr(title='Phone') P:
                        | (123) 456-7890
                      address
                        strong Full Name
                        br
                        a(href='mailto:#') first.last@example.com
              .panel
                .panel-heading
                  span.panel-icon
                    i.glyphicon.glyphicon-unchecked
                    = ' '
                  span.panel-title Text Wells
                .panel-body.text-center
                  .bs-component
                    .well.well-sm
                      | Look, I'm in a
                      = ' '
                      b Small
                      |  well!
                      code <well-sm>
                  .bs-component
                    .well
                      | Look, I'm in a
                      = ' '
                      b Regular
                      |  well!
                      code <well>
                  .bs-component
                    .well.well-lg
                      | Look, I'm in a
                      = ' '
                      b Large
                      |  well!
                      code <well-lg>
              .panel
                .panel-heading.br-b
                  span.panel-icon
                    i.glyphicon.glyphicon-qrcode
                    = ' '
                  span.panel-title HTML Code
                .panel-body.p5
                  pre.highlight.br.bw2.br-grey.br-dashed.br0.p10.mn
                    code
                      | &lt;div class=&quot;container&quot;&gt;
                      | &nbsp; &lt;div class=&quot;row&quot;&gt;
                      | &nbsp; &nbsp; &lt;div class=&quot;col-md-4 col-lg-6&quot;&gt;
                      | &nbsp; &nbsp; &nbsp; Your Column1 Content
                      | &nbsp; &nbsp; &lt;/div&gt;
                      | &nbsp; &nbsp; &lt;div class=&quot;col-md-4 col-lg-6&quot;&gt;
                      | &nbsp; &nbsp; &nbsp; Your Column1 Content
                      | &nbsp; &nbsp; &lt;/div&gt;
                      | &nbsp; &lt;/div&gt;
                      | &lt;/div&gt;
              .row
                .col-sm-6
                  .panel
                    .panel-heading.br-b
                      span.panel-icon
                        i.glyphicon.glyphicon-list-alt
                        = ' '
                      span.panel-title Icon List
                    .panel-body
                      .bs-component
                        ul.fa-ul
                          li
                            i.fa-li.fa.fa-check-square
                            |  Lorem ipsum dolor sit amet
                          li
                            i.fa-li.fa.fa-check-square
                            |  Consectetur adipiscing elit
                          li
                            i.fa-li.fa.fa-check-square
                            |  Integer molestie lorem atm
                          li
                            i.fa-li.fa.fa-check-square
                            |  Facilisis in pretium nisl aliquet
                          li
                            i.fa-li.fa.fa-check-square
                            |  Nulla volutpat aliquam velit
                            ul.fa-ul
                              li
                                i.fa-li.fa.fa-check-square
                                |  Phasellus iaculis neque
                              li
                                i.fa-li.fa.fa-check-square
                                |  Purus sodales ultricies
                              li
                                i.fa-li.fa.fa-check-square
                                |  Vestibulum laoreet po
                              li
                                i.fa-li.fa.fa-check-square
                                |  Ac tristique libero v
                          li
                            i.fa-li.fa.fa-check-square
                            |  Faucibus porta lacus fringi
                          li
                            i.fa-li.fa.fa-check-square
                            |  Aenean sit amet erat nunc
                          li
                            i.fa-li.fa.fa-check-square
                            |  Eget porttitor lorem
                .col-sm-6
                  .panel
                    .panel-heading.br-b
                      span.panel-icon
                        i.glyphicon.glyphicon-list-alt
                        = ' '
                      span.panel-title Unstyled List
                    .panel-body
                      .bs-component
                        ul.list-unstyled
                          li Lorem ipsum dolor sit amet
                          li Consectetur adipiscing elit
                          li Integer molestie lorem at massa
                          li Facilisis in pretium nisl aliquet
                          li
                            | Nulla volutpat aliquam velit
                            ul
                              li Phasellus iaculis neque
                              li Purus sodales ultricies
                              li Vestibulum laoreet portt
                              li Ac tristique libero volu
                          li Faucibus porta lacus fringilla
                          li Aenean sit amet erat nunc
                          li Eget porttitor lorem
                .col-sm-6.clear
                  .panel
                    .panel-heading.br-b
                      span.panel-icon
                        i.glyphicon.glyphicon-list-alt
                        = ' '
                      span.panel-title Regular List
                    .panel-body
                      .bs-component
                        ul.pl15
                          li Lorem ipsum dolor sit amet
                          li Consectetur adipiscing elit
                          li Integer molestie lorem at massa
                          li Facilisis in pretium nisl aliquet
                          li
                            | Nulla volutpat aliquam velit
                            ul
                              li Phasellus iaculis neque
                              li Purus sodales ultricies
                              li Vestibulum laoreet porttito
                              li Ac tristique libero volutt
                          li Faucibus porta lacus fringilla
                          li Aenean sit amet erat nunc
                          li Faucibus porta lacus tasingi
                .col-sm-6
                  .panel
                    .panel-heading.br-b
                      span.panel-icon
                        i.glyphicon.glyphicon-list-alt
                        = ' '
                      span.panel-title Numbered List
                    .panel-body
                      .bs-component
                        ol.pl15
                          li Lorem ipsum dolor sit amet
                          li Consectetur adipiscing elit
                          li Integer molestie lorem atsa
                          li Facilisis in pretium nisl alt
                          li
                            | Nulla volutpat aliquam velit
                            ol
                              li Lorem ipsum dolor si
                              li Consectetur adipiscit
                              li Faucibus porta lacusg
                              li Aenean sit amet erat nu
                          li Faucibus porta lacus fring
                          li Aenean sit amet erat nunc
                          li Eget porttitor lorem
            .col-md-6
              .panel
                .panel-heading.br-b
                  span.panel-icon
                    i.glyphicon.glyphicon-fire
                    = ' '
                  span.panel-title Text Emphasis
                .panel-body
                  h4.fw700.text-muted Muted
                  p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                  h4.fw700.mt30.text-primary Primary
                  p.mt5 There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
                  h4.fw700.mt30.text-success Success
                  p.mt5 There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
                  h4.fw700.mt30.text-info Info
                  p.mt5 There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
                  h4.fw700.mt30.text-warning Warning
                  p.mt5 There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
                  h4.fw700.mt30.text-danger Danger
                  p.mt5 There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
                  h4.fw700.mt30.text-alert Alert
                  p.mt5 There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
                  h4.fw700.mt30.text-system System
                  p.mt5 There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
              .panel
                .panel-heading.br-b
                  span.panel-title
                    span.glyphicon.glyphicon-ok-circle
                    | Badges and Labels
                .panel-body
                  p
                    .bs-component
                      span.label.label-primary Default
                      = ' '
                      span.label.label-danger Alert
                      = ' '
                      span.label.label-mountbattenPink Primary
                      = ' '
                      span.label.label-rockBlue System
                      = ' '
                      span.label.label-warning.bg-warning-mod Warning
                      = ' '
                      span.label.label-alert Info
                      = ' '
                      span.label.label-success Success
                      = ' '
                      span.label.label-danger Danger
                  p.mt20
                    .bs-component
                      span.label.label-rounded.label-primary Default
                      = ' '
                      span.label.label-rounded.label-danger Alert
                      = ' '
                      span.label.label-rounded.label-mountbattenPink Primary
                      = ' '
                      span.label.label-rounded.label-rockBlue System
                      = ' '
                      span.label.label-rounded.label-warning.bg-warning-mod Warning
                      = ' '
                      span.label.label-rounded.label-alert Info
                      = ' '
                      span.label.label-rounded.label-success Success
                      = ' '
                      span.label.label-rounded.label-danger Danger
                  p.mt30
                    .bs-component
                      span.label.label-rounded-1.label-default 12
                      = ' '
                      span.label.label-rounded-1.label-primary 41
                      = ' '
                      span.label.label-rounded-1.label-success 25
                      = ' '
                      span.label.label-rounded-1.label-info 51
                      = ' '
                      span.label.label-rounded-1.label-warning 94
                      = ' '
                      span.label.label-rounded-1.label-danger 32
                      = ' '
                      span.label.label-rounded-1.label-alert 26
                      = ' '
                      span.label.label-rounded-1.label-system 17
                      = ' '
                      span.label.label-rounded-1.label-dark 52
              .panel
                .panel-heading.br-b
                  span.panel-icon
                    i.glyphicon.glyphicon-bookmark
                    = ' '
                  span.panel-title Text Quotes
                .panel-body
                  .bs-component
                    blockquote.blockquote-primary.bg-gradient-1.text-white.inset-8
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua.
                      small.mt20 Someone famous
                  .bs-component
                    blockquote.blockquote-success.bg-gradient-1.text-white.inset-8
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua.
                      small.mt20 Someone famous
                  .bs-component
                    blockquote.blockquote-success.bg-gradient-1.text-white.inset-8
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua.
                      small.mt20 Someone famous
                  .bs-component
                    blockquote.blockquote-info.bg-gradient-1.text-white.inset-8
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua.
                      small.mt20 Someone famous
                  .bs-component
                    blockquote.blockquote-warning.bg-gradient-1.text-white.inset-8
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua.
                      small.mt20 Someone famous
                  .bs-component
                    blockquote.blockquote-danger.bg-gradient-1.text-white.inset-8
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua.
                      small.mt20 Someone famous
                  .bs-component
                    blockquote.blockquote-alert.bg-gradient-1.text-white.inset-8
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua.
                      small.mt20 Someone famous
                  .bs-component
                    blockquote.blockquote-system.bg-gradient-1.text-white.inset-8
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua.
                      small.mt20 Someone famous
                  .bs-component
                    blockquote.blockquote-rockBlue.bg-gradient-1.text-white.inset-8
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua.
                      small.mt20 Someone famous
                  hr
                  h3.fw300 Blockquote Options
                  .bs-component
                    blockquote.blockquote-primary.blockquote-thin.mv20.bg-gradient-1.text-white.inset-8
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua.
                      small.mt20 Someone famous
                  .bs-component
                    blockquote.blockquote-success.blockquote-rounded.mv20.bg-gradient-1.text-white.inset-8
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua.
                      small.mt20 Someone famous
                  p.text-right
                  .bs-component
                    blockquote.blockquote-info.blockquote-reverse.mv10.bg-gradient-1.text-white.inset-9.inset-10
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua.
                      small.mt20 Someone famous
                  p.text-right
                  .bs-component
                    blockquote.blockquote-warning.blockquote-reverse.blockquote-rounded.mv10.bg-gradient-1.text-white.inset-9.inset-10
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua.
                      small.mt20 Someone famous
              .panel
                .panel-heading.br-b
                  span.panel-icon
                    i.fa.fa-file-photo-o
                    = ' '
                  span.panel-title Media Objects
                .panel-body
                  .bs-component
                    .media
                      a.media-left(href='#')
                        img(src='assets/img/plugins/60x60.jpg', alt='holder-img')
                      .media-body.inset-8
                        h3.fw300.media-heading Media heading
                        |  There are many variations of passages of Lorem Ipsum available, but the majority have suffered.
                        .media.mt20
                          a.media-left(href='#')
                            img(src='assets/img/plugins/60x60.jpg', alt='holder-img')
                          .media-body
                            h3.fw300.media-heading Media heading
                            |  There are many variations of passages of Lorem Ipsum available, but the majority have suffered.
                  hr.short.br-lighter
                  .bs-component
                    .media
                      .media-body.inset-8
                        h3.fw300.media-heading Media Right
                        |  There are many variations of passages of Lorem Ipsum available, but the majority have suffered.
                      a.media-right(href='#')
                        img(src='assets/img/plugins/60x60.jpg', alt='holder-img')
                  hr.short.br-lighter
                  .bs-component.mb15
                    .media
                      a.media-left(href='#')
                        img(src='assets/img/plugins/50x50.jpg', alt='holder-img')
                      .media-body
                        h3.fw300.media-heading Article - 08/12/16
                        |  Last Updated 36 days ago by
                        a(href='#')  Max
                  .bs-component.mb15
                    .media
                      a.media-left(href='#')
                        img(src='assets/img/plugins/50x50.jpg', alt='holder-img')
                      .media-body
                        h3.fw300.media-heading Richard @clouddesigns
                          small.pull-right.text-muted 6h
                        |  Last Updated 36 days ago by
                        a(href='#')  Max
                  .bs-component.mb15
                    .media
                      a.media-left(href='#')
                        img(src='assets/img/plugins/50x50.jpg', alt='holder-img')
                      .media-body
                        h3.fw300.media-heading Richard @clouddesigns
                          span.fa.fa-caret-down.text-primary.pl5
                        |  Last Updated 36 days ago by
                        a(href='#')  Max
                  .bs-component.mb15
                    .media
                      a.media-left(href='#')
                        img(src='assets/img/plugins/50x50.jpg', alt='holder-img')
                      .media-body
                        h3.fw300.media-heading 1,610 kcal
                          span.label.label-xs.label-system.ml5 Featured
                        |  Last Updated 36 days ago by
                        a(href='#')  Max
                  .bs-component
                    .media
                      a.media-left(href='#')
                        img(src='assets/img/plugins/50x50.jpg', alt='holder-img')
                      .media-body
                        h3.fw300.media-heading 1,610 kcal
                        |  Last Updated 36 days ago by
                        a(href='#')  Max
                      a.media-right.pl30(href='#')
                        span.fa.fa-pencil.text-muted.mb5
                        br
                        span.fa.fa-remove.text-danger-light
              .panel
                .panel-heading.br-b
                  span.panel-icon
                    i.glyphicon.glyphicon-list-alt
                    = ' '
                  span.panel-title Vertical List
                .panel-body
                  p
                    | Take advantage of horizontal lists by formatting your html in a
                    code &lt;dl&gt;
                  .bs-component
                    dl
                      dt Description lists
                      dd A description list is perfect for defining terms.
                      dt Euismod
                      dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
              .panel
                .panel-heading.br-b
                  span.panel-icon
                    i.glyphicon.glyphicon-list-alt
                    = ' '
                  span.panel-title Horizontal List
                .panel-body
                  p
                    | Take advantage of horizontal lists by adding this class to your dl
                    code &lt;dl-horizontal&gt;
                  .bs-component
                    dl.dl-horizontal
                      dt Description lists
                      dd A description list is perfect for defining terms.
                      dt Euismod
                      dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                      dd Donec id elit non mi porta gravida at eget metus.
                      dt Malesuada porta
                      dd Etiam porta sem malesuada magna mollis euismod.
      // Start: Right Sidebar
      aside#sidebar_right.nano.affix
        // Start: Sidebar Right Content
        .sidebar-right-content.nano-content
          .tab-block.sidebar-block.br-n
            ul.nav.nav-tabs.tabs-border.nav-justified.hidden
              li.active
                a(href='#sidebar-right-tab1', data-toggle='tab') Tab 1
              li
                a(href='#sidebar-right-tab2', data-toggle='tab') Tab 2
              li
                a(href='#sidebar-right-tab3', data-toggle='tab') Tab 3
            .tab-content.br-n
              #sidebar-right-tab1.tab-pane.active
                h5.title-divider.text-muted.mb20
                  | Server Statistics
                  span.pull-right
                    | 2013
                    i.fa.fa-caret-down.ml5
                .progress.mh5
                  .progress-bar.progress-bar-primary(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 44%')
                    span.fs11 DB Request
                .progress.mh5
                  .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 84%')
                    span.fs11.text-left Server Load
                .progress.mh5
                  .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 61%')
                    span.fs11.text-left Server Connections
                h5.title-divider.text-muted.mt30.mb10 Traffic Margins
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 132
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  13.2%
                h5.title-divider.text-muted.mt25.mb10 Database Request
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 212
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  25.6%
                h5.title-divider.text-muted.mt25.mb10 Server Response
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 82.5
                  .col-xs-7.text-right
                    h3.text-danger.mn
                      i.fa.fa-caret-down
                      |  17.9%
                h5.title-divider.text-muted.mt40.mb20
                  | Server Statistics
                  span.pull-right.text-primary.fw600 USA
              #sidebar-right-tab2.tab-pane
              #sidebar-right-tab3.tab-pane
    // core scripts
    script(src='plugins/core.min.js')
    // Theme Javascript
    script(src='assets/js/utility/utility.js')
    script(src='assets/js/demo/demo.js')
    script(src='assets/js/main.js')
    script(type='text/javascript').
      jQuery(document).ready(function () {
        "use strict";
        // Init Theme Core
        Core.init();
        // Init Demo JS
        Demo.init();
        // Init Highlight.js Plugin
        $('pre.highlight').each(function (i, block) {
          hljs.highlightBlock(block);
        });
      });
    |   '