extends  _skeleton

block body
  body.widgets-scroller-page(data-spy='scroll', data-target='#nav-spy', data-offset='300')
    // Start: Theme Preview Pane
    #skin-toolbox
      .panel
        .panel-heading
          span.panel-icon
            i.fa.fa-gear.text-primary
          span.panel-title  Theme Options
        .panel-body.pn
          ul.nav.nav-list.nav-list-sm.pl15.pt10(role='tablist')

            li.active
              a(href='#toolbox-sidebar', role='tab', data-toggle='tab') Sidebar
            li
              a(href='#toolbox-settings', role='tab', data-toggle='tab') Misc
          .tab-content.p20.ptn.pb15

            #toolbox-sidebar.tab-pane.active(role='tabpanel')
              form#toolbox-sidebar-skin
                h4.mv20 Sidebar Skins
                .skin-toolbox-swatches
                  .checkbox-custom.fill.mb5
                    input#sidebarSkin3(type='radio', name='sidebarSkin', checked='', value='')
                    label(for='sidebarSkin3') Dark
                  .checkbox-custom.fill.checkbox-disabled.mb5
                    input#sidebarSkin1(type='radio', name='sidebarSkin', value='sidebar-light')
                    label(for='sidebarSkin1') Light
                  .checkbox-custom.fill.checkbox-light.mb5
                    input#sidebarSkin2(type='radio', name='sidebarSkin', value='sidebar-light light')
                    label(for='sidebarSkin2') Lighter
            #toolbox-settings.tab-pane(role='tabpanel')
              form#toolbox-settings-misc
                h4.mv20.mtn Layout Options

                .form-group
                  .checkbox-custom.fill.mb5
                    input#sidebar-option(type='checkbox', checked='')
                    label(for='sidebar-option') Fixed Sidebar

                h4.mv20 Layout Options
                .form-group
                  .radio-custom.mb5
                    input#fullwidth-option(type='radio', checked='', name='layout-option')
                    label(for='fullwidth-option') Fullwidth Layout
                .form-group.mb20.pointer-events-none
                  .radio-custom.radio-disabled.mb5
                    input#boxed-option(type='radio', name='layout-option', disabled='')
                    label(for='boxed-option')
                      | Boxed Layout
                      b.text-muted (Coming Soon)
          .form-group.mn.br-t.p10
            a#clearLocalStorage.btn.btn-primary.btn-block.pb10.pt10(href='#') Clear LocalStorage
    // Start: Main
    #main
      // Start: Sidebar Left
      aside#sidebar_left.nano.nano-light.affix
        // Navbar Branding
        .navbar-branding
          a.navbar-brand(href='dashboard.html')
            span.text-white Ruby
            = ' '
            | Admin
          span#toggle_sidemenu_l.ad.ad-lines
        // Start: Sidebar Left Content
        .sidebar-left-content.nano-content
          // Start: Sidebar Header
          header.sidebar-header
            // Sidebar Widget - Author
            .sidebar-widget.author-widget
              .media
                a.media-left(href='#')
                  img.img-responsive(src='assets/img/avatars/3.jpg')
                .media-body
                  .media-links
                  .media-author Ryan Harrison
                  a.sidebar-menu-toggle(href='#') User Menu
                  a(href='pages_login(alt).html') Logout
            // Sidebar Widget - Menu (slidedown)
            .sidebar-widget.menu-widget
              .row.text-center.mbn
                .col-xs-4
                  a.text-primary(href='dashboard.html', data-toggle='tooltip', data-placement='top', title='Dashboard')
                    span.glyphicon.glyphicon-home
                .col-xs-4
                  a.text-info(href='pages_messages.html', data-toggle='tooltip', data-placement='top', title='Messages')
                    span.glyphicon.glyphicon-inbox
                .col-xs-4
                  a.text-alert(href='pages_profile.html', data-toggle='tooltip', data-placement='top', title='Tasks')
                    span.fa.fa-asterisk
              .row.text-center.mbn
                .col-xs-4
                  a.text-system(href='pages_timeline.html', data-toggle='tooltip', data-placement='top', title='Activity')
                    span.fa.fa-desktop
                .col-xs-4
                  a.text-danger(href='pages_profile.html', data-toggle='tooltip', data-placement='top', title='Settings')
                    span.fa.fa-gears
                .col-xs-4
                  a.text-warning(href='pages_gallery.html', data-toggle='tooltip', data-placement='top', title='Cron Jobs')
                    span.fa.fa-flask
            // Sidebar Widget - Search (hidden)
            .sidebar-widget.search-widget.hidden
              .input-group
                span.input-group-addon
                  i.fa.fa-search
                input#sidebar-search.form-control(type='text', placeholder='Search...')
          // Start: Sidebar Left Menu
          ul.nav.sidebar-menu
            li.sidebar-label.pt30 Menu
            li
              a(href='pages_calendar.html')
                span.fa.fa-calendar
                span.sidebar-title Calendar
                span.sidebar-title-tray
                  span.label.label-xs.bg-primary New
            li
              a(href='documentation/')
                span.glyphicon.glyphicon-book
                span.sidebar-title Documentation
            li.active
              a(href='dashboard.html')
                span.glyphicon.glyphicon-home
                span.sidebar-title Dashboard
            li.sidebar-label.pt15 Theme Tools
            li
              a.accordion-toggle(href='#')
                span.fa.fa-columns
                span.sidebar-title Admin Layouts
                span.caret
              ul.nav.sub-nav
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa.fa-arrows-h
                    |                   Sidebars
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_sidebar-left-static.html')
                        | Left Static
                    li
                      a(href='layout_sidebar-left-fixed.html')
                        | Left Fixed
                    li
                      a(href='layout_sidebar-left-widgets.html')
                        | Left Widgets
                    li
                      a(href='layout_sidebar-left-minified.html')
                        | Left Minified
                    li
                      a(href='layout_sidebar-left-light.html')
                        | Left White
                    li
                      a(href='layout_sidebar-right-static.html')
                        | Right Static
                    li
                      a(href='layout_sidebar-right-fixed.html')
                        | Right Fixed
                    li
                      a(href='layout_sidebar-right-menu.html')
                        | Right w/Menu

                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-hand-o-up
                    |                   Topbar
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_topbar.html')
                        | Default Style
                    li
                      a(href='layout_topbar-menu.html')
                        | Default w/Menu
                    li
                      a(href='layout_topbar-alt.html')
                        | Alternate Style
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-arrows-v
                    |                   Content Body
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_content-blank.html')
                        | Blank Starter
                    li
                      a(href='layout_content-fixed.html')
                        | Fixed Window
                    li
                      a(href='layout_content-heading.html')
                        | Content Heading
                    li
                      a(href='layout_content-tabs.html')
                        | Content Tabs
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-pause
                    |                   Content Trays
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_tray-left.html')
                        | Tray Left Static
                    li
                      a(href='layout_tray-left-fixed.html')
                        | Tray Left Fixed
                    li
                      a(href='layout_tray-right.html')
                        | Tray Right Static
                    li
                      a(href='layout_tray-right-fixed.html')
                        | Tray Right Fixed
                    li
                      a(href='layout_tray-both.html')
                        | Left + Right Static
                    li
                      a(href='layout_tray-both-fixed.html')
                        | Left + Right Fixed
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-plus-square-o
                    |                   Boxed Layout
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_boxed.html')
                        | Default
                    li
                      a(href='layout_boxed-horizontal.html')
                        | Horizontal Menu
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-arrow-circle-o-up
                    |                   Horizontal Menu
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_horizontal-sm.html')
                        | Small Size
                    li
                      a(href='layout_horizontal-md.html')
                        | Medium Size
                    li
                      a(href='layout_horizontal-lg.html')
                        | Large Size
                    li
                      a(href='layout_horizontal-light.html')
                        | Light Skin
                    li
                      a(href='layout_horizontal-topbar.html')
                        | With Topbar
                    li
                      a(href='layout_horizontal-topbar-alt.html')
                        | With Alt Topbar
                    li
                      a(href='layout_horizontal-collapsed.html')
                        | Collapsed onLoad
                    li
                      a(href='layout_horizontal-boxed.html')
                        | In Boxed Layout
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-fire
                span.sidebar-title Admin Plugins
                span.caret
              ul.nav.sub-nav
                li
                  a(href='admin_plugins-panels.html')
                    span.glyphicon.glyphicon-book
                    |  Admin Panels
                li
                  a(href='admin_plugins-modals.html')
                    span.glyphicon.glyphicon-modal-window
                    |  Admin Modals
                li
                  a(href='admin_plugins-dock.html')
                    span.glyphicon.glyphicon-equalizer
                    |  Admin Dock
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-check
                span.sidebar-title Admin Forms
                span.caret
              ul.nav.sub-nav
                li
                  a(href='admin_forms-elements.html')
                    span.glyphicon.glyphicon-edit
                    |  Admin Elements
                li
                  a(href='admin_forms-widgets.html')
                    span.glyphicon.glyphicon-calendar
                    |  Admin Widgets
                li
                  a(href='admin_forms-validation.html')
                    span.glyphicon.glyphicon-check
                    |  Admin Validation
                li
                  a(href='admin_forms-layouts.html')
                    span.fa.fa-desktop
                    |  Admin Layouts
                li
                  a(href='admin_forms-wizard.html')
                    span.fa.fa-clipboard
                    |  Admin Wizard
            li.sidebar-label.pt20 Systems
            li
              a.accordion-toggle.menu-open(href='#')
                span.fa.fa-diamond
                span.sidebar-title Widget Packages
                span.caret
              ul.nav.sub-nav
                li
                  a(href='widgets_tile.html')
                    span.fa.fa-cube
                    |  Tile Widgets
                li
                  a(href='widgets_panel.html')
                    span.fa.fa-desktop
                    |  Panel Widgets
                li.active
                  a(href='widgets_scroller.html')
                    span.fa.fa-columns
                    |  Scroller Widgets
                li
                  a(href='widgets_data.html')
                    span.fa.fa-dot-circle-o
                    |  Admin Widgets
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-shopping-cart
                span.sidebar-title Ecommerce
                span.caret
              ul.nav.sub-nav
                li
                  a(href='ecommerce_dashboard.html')
                    span.glyphicon.glyphicon-shopping-cart
                    |  Dashboard
                    span.label.label-xs.bg-primary New
                li
                  a(href='ecommerce_products.html')
                    span.glyphicon.glyphicon-tags
                    |  Products
                li
                  a(href='ecommerce_orders.html')
                    span.fa.fa-money
                    |  Orders
                li
                  a(href='ecommerce_customers.html')
                    span.fa.fa-users
                    |  Customers
                li
                  a(href='ecommerce_settings.html')
                    span.fa.fa-gears
                    |  Store Settings

            // sidebar resources
            li.sidebar-label.pt20 Elements
            li
              a.accordion-toggle(href='#')
                span.fa.fa-asterisk
                span.sidebar-title UI Elements
                span.caret
              ul.nav.sub-nav
                li
                  a(href='ui_alerts.html')
                    span.fa.fa-warning
                    |  Alerts
                li
                  a(href='ui_animations.html')
                    span.fa.fa-spinner
                    |  Animations
                li
                  a(href='ui_buttons.html')
                    span.fa.fa-plus-square-o
                    |  Buttons
                li
                  a(href='ui_typography.html')
                    span.fa.fa-text-width
                    |  Typography
                li
                  a(href='ui_portlets.html')
                    span.fa.fa-archive
                    |  Portlets
                li
                  a(href='ui_progress-bars.html')
                    span.fa.fa-bars
                    |  Progress Bars
                li
                  a(href='ui_tabs.html')
                    span.fa.fa-toggle-off
                    |  Tabs
                li
                  a(href='ui_icons.html')
                    span.fa.fa-hand-o-right
                    |  Icons
                li
                  a(href='ui_grid.html')
                    span.fa.fa-th-large
                    |  Grid
            li
              a.accordion-toggle(href='#')
                span.fa.fa-align-justify
                span.sidebar-title Form Elements
                span.caret
              ul.nav.sub-nav
                li
                  a(href='form_inputs.html')
                    span.fa.fa-magic
                    |  Basic Inputs
                li
                  a(href='form_plugins.html')
                    span.fa.fa-bell-o
                    |  Plugin Inputs
                    span.label.label-xs.bg-primary New
                li
                  a(href='form_editors.html')
                    span.fa.fa-clipboard
                    |  Editors
                li
                  a(href='form_treeview.html')
                    span.fa.fa-tree
                    |  Treeview
                li
                  a(href='form_nestable.html')
                    span.fa.fa-tasks
                    |  Nestable
                li
                  a(href='form_image-tools.html')
                    span.fa.fa-cloud-upload
                    |  Image Tools
                    span.label.label-xs.bg-primary New
                li
                  a(href='form_uploaders.html')
                    span.fa.fa-cloud-upload
                    |  Uploaders
                li
                  a(href='form_notifications.html')
                    span.fa.fa-bell-o
                    |  Notifications
                li
                  a(href='form_content-sliders.html')
                    span.fa.fa-exchange
                    |  Content Sliders
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-tower
                span.sidebar-title Plugins
                span.caret
              ul.nav.sub-nav
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-globe
                    |  Maps
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='maps_basic.html') Basic Maps
                    li
                      a(href='maps_vector.html') Vector Maps
                    li
                      a(href='maps_full.html') Full Map
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-line-chart
                    |  Charts
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='charts_highcharts.html') Highcharts
                    li
                      a(href='charts_d3.html') D3 Charts
                    li
                      a(href='charts_flot.html') Flot Charts
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-table
                    |  Tables
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='tables_basic.html')  Basic Tables


                    li
                      a(href='tables_footable.html')  FooTables
                    li
                      a(href='tables_pricing.html')  Pricing Tables
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-flask
                    |  Misc
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='misc_tour.html')  Site Tour
                    li
                      a(href='misc_timeout.html')  Session Timeout
                    li
                      a(href='misc_nprogress.html')  Page Progress Loader
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-duplicate
                span.sidebar-title Pages
                span.caret
              ul.nav.sub-nav
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-gears
                    |  Utility
                    span.caret
                  ul.nav.sub-nav

                    li
                      a(href='pages_confirmation.html', target='_blank')
                        | Confirmation
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_login.html', target='_blank')  Login
                    li
                      a(href='pages_login(alt).html', target='_blank')
                        | Login Alt
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_register.html', target='_blank')  Register
                    li
                      a(href='pages_register(alt).html', target='_blank')
                        | Register Alt
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_screenlock.html', target='_blank')  Screenlock
                    li
                      a(href='pages_screenlock(alt).html', target='_blank')
                        | Screenlock Alt
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_forgotpw.html', target='_blank')  Forgot Password
                    li
                      a(href='pages_forgotpw(alt).html', target='_blank')
                        | Forgot Password Alt
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_coming-soon.html', target='_blank')
                        | Coming Soon
                    li
                      a(href='pages_404.html')  404 Error
                    li
                      a(href='pages_500.html')  500 Error
                    li
                      a(href='pages_404(alt).html')  404 Error Alt
                    li
                      a(href='pages_500(alt).html')  500 Error Alt
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-desktop
                    |  Basic
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='pages_search-results.html')
                        | Search Results
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_profile.html')  Profile
                    li
                      a(href='pages_timeline.html')  Timeline Split
                    li
                      a(href='pages_timeline-single.html')  Timeline Single
                    li
                      a(href='pages_faq.html')  FAQ Page
                    li
                      a(href='pages_calendar.html')  Calendar
                    li
                      a(href='pages_messages.html')  Messages
                    li
                      a(href='pages_messages(alt).html')  Messages Alt
                    li
                      a(href='pages_gallery.html')  Gallery
                    li
                      a(href='pages_invoice.html')  Printable Invoice
            // sidebar bullets
            li.sidebar-label.pt20 Projects
            li.sidebar-proj
              a(href='#projectOne')
                span.fa.fa-bookmark.text-primary
                span.sidebar-title Executive Meeting
            li.sidebar-proj
              a(href='#projectTwo')
                span.fa.fa-bookmark.text-info
                span.sidebar-title HelpDesk Redesign
            li.sidebar-proj
              a(href='#projectTwo')
                span.fa.fa-bookmark.text-danger
                span.sidebar-title Sony Board Meeting
            li.sidebar-proj
              a(href='#projectThree')
                span.fa.fa-bookmark.text-warning
                span.sidebar-title Apple Tech Conference
             // Start: Content-Wrapper
      section#content_wrapper
        // Start: Topbar
        header#topbar.badges-mod.alt
          .topbar-left
            ol.breadcrumb
              li
                a(href="dashboard.php") Dashboard
              li
                a(href="admin_forms-elements.php") Form Elements
              li
                a(href="maps_basic.php") Plugins Pages
              li
                a(href="ui_alerts.php") UI Elements
              li
                a(href="documentation/") Documentation
          .topbar-right
            a.topbar-icon(href='#')
              span.fa.fa-search
            a.topbar-icon.topbar-menu-toggle.ml40(href='#', data-toggle='button')
              span.badge.badge-strikemaster.offset-badge 6
              span.fa.fa-magic
            .topbar-icon-wrap.ml40
              button.topbar-icon.dropdown-toggle(data-toggle='dropdown')
                span.badge.badge-primary 5
                span.fa.fa-bell.va-m
              .dropdown-menu.dropdown-persist.w350.animated.animated-shorter.fadeIn(role='menu')
                .panel.mbn
                  .panel-menu
                    span.panel-icon
                      i.fa.fa-clock-o
                    span.panel-title.fw600  Recent Activity
                    button.btn.btn-xs.pull-right(type='button')
                      i.fa.fa-refresh
                  .panel-body.panel-scroller.scroller-navbar.scroller-overlay.scroller-pn.pn
                    ol.timeline-list
                      li.timeline-item
                        .timeline-icon.bg-alert
                          span.fa.fa-tags
                        .timeline-desc
                          b Michael
                          |  Added to his store:
                          a(href='#') Ipod
                        .timeline-date 1:25am
                      li.timeline-item
                        .timeline-icon.bg-alert
                          span.fa.fa-tags
                        .timeline-desc
                          b Sara
                          |  Added his store:
                          a(href='#') Notebook
                        .timeline-date 3:05am
                      li.timeline-item
                        .timeline-icon.bg-success
                          span.fa.fa-usd
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Software
                        .timeline-date 4:15am
                      li.timeline-item
                        .timeline-icon.bg-success
                          span.fa.fa-usd
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Apple
                        .timeline-date 7:45am
                      li.timeline-item
                        .timeline-icon.bg-success
                          span.fa.fa-usd
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Software
                        .timeline-date 4:15am
                      li.timeline-item
                        .timeline-icon.bg-success
                          span.fa.fa-usd
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Apple
                        .timeline-date 7:45am
                      li.timeline-item
                        .timeline-icon.bg-alert
                          span.fa.fa-tags
                        .timeline-desc
                          b Michael
                          |  Added his store:
                          a(href='#') Ipod
                        .timeline-date 8:25am
                      li.timeline-item
                        .timeline-icon.bg-system
                          span.fa.fa-fire
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Software
                        .timeline-date 4:15am
                      li.timeline-item
                        .timeline-icon.bg-alert
                          span.fa.fa-tags
                        .timeline-desc
                          b Sara
                          |  Added to his store:
                          a(href='#') Notebook
                        .timeline-date 3:05am
                  .panel-footer.text-center.p7
                    a.link-unstyled(href='#')  View All
            .topbar-icon-wrap.ml35
              button.topbar-icon.dropdown-toggle(data-toggle='dropdown')
                span.badge.badge-mandy 5
                span.fa.fa-comments.va-m
              .dropdown-menu.dropdown-menu-offset.dropdown-persist.w350.animated.animated-shorter.fadeIn(role='menu')
                .panel.mbn
                  .panel-menu
                    span.panel-title.fw600 Messages
                  .panel-body.panel-scroller.scroller-navbar.scroller-overlay.scroller-pn.pn
                    .br-n.p10
                      .chat-widget
                        .media
                          .media-left
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/3.jpg')
                          .media-body
                            span.media-status.online
                            h5.media-heading
                              | Courtney Faught
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                        .media
                          .media-body
                            span.media-status.offline
                            h5.media-heading
                              | Joe Gibbons
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque.
                          .media-right
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/1.jpg')
                        .media
                          .media-left
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/2.jpg')
                          .media-body
                            span.media-status.online
                            h5.media-heading
                              | Courtney Faught
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metuscommodo.
                        .media
                          .media-body
                            span.media-status.offline
                            h5.media-heading
                              | Joe Gibbons
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in Nulla vel metus scelerisque antecommodo.
                          .media-right
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/1.jpg')
                        .media
                          .media-left
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/2.jpg')
                          .media-body
                            span.media-status.online
                            h5.media-heading
                              | Courtney Faught
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque soltudino.
                        .media
                          .media-body
                            span.media-status.offline
                            h5.media-heading
                              | Joe Gibbons
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
                          .media-right
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/1.jpg')
                  .panel-footer.text-center.p7
                    a.link-unstyled(href='#')  View All
        // Start: Topbar-Dropdown
        #topbar-dropmenu.alt
          .topbar-menu.row
            .col-xs-4.col-sm-2
              a.metro-tile.bg-primary.light(href='#')
                span.glyphicon.glyphicon-inbox.text-white
                span.metro-title Messages
            .col-xs-4.col-sm-2
              a.metro-tile.bg-info.light(href='#')
                span.glyphicon.glyphicon-user.text-white
                span.metro-title Users
            .col-xs-4.col-sm-2
              a.metro-tile.bg-success.light(href='#')
                span.glyphicon.glyphicon-headphones.text-white
                span.metro-title Support
            .col-xs-4.col-sm-2
              a.metro-tile.bg-system.light(href='#')
                span.glyphicon.glyphicon-facetime-video.text-white
                span.metro-title Videos
            .col-xs-4.col-sm-2
              a.metro-tile.bg-warning.light(href='#')
                span.fa.fa-gears.text-white
                span.metro-title Settings
            .col-xs-4.col-sm-2
              a.metro-tile.bg-alert.light(href='#')
                span.glyphicon.glyphicon-picture.text-white
                span.metro-title Pictures
        // Begin: Content
        section#content.table-layout.animated.fadeIn
          // begin: .tray-left
          aside.tray.tray-left.tray290(data-tray-height='match')
            #nav-spy
              ul.nav.tray-nav.tray-nav-border(data-smoothscroll='-145', data-spy='affix', data-offset-top='200')
                li.active
                  a(href='#spy1')
                    | Smallest Panel Scroller
                li
                  a(href='#spy2')
                    | Small Panel Scroller
                li
                  a(href='#spy3')
                    | Medium Panel Scroller
                li
                  a(href='#spy4')
                    | Large Panel Scroller
                li
                  a(href='#spy5')
                    | Contextual Scrollers
                li
                  a(href='#spy6')
                    | Alternate Style Scroller
                li
                  a(href='#spy7')
                    | On-Hover Panel Scroller
          // begin: .tray-center
          .tray.tray-center
            // page tabs
            .page-tabs
              ul.nav.nav-tabs
                li
                  a(href='widgets_tile.html') Tile Widgets
                li
                  a(href='widgets_panel.html') Panel Widgets
                li.active
                  a(href='widgets_scroller.html') Scroller Widgets
                li
                  a(href='widgets_data.html') Admin Widgets
            div(style='max-width: 1200px; padding-bottom: 150px;')
              h5.micro-header.mt40.text-left
                | Fixed Height Scroller -
                = ' '
                code .scroller-xs
              hr.alt.short
              #spy1.row
                .col-md-6.col-lg-4
                  // Country List
                  .panel
                    .panel-heading
                      span.panel-title Country List
                    .panel-body.panel-scroller.scroller-xs.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-last
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.mr10.mt1.fa.fa-chrome
                              | Google Chrome
                            td 54%
                          tr
                            td
                              span.mr10.mt1.fa.fa-opera
                              | Opera
                            td 18%
                          tr
                            td
                              span.mr10.mt1.fa.fa-firefox
                              | FireFox
                            td 25%
                          tr
                            td
                              span.mr10.mt1.fa.fa-safari
                              | Safari
                            td 49%
                          tr
                            td
                              span.mr10.mt1.fa.fa-internet-explorer
                              | Explorer
                            td 94%
                .col-md-6.col-lg-4
                  // Search List
                  .panel
                    .panel-heading
                      span.panel-title Crawler List
                    .panel-body.panel-scroller.scroller-xs.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-last
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.favicons.google.va-t.mr10
                              | United States
                            td 24%
                          tr
                            td
                              span.favicons.google.va-t.mr10
                              | Germany
                            td 7%
                          tr
                            td
                              span.favicons.yahoo.va-t.mr10
                              | France
                            td 14%
                          tr
                            td
                              span.favicons.google.va-t.mr10
                              | Spain
                            td 31%
                          tr
                            td
                              span.favicons.bing.va-t.mr10
                              | Turkey
                            td 22%
                          tr
                            td
                              span.favicons.google.va-t.mr10
                              | United States
                            td 24%
                          tr
                            td
                              span.favicons.google.va-t.mr10
                              | Germany
                            td 7%
                          tr
                            td
                              span.favicons.yahoo.va-t.mr10
                              | France
                            td 14%
                          tr
                            td
                              span.favicons.google.va-t.mr10
                              | Spain
                            td 31%
                          tr
                            td
                              span.favicons.bing.va-t.mr10
                              | Turkey
                            td 22%
                .col-md-6.col-lg-4
                  // Browser List
                  .panel
                    .panel-heading
                      span.panel-title Browser List
                    .panel-body.panel-scroller.scroller-xs.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-2
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.mr10.mt1.fa.fa-chrome
                              | Google Chrome
                            td 54%
                          tr
                            td
                              span.mr10.mt1.fa.fa-opera
                              | Opera
                            td 18%
                          tr
                            td
                              span.mr10.mt1.fa.fa-firefox
                              | FireFox
                            td 25%
                          tr
                            td
                              span.mr10.mt1.fa.fa-safari
                              | Safari
                            td 49%
                          tr
                            td
                              span.mr10.mt1.fa.fa-internet-explorer
                              | Explorer
                            td 94%
              h5.micro-header.mt30.text-left
                | Fixed Height Scroller -
                = ' '
                code .scroller-sm
              hr.alt.short
              #spy2.row
                .col-md-6.col-lg-4
                  // Country List
                  .panel
                    .panel-heading
                      span.panel-title Country List
                    .panel-body.panel-scroller.scroller-sm.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-last
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.mr10.mt1.fa.fa-chrome
                              | Google Chrome
                            td 54%
                          tr
                            td
                              span.mr10.mt1.fa.fa-opera
                              | Opera
                            td 18%
                          tr
                            td
                              span.mr10.mt1.fa.fa-firefox
                              | FireFox
                            td 25%
                          tr
                            td
                              span.mr10.mt1.fa.fa-safari
                              | Safari
                            td 49%
                          tr
                            td
                              span.mr10.mt1.fa.fa-internet-explorer
                              | Explorer
                            td 94%
                .col-md-6.col-lg-4
                  // Search List
                  .panel
                    .panel-heading
                      span.panel-title Crawler List
                    .panel-body.panel-scroller.scroller-sm.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-last
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.favicons.google.va-t.mr10
                              | United States
                            td 24%
                          tr
                            td
                              span.favicons.google.va-t.mr10
                              | Germany
                            td 7%
                          tr
                            td
                              span.favicons.yahoo.va-t.mr10
                              | France
                            td 14%
                          tr
                            td
                              span.favicons.google.va-t.mr10
                              | Spain
                            td 31%
                          tr
                            td
                              span.favicons.bing.va-t.mr10
                              | Turkey
                            td 22%
                          tr
                            td
                              span.favicons.google.va-t.mr10
                              | United States
                            td 24%
                          tr
                            td
                              span.favicons.google.va-t.mr10
                              | Germany
                            td 7%
                          tr
                            td
                              span.favicons.yahoo.va-t.mr10
                              | France
                            td 14%
                          tr
                            td
                              span.favicons.google.va-t.mr10
                              | Spain
                            td 31%
                          tr
                            td
                              span.favicons.bing.va-t.mr10
                              | Turkey
                            td 22%
                .col-md-6.col-lg-4
                  // Browser List
                  .panel
                    .panel-heading
                      span.panel-title Browser List
                    .panel-body.panel-scroller.scroller-sm.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-2
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.mr10.mt1.fa.fa-chrome
                              | Google Chrome
                            td 54%
                          tr
                            td
                              span.mr10.mt1.fa.fa-opera
                              | Opera
                            td 18%
                          tr
                            td
                              span.mr10.mt1.fa.fa-firefox
                              | FireFox
                            td 25%
                          tr
                            td
                              span.mr10.mt1.fa.fa-safari
                              | Safari
                            td 49%
                          tr
                            td
                              span.mr10.mt1.fa.fa-internet-explorer
                              | Explorer
                            td 94%
              h5.micro-header.mt30.text-left
                | Fixed Height Scroller -
                = ' '
                code .scroller-md
              hr.alt.short
              #spy3.row
                .col-md-6.col-lg-4
                  // Icon List
                  .panel
                    .panel-heading
                      span.panel-title Icon List
                    .panel-body.panel-scroller.scroller-md.scroller-pn.pn
                      table.table.mbn.tc-icon-1.tc-med-2.tc-bold-last
                        thead
                          tr.hidden
                            th.mw30 #
                            th First Name
                            th Revenue
                        tbody
                          tr
                            td
                              span.fa.fa-desktop.text-warning
                            td Television
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $855,913
                          tr
                            td
                              span.fa.fa-microphone.text-primary
                            td Radio
                            td
                              i.fa.fa-caret-down.text-danger.pr10
                              | $349,712
                          tr
                            td
                              span.fa.fa-newspaper-o.text-info
                            td Newspaper
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $1,259,742
                          tr
                            td
                              span.fa.fa-bank.text-alert
                            td Investments
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $3,512,672
                          tr
                            td
                              span.fa.fa-desktop.text-warning
                            td Television
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $855,913
                          tr
                            td
                              span.fa.fa-microphone.text-primary
                            td Radio
                            td
                              i.fa.fa-caret-down.text-danger.pr10
                              | $349,712
                          tr
                            td
                              span.fa.fa-newspaper-o.text-info
                            td Newspaper
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $1,259,742
                          tr
                            td
                              span.fa.fa-bank.text-alert
                            td Investments
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $3,512,672
                          tr
                            td
                              span.fa.fa-desktop.text-warning
                            td Television
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $855,913
                          tr
                            td
                              span.fa.fa-microphone.text-primary
                            td Radio
                            td
                              i.fa.fa-caret-down.text-danger.pr10
                              | $349,712
                          tr
                            td
                              span.fa.fa-newspaper-o.text-info
                            td Newspaper
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $1,259,742
                          tr
                            td
                              span.fa.fa-bank.text-alert
                            td Investments
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $3,512,672
                .col-md-6.col-lg-4
                  // Dot Stats
                  .panel
                    .panel-heading
                      span.panel-title Dot/Addon Stats
                    .panel-body.panel-scroller.scroller-md.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-last
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.fa.fa-circle.text-warning.fs14.mr10
                              | Behance
                            td 24%
                          tr
                            td
                              span.fa.fa-circle.text-info.fs14.mr10
                              | Twitter
                            td 7%
                          tr
                            td
                              span.fa.fa-circle.text-primary.fs14.mr10
                              | Facebook
                            td 14%
                          tr
                            td
                              span.fa.fa-circle.text-warning.fs14.mr10
                              | Behance
                            td 24%
                          tr
                            td
                              span.fa.fa-circle.text-info.fs14.mr10
                              | Twitter
                            td 7%
                          tr
                            td
                              span.fa.fa-circle.text-primary.fs14.mr10
                              | Facebook
                            td 14%
                          tr
                            td
                              span.fa.fa-circle.text-warning.fs14.mr10
                              | Behance
                            td 24%
                          tr
                            td
                              span.fa.fa-circle.text-info.fs14.mr10
                              | Twitter
                            td 7%
                          tr
                            td
                              span.fa.fa-circle.text-primary.fs14.mr10
                              | Facebook
                            td 14%
                .col-md-6.col-lg-4
                  // Text List
                  .panel
                    .panel-heading
                      span.panel-title Text List
                    .panel-body.panel-scroller.scroller-md.scroller-pn.pn
                      table.table.mbn.tc-list-1.tc-text-muted-2.tc-fw600-2
                        thead
                          tr.hidden
                            th.w30 #
                            th First Name
                        tbody
                          tr
                            td 1.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 2.
                            td Lorem ipsc beyond raytas
                          tr
                            td 3.
                            td Amet, consectetur adipiscing
                          tr
                            td 4.
                            td Lorem consectetur adipiscing
                          tr
                            td 5.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 6.
                            td Lorem ipsc beyond raytas
                          tr
                            td 7.
                            td Amet, consectetur adipiscing
                          tr
                            td 8.
                            td Lorem consectetur adipiscing
                          tr
                            td 9.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 10.
                            td Lorem ipsc beyond raytas
                          tr
                            td 11.
                            td Amet, consectetur adipiscing
                          tr
                            td 12.
                            td Lorem consectetur adipiscing
                          tr
                            td 13.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 14.
                            td Lorem ipsc beyond raytas
                          tr
                            td 15.
                            td Amet, consectetur adipiscing
                          tr
                            td 16.
                            td Lorem consectetur adipiscing
              h5.micro-header.mt30.text-left
                | Fixed Height Scroller -
                = ' '
                code .scroller-lg
              hr.alt.short
              #spy4.row
                .col-md-6.col-lg-4
                  // Icon List
                  .panel
                    .panel-heading
                      span.panel-title Icon List
                    .panel-body.panel-scroller.scroller-lg.scroller-pn.pn
                      table.table.mbn.tc-icon-1.tc-med-2.tc-bold-last
                        thead
                          tr.hidden
                            th.mw30 #
                            th First Name
                            th Revenue
                        tbody
                          tr
                            td
                              span.fa.fa-desktop.text-warning
                            td Television
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $855,913
                          tr
                            td
                              span.fa.fa-microphone.text-primary
                            td Radio
                            td
                              i.fa.fa-caret-down.text-danger.pr10
                              | $349,712
                          tr
                            td
                              span.fa.fa-newspaper-o.text-info
                            td Newspaper
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $1,259,742
                          tr
                            td
                              span.fa.fa-bank.text-alert
                            td Investments
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $3,512,672
                          tr
                            td
                              span.fa.fa-desktop.text-warning
                            td Television
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $855,913
                          tr
                            td
                              span.fa.fa-microphone.text-primary
                            td Radio
                            td
                              i.fa.fa-caret-down.text-danger.pr10
                              | $349,712
                          tr
                            td
                              span.fa.fa-newspaper-o.text-info
                            td Newspaper
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $1,259,742
                          tr
                            td
                              span.fa.fa-bank.text-alert
                            td Investments
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $3,512,672
                          tr
                            td
                              span.fa.fa-desktop.text-warning
                            td Television
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $855,913
                          tr
                            td
                              span.fa.fa-microphone.text-primary
                            td Radio
                            td
                              i.fa.fa-caret-down.text-danger.pr10
                              | $349,712
                          tr
                            td
                              span.fa.fa-newspaper-o.text-info
                            td Newspaper
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $1,259,742
                          tr
                            td
                              span.fa.fa-bank.text-alert
                            td Investments
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $3,512,672
                .col-md-6.col-lg-4
                  // Dot Stats
                  .panel
                    .panel-heading
                      span.panel-title Dot/Addon Stats
                    .panel-body.panel-scroller.scroller-lg.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-last
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.fa.fa-circle.text-warning.fs14.mr10
                              | Behance
                            td 24%
                          tr
                            td
                              span.fa.fa-circle.text-info.fs14.mr10
                              | Twitter
                            td 7%
                          tr
                            td
                              span.fa.fa-circle.text-primary.fs14.mr10
                              | Facebook
                            td 14%
                          tr
                            td
                              span.fa.fa-circle.text-warning.fs14.mr10
                              | Behance
                            td 24%
                          tr
                            td
                              span.fa.fa-circle.text-info.fs14.mr10
                              | Twitter
                            td 7%
                          tr
                            td
                              span.fa.fa-circle.text-primary.fs14.mr10
                              | Facebook
                            td 14%
                          tr
                            td
                              span.fa.fa-circle.text-warning.fs14.mr10
                              | Behance
                            td 24%
                          tr
                            td
                              span.fa.fa-circle.text-info.fs14.mr10
                              | Twitter
                            td 7%
                          tr
                            td
                              span.fa.fa-circle.text-primary.fs14.mr10
                              | Facebook
                            td 14%
                          tr
                            td
                              span.fa.fa-circle.text-info.fs14.mr10
                              | Twitter
                            td 7%
                          tr
                            td
                              span.fa.fa-circle.text-primary.fs14.mr10
                              | Facebook
                            td 14%
                          tr
                            td
                              span.fa.fa-circle.text-warning.fs14.mr10
                              | Behance
                            td 24%
                          tr
                            td
                              span.fa.fa-circle.text-info.fs14.mr10
                              | Twitter
                            td 7%
                          tr
                            td
                              span.fa.fa-circle.text-primary.fs14.mr10
                              | Facebook
                            td 14%
                          tr
                            td
                              span.fa.fa-circle.text-warning.fs14.mr10
                              | Behance
                            td 24%
                          tr
                            td
                              span.fa.fa-circle.text-info.fs14.mr10
                              | Twitter
                            td 7%
                          tr
                            td
                              span.fa.fa-circle.text-primary.fs14.mr10
                              | Facebook
                            td 14%
                .col-md-6.col-lg-4
                  // Text List
                  .panel
                    .panel-heading
                      span.panel-title Text List
                    .panel-body.panel-scroller.scroller-lg.scroller-pn.pn
                      table.table.mbn.tc-list-1.tc-text-muted-2.tc-fw600-2
                        thead
                          tr.hidden
                            th.w30 #
                            th First Name
                        tbody
                          tr
                            td 1.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 2.
                            td Lorem ipsc beyond raytas
                          tr
                            td 3.
                            td Amet, consectetur adipiscing
                          tr
                            td 4.
                            td Lorem consectetur adipiscing
                          tr
                            td 5.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 6.
                            td Lorem ipsc beyond raytas
                          tr
                            td 7.
                            td Amet, consectetur adipiscing
                          tr
                            td 8.
                            td Lorem consectetur adipiscing
                          tr
                            td 9.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 10.
                            td Lorem ipsc beyond raytas
                          tr
                            td 11.
                            td Amet, consectetur adipiscing
                          tr
                            td 12.
                            td Lorem consectetur adipiscing
                          tr
                            td 13.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 14.
                            td Lorem ipsc beyond raytas
                          tr
                            td 15.
                            td Amet, consectetur adipiscing
                          tr
                            td 16.
                            td Lorem consectetur adipiscing
              h5.micro-header.mt30.text-left
                | Contextual Scrollers -
                = ' '
                code .scroller-primary etc*
              hr.alt.short
              #spy5.row
                .col-md-6.col-lg-4
                  // Browser List
                  .panel
                    .panel-heading
                      span.panel-title Browser List
                    .panel-body.panel-scroller.scroller-sm.scroller-primary.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-2
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.mr10.mt1.fa.fa-chrome
                              | Google Chrome
                            td 54%
                          tr
                            td
                              span.mr10.mt1.fa.fa-opera
                              | Opera
                            td 18%
                          tr
                            td
                              span.mr10.mt1.fa.fa-firefox
                              | FireFox
                            td 25%
                          tr
                            td
                              span.mr10.mt1.fa.fa-safari
                              | Safari
                            td 49%
                          tr
                            td
                              span.mr10.mt1.fa.fa-internet-explorer
                              | Explorer
                            td 94%
                .col-md-6.col-lg-4
                  // Icon List
                  .panel
                    .panel-heading
                      span.panel-title Icon List
                    .panel-body.panel-scroller.scroller-sm.scroller-success.scroller-pn.pn
                      table.table.mbn.tc-icon-1.tc-med-2.tc-bold-last
                        thead
                          tr.hidden
                            th.mw30 #
                            th First Name
                            th Revenue
                        tbody
                          tr
                            td
                              span.fa.fa-desktop.text-warning
                            td Television
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $855,913
                          tr
                            td
                              span.fa.fa-microphone.text-primary
                            td Radio
                            td
                              i.fa.fa-caret-down.text-danger.pr10
                              | $349,712
                          tr
                            td
                              span.fa.fa-newspaper-o.text-info
                            td Newspaper
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $1,259,742
                          tr
                            td
                              span.fa.fa-bank.text-alert
                            td Investments
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $3,512,672
                          tr
                            td
                              span.fa.fa-desktop.text-warning
                            td Television
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $855,913
                          tr
                            td
                              span.fa.fa-microphone.text-primary
                            td Radio
                            td
                              i.fa.fa-caret-down.text-danger.pr10
                              | $349,712
                          tr
                            td
                              span.fa.fa-newspaper-o.text-info
                            td Newspaper
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $1,259,742
                          tr
                            td
                              span.fa.fa-bank.text-alert
                            td Investments
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $3,512,672
                          tr
                            td
                              span.fa.fa-desktop.text-warning
                            td Television
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $855,913
                          tr
                            td
                              span.fa.fa-microphone.text-primary
                            td Radio
                            td
                              i.fa.fa-caret-down.text-danger.pr10
                              | $349,712
                          tr
                            td
                              span.fa.fa-newspaper-o.text-info
                            td Newspaper
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $1,259,742
                          tr
                            td
                              span.fa.fa-bank.text-alert
                            td Investments
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $3,512,672
                .col-md-6.col-lg-4
                  // Dot Stats
                  .panel
                    .panel-heading
                      span.panel-title  Dot/Addon Stats
                    .panel-body.panel-scroller.scroller-sm.scroller-info.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-last
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.fa.fa-circle.text-warning.fs14.mr10
                              | Behance
                            td 24%
                          tr
                            td
                              span.fa.fa-circle.text-info.fs14.mr10
                              | Twitter
                            td 7%
                          tr
                            td
                              span.fa.fa-circle.text-primary.fs14.mr10
                              | Facebook
                            td 14%
                          tr
                            td
                              span.fa.fa-circle.text-warning.fs14.mr10
                              | Behance
                            td 24%
                          tr
                            td
                              span.fa.fa-circle.text-info.fs14.mr10
                              | Twitter
                            td 7%
                          tr
                            td
                              span.fa.fa-circle.text-primary.fs14.mr10
                              | Facebook
                            td 14%
                          tr
                            td
                              span.fa.fa-circle.text-warning.fs14.mr10
                              | Behance
                            td 24%
                          tr
                            td
                              span.fa.fa-circle.text-info.fs14.mr10
                              | Twitter
                            td 7%
                          tr
                            td
                              span.fa.fa-circle.text-primary.fs14.mr10
                              | Facebook
                            td 14%
                .col-md-6.col-lg-4
                  // Text List
                  .panel
                    .panel-heading
                      span.panel-title Text List
                    .panel-body.panel-scroller.scroller-sm.scroller-warning.scroller-pn.pn
                      table.table.mbn.tc-list-1.tc-text-muted-2.tc-fw600-2
                        thead
                          tr.hidden
                            th.w30 #
                            th First Name
                        tbody
                          tr
                            td 1.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 2.
                            td Lorem ipsc beyond raytas
                          tr
                            td 3.
                            td Amet, consectetur adipiscing
                          tr
                            td 4.
                            td Lorem consectetur adipiscing
                          tr
                            td 5.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 6.
                            td Lorem ipsc beyond raytas
                          tr
                            td 7.
                            td Amet, consectetur adipiscing
                          tr
                            td 8.
                            td Lorem consectetur adipiscing
                          tr
                            td 9.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 10.
                            td Lorem ipsc beyond raytas
                          tr
                            td 11.
                            td Amet, consectetur adipiscing
                          tr
                            td 12.
                            td Lorem consectetur adipiscing
                          tr
                            td 13.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 14.
                            td Lorem ipsc beyond raytas
                          tr
                            td 15.
                            td Amet, consectetur adipiscing
                          tr
                            td 16.
                            td Lorem consectetur adipiscing
                .col-md-6.col-lg-4
                  // Browser List
                  .panel
                    .panel-heading
                      span.panel-title Browser List
                    .panel-body.panel-scroller.scroller-sm.scroller-danger.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-2
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.mr10.mt1.fa.fa-chrome
                              | Google Chrome
                            td 54%
                          tr
                            td
                              span.mr10.mt1.fa.fa-opera
                              | Opera
                            td 18%
                          tr
                            td
                              span.mr10.mt1.fa.fa-firefox
                              | FireFox
                            td 25%
                          tr
                            td
                              span.mr10.mt1.fa.fa-safari
                              | Safari
                            td 49%
                          tr
                            td
                              span.mr10.mt1.fa.fa-internet-explorer
                              | Explorer
                            td 94%
                .col-md-6.col-lg-4
                  // Icon List
                  .panel
                    .panel-heading
                      span.panel-title Icon List
                    .panel-body.panel-scroller.scroller-sm.scroller-alert.scroller-pn.pn
                      table.table.mbn.tc-icon-1.tc-med-2.tc-bold-last
                        thead
                          tr.hidden
                            th.mw30 #
                            th First Name
                            th Revenue
                        tbody
                          tr
                            td
                              span.fa.fa-desktop.text-warning
                            td Television
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $855,913
                          tr
                            td
                              span.fa.fa-microphone.text-primary
                            td Radio
                            td
                              i.fa.fa-caret-down.text-danger.pr10
                              | $349,712
                          tr
                            td
                              span.fa.fa-newspaper-o.text-info
                            td Newspaper
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $1,259,742
                          tr
                            td
                              span.fa.fa-bank.text-alert
                            td Investments
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $3,512,672
                          tr
                            td
                              span.fa.fa-desktop.text-warning
                            td Television
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $855,913
                          tr
                            td
                              span.fa.fa-microphone.text-primary
                            td Radio
                            td
                              i.fa.fa-caret-down.text-danger.pr10
                              | $349,712
                          tr
                            td
                              span.fa.fa-newspaper-o.text-info
                            td Newspaper
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $1,259,742
                          tr
                            td
                              span.fa.fa-bank.text-alert
                            td Investments
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $3,512,672
                          tr
                            td
                              span.fa.fa-desktop.text-warning
                            td Television
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $855,913
                          tr
                            td
                              span.fa.fa-microphone.text-primary
                            td Radio
                            td
                              i.fa.fa-caret-down.text-danger.pr10
                              | $349,712
                          tr
                            td
                              span.fa.fa-newspaper-o.text-info
                            td Newspaper
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $1,259,742
                          tr
                            td
                              span.fa.fa-bank.text-alert
                            td Investments
                            td
                              i.fa.fa-caret-up.text-info.pr10
                              | $3,512,672
                .col-md-6.col-lg-4
                  // Dot Stats
                  .panel
                    .panel-heading
                      span.panel-title Dot/Addon Stats
                    .panel-body.panel-scroller.scroller-sm.scroller-system.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-last
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.fa.fa-circle.text-warning.fs14.mr10
                              | Behance
                            td 24%
                          tr
                            td
                              span.fa.fa-circle.text-info.fs14.mr10
                              | Twitter
                            td 7%
                          tr
                            td
                              span.fa.fa-circle.text-primary.fs14.mr10
                              | Facebook
                            td 14%
                          tr
                            td
                              span.fa.fa-circle.text-warning.fs14.mr10
                              | Behance
                            td 24%
                          tr
                            td
                              span.fa.fa-circle.text-info.fs14.mr10
                              | Twitter
                            td 7%
                          tr
                            td
                              span.fa.fa-circle.text-primary.fs14.mr10
                              | Facebook
                            td 14%
                          tr
                            td
                              span.fa.fa-circle.text-warning.fs14.mr10
                              | Behance
                            td 24%
                          tr
                            td
                              span.fa.fa-circle.text-info.fs14.mr10
                              | Twitter
                            td 7%
                          tr
                            td
                              span.fa.fa-circle.text-primary.fs14.mr10
                              | Facebook
                            td 14%
                .col-md-6.col-lg-4
                  // Text List
                  .panel
                    .panel-heading
                      span.panel-title Text List
                    .panel-body.panel-scroller.scroller-sm.scroller-dark.scroller-pn.pn
                      table.table.mbn.tc-list-1.tc-text-muted-2.tc-fw600-2
                        thead
                          tr.hidden
                            th.w30 #
                            th First Name
                        tbody
                          tr
                            td 1.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 2.
                            td Lorem ipsc beyond raytas
                          tr
                            td 3.
                            td Amet, consectetur adipiscing
                          tr
                            td 4.
                            td Lorem consectetur adipiscing
                          tr
                            td 5.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 6.
                            td Lorem ipsc beyond raytas
                          tr
                            td 7.
                            td Amet, consectetur adipiscing
                          tr
                            td 8.
                            td Lorem consectetur adipiscing
                          tr
                            td 9.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 10.
                            td Lorem ipsc beyond raytas
                          tr
                            td 11.
                            td Amet, consectetur adipiscing
                          tr
                            td 12.
                            td Lorem consectetur adipiscing
                          tr
                            td 13.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 14.
                            td Lorem ipsc beyond raytas
                          tr
                            td 15.
                            td Amet, consectetur adipiscing
                          tr
                            td 16.
                            td Lorem consectetur adipiscing
                .col-md-6.col-lg-4
                  // Text List
                  .panel
                    .panel-heading
                      span.panel-title Text List
                    .panel-body.panel-scroller.scroller-sm.scroller-pn.pn
                      table.table.mbn.tc-list-1.tc-text-muted-2.tc-fw600-2
                        thead
                          tr.hidden
                            th.w30 #
                            th First Name
                        tbody
                          tr
                            td 1.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 2.
                            td Lorem ipsc beyond raytas
                          tr
                            td 3.
                            td Amet, consectetur adipiscing
                          tr
                            td 4.
                            td Lorem consectetur adipiscing
                          tr
                            td 5.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 6.
                            td Lorem ipsc beyond raytas
                          tr
                            td 7.
                            td Amet, consectetur adipiscing
                          tr
                            td 8.
                            td Lorem consectetur adipiscing
                          tr
                            td 9.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 10.
                            td Lorem ipsc beyond raytas
                          tr
                            td 11.
                            td Amet, consectetur adipiscing
                          tr
                            td 12.
                            td Lorem consectetur adipiscing
                          tr
                            td 13.
                            td Lorem ipsum dolor sit amet
                          tr
                            td 14.
                            td Lorem ipsc beyond raytas
                          tr
                            td 15.
                            td Amet, consectetur adipiscing
                          tr
                            td 16.
                            td Lorem consectetur adipiscing
              h5.micro-header.mt30.text-left
                | Alternate Style Scroller -
                = ' '
                code .scroller-thick
              hr.alt.short
              #spy6.row
                .col-md-6.col-lg-4
                  // Country List
                  .panel
                    .panel-heading
                      span.panel-title Country List
                    .panel-body.panel-scroller.scroller-sm.scroller-thick.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-last
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.mr10.mt1.fa.fa-chrome
                              | Google Chrome
                            td 54%
                          tr
                            td
                              span.mr10.mt1.fa.fa-opera
                              | Opera
                            td 18%
                          tr
                            td
                              span.mr10.mt1.fa.fa-firefox
                              | FireFox
                            td 25%
                          tr
                            td
                              span.mr10.mt1.fa.fa-safari
                              | Safari
                            td 49%
                          tr
                            td
                              span.mr10.mt1.fa.fa-internet-explorer
                              | Explorer
                            td 94%
                .col-md-6.col-lg-4
                  // Country List
                  .panel
                    .panel-heading
                      span.panel-title Country List
                    .panel-body.panel-scroller.scroller-primary.scroller-sm.scroller-thick.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-last
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.mr10.mt1.fa.fa-chrome
                              | Google Chrome
                            td 54%
                          tr
                            td
                              span.mr10.mt1.fa.fa-opera
                              | Opera
                            td 18%
                          tr
                            td
                              span.mr10.mt1.fa.fa-firefox
                              | FireFox
                            td 25%
                          tr
                            td
                              span.mr10.mt1.fa.fa-safari
                              | Safari
                            td 49%
                          tr
                            td
                              span.mr10.mt1.fa.fa-internet-explorer
                              | Explorer
                            td 94%
                .col-md-6.col-lg-4
                  // Country List
                  .panel
                    .panel-heading
                      span.panel-title Country List
                    .panel-body.panel-scroller.scroller-warning.scroller-sm.scroller-thick.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-last
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.mr10.mt1.fa.fa-chrome
                              | Google Chrome
                            td 54%
                          tr
                            td
                              span.mr10.mt1.fa.fa-opera
                              | Opera
                            td 18%
                          tr
                            td
                              span.mr10.mt1.fa.fa-firefox
                              | FireFox
                            td 25%
                          tr
                            td
                              span.mr10.mt1.fa.fa-safari
                              | Safari
                            td 49%
                          tr
                            td
                              span.mr10.mt1.fa.fa-internet-explorer
                              | Explorer
                            td 94%
              h5.micro-header.mt30.text-left
                | Alternate Style On-Hover -
                = ' '
                code .scroller-overlay
              hr.alt.short
              #spy7.row
                .col-md-6.col-lg-4
                  // Country List
                  .panel
                    .panel-heading
                      span.panel-title Country List
                    .panel-body.panel-scroller.scroller-sm.scroller-overlay.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-last
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.mr10.mt1.fa.fa-chrome
                              | Google Chrome
                            td 54%
                          tr
                            td
                              span.mr10.mt1.fa.fa-opera
                              | Opera
                            td 18%
                          tr
                            td
                              span.mr10.mt1.fa.fa-firefox
                              | FireFox
                            td 25%
                          tr
                            td
                              span.mr10.mt1.fa.fa-safari
                              | Safari
                            td 49%
                          tr
                            td
                              span.mr10.mt1.fa.fa-internet-explorer
                              | Explorer
                            td 94%
                .col-md-6.col-lg-4
                  // Country List
                  .panel
                    .panel-heading
                      span.panel-title Country List
                    .panel-body.panel-scroller.scroller-primary.scroller-sm.scroller-overlay.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-last
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.mr10.mt1.fa.fa-chrome
                              | Google Chrome
                            td 54%
                          tr
                            td
                              span.mr10.mt1.fa.fa-opera
                              | Opera
                            td 18%
                          tr
                            td
                              span.mr10.mt1.fa.fa-firefox
                              | FireFox
                            td 25%
                          tr
                            td
                              span.mr10.mt1.fa.fa-safari
                              | Safari
                            td 49%
                          tr
                            td
                              span.mr10.mt1.fa.fa-internet-explorer
                              | Explorer
                            td 94%
                .col-md-6.col-lg-4
                  // Country List
                  .panel
                    .panel-heading
                      span.panel-title Country List
                    .panel-body.panel-scroller.scroller-warning.scroller-sm.scroller-overlay.scroller-pn.pn
                      table.table.mbn.tc-med-1.tc-bold-last
                        thead
                          tr.hidden
                            th #
                            th First Name
                        tbody
                          tr
                            td
                              span.mr10.mt1.fa.fa-chrome
                              | Google Chrome
                            td 54%
                          tr
                            td
                              span.mr10.mt1.fa.fa-opera
                              | Opera
                            td 18%
                          tr
                            td
                              span.mr10.mt1.fa.fa-firefox
                              | FireFox
                            td 25%
                          tr
                            td
                              span.mr10.mt1.fa.fa-safari
                              | Safari
                            td 49%
                          tr
                            td
                              span.mr10.mt1.fa.fa-internet-explorer
                              | Explorer
                            td 94%
    // core scripts
    script(src='plugins/core.min.js')
    // Theme Javascript
    script(src='assets/js/utility/utility.js')
    script(src='assets/js/demo/demo.js')
    script(src='assets/js/main.js')
    script(type='text/javascript').
      jQuery(document).ready(function () {
        "use strict";
        // Init Theme Core
        Core.init();
        // Init Demo JS
        Demo.init();
      });